<template>

  <div v-if="allAgeGroups.length > 0">
    <h3>Cricket</h3>

    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th>Year</th>
        <th>Age Group</th>
        <th>Performance</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in allAgeGroups">
        <td>{{ item.cricket_age_group.year }}</td>
        <td>
          <router-link :to="generateAgeGroupPageLink(item)">{{ item.cricket_age_group.title }}</router-link>
        </td>
        <td>
          <router-link class="" :to="generatePerformancePageLink(item)">View</router-link>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</template>

<script>
import CardSection from '@src/components/CardSection';

export default {
  name: 'ListInCricket',
  components: {CardSection},

  data() {
    return {

      /**
       * @type {CricketAgeGroupStudent[]}
       */
      allAgeGroups: [],

    };
  },

  computed: {
    studentId() {
      return this.$route.params['id'];
    },


  },

  async mounted() {
    try {
      this.allAgeGroups = await this.$store.dispatch('cricketAgeGroups/fetchAllForStudent', this.studentId);
    } catch (e) {

    }
  },

  methods: {

    generateAgeGroupPageLink(item) {
      return {
        name: 'cricketAgeGroupPage',
        params: {
          ageGroupId: item.cricket_age_group_id
        }
      };
    },

    generatePerformancePageLink(item) {
      return {
        name: 'CricketAgeGroupStudentPage',
        params: {
          ageGroupId: item.cricket_age_group_id,
          ageGroupStudentId: item.id
        }
      };
    }

  },

};
</script>

<style scoped>

</style>