<template>

  <ModalWindow ref="modal_add" title="Add batting performance">


    <div class="">

      <div class="mb-3">
        <label class="form-label">Match</label>
        <select class="form-select" v-model="formAddPerformance.match">
          <option :value="null" disabled>SELECT ONE OPTION</option>
          <option v-for="item in completedMatches" :value="item" :key="item.id">
            {{ item.match_date }} {{ item.tournament_name }}
          </option>
        </select>
      </div>

      <p class="lead text-center">Innings 1</p>
      <div class="row g-2">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.batting_runs_1">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Balls faced</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.batting_balls_faced_1">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">4s</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.batting_4s_1">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">6s</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.batting_6s_1">
          </div>
        </div><!-- col -->

      </div><!-- row -->

      <hr>

      <p class="lead text-center">Innings 2</p>
      <div class="row g-2">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.batting_runs_2">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Balls faced</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.batting_balls_faced_2">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">4s</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.batting_4s_2">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">6s</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.batting_6s_2">
          </div>
        </div><!-- col -->

      </div><!-- row -->



      <div class="text-center my-3">
        <button class="btn btn-primary" @click="onAddPerformance()">Add</button>
      </div>

    </div>

  </ModalWindow>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import ModalWindow from '@src/components/ModalWindow.vue';

const _ = require( 'lodash' );

export default {
  name: 'ModalAddBattingPerformance2Day',
  components: { ModalWindow },

  props: {
    completedMatches: {
      type: Array,
      required: true,
    },
    student: {
      type: Object,
      required: true,
    },
    matchType: {
      type: String,
      default: '1day',
    },
  },

  data() {
    return {

      /* performance to add */
      formAddPerformance: {
        student_id: this.student.id,
        match: null,
        performance_type: 'BATTING',
        batting_runs_1: 0,
        batting_runs_2: 0,
        batting_balls_faced_1: 0,
        batting_balls_faced_2: 0,
        batting_4s_1: 0,
        batting_4s_2: 0,
        batting_6s_1: 0,
        batting_6s_2: 0,
      },

    };
  },


  computed: {},


  methods: {

    show() {
      this.$refs.modal_add.show();
    }, /* show */

    hide() {
      this.$refs.modal_add.hide();
    }, /* hide */

    async onAddPerformance() {

      try {

        const params = {
          student_id: this.formAddPerformance.student_id,
          match_id: this.formAddPerformance.match.id,
          performance_type: this.formAddPerformance.performance_type,

          batting_runs_1: this.formAddPerformance.batting_runs_1,
          batting_runs_2: this.formAddPerformance.batting_runs_2,
          batting_balls_faced_1: this.formAddPerformance.batting_balls_faced_1,
          batting_balls_faced_2: this.formAddPerformance.batting_balls_faced_2,
          batting_4s_1: this.formAddPerformance.batting_4s_1,
          batting_4s_2: this.formAddPerformance.batting_4s_2,
          batting_6s_1: this.formAddPerformance.batting_6s_1,
          batting_6s_2: this.formAddPerformance.batting_6s_2,
        };

        await this.$store.dispatch( 'cricketPerformances2Days/add', params );

        this.$emit( 'performance-added' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to add the performance',
        } );
      }

    }, /* onAddPerformances */


  },


};


</script>

<style scoped>

</style>
