<template>

  <ModalWindow ref="modal_update" title="Update batting performance" @modal-closed="confirmDelete = false">


    <div class="">

      <p class="lead text-center">Innings 1</p>
      <div class="row g-2">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_runs_1">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Balls faced</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_balls_faced_1">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">4s</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_4s_1">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">6s</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_6s_1">
          </div>
        </div><!-- col -->

      </div><!-- row -->

      <hr>

      <p class="lead text-center">Innings 2</p>
      <div class="row g-2">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_runs_2">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Balls faced</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_balls_faced_2">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">4s</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_4s_2">
          </div>
        </div><!-- col -->

        <div class="col">
          <div class="mb-3">
            <label class="form-label">6s</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_6s_2">
          </div>
        </div><!-- col -->

      </div><!-- row -->


      <div class="text-center my-3">
        <button class="btn btn-primary" @click="onUpdatePerformance()">Update</button>
      </div>

      <div class="row">
        <div class="col text-center">

          <button class="btn btn-outline-danger mb-2" @click="confirmDelete = !confirmDelete">
            <i class="bi bi-trash-fill"></i>
          </button>

          <div class="alert alert-danger" v-if="confirmDelete">
            <p>Confirm delete to permanently remove the record.</p>
            <button class="btn btn-danger" @click="onDeletePerformance()">Confirm delete</button>
          </div>

        </div>
      </div>

    </div>

  </ModalWindow>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import ModalWindow from '@src/components/ModalWindow.vue';

const _ = require( 'lodash' );

export default {
  name: 'ModalEditBattingPerformance2Day',
  components: { ModalWindow },


  data() {
    return {

      /* performance to add */
      formUpdatePerformance: {
        id: 0,
        batting_runs_1: 0,
        batting_runs_2: 0,
        batting_balls_faced_1: 0,
        batting_balls_faced_2: 0,
        batting_4s_1: 0,
        batting_4s_2: 0,
        batting_6s_1: 0,
        batting_6s_2: 0,
      },

      /* delete performance */
      confirmDelete: false,

    };
  },


  methods: {

    show( performance ) {
      this.formUpdatePerformance = performance;
      this.$refs.modal_update.show();
    }, /* show */

    hide() {
      this.$refs.modal_update.hide();
    }, /* hide */

    async onUpdatePerformance() {

      try {

        const params = {
          id: this.formUpdatePerformance.id,

          batting_runs_1: this.formUpdatePerformance.batting_runs_1,
          batting_runs_2: this.formUpdatePerformance.batting_runs_2,
          batting_balls_faced_1: this.formUpdatePerformance.batting_balls_faced_1,
          batting_balls_faced_2: this.formUpdatePerformance.batting_balls_faced_2,
          batting_4s_1: this.formUpdatePerformance.batting_4s_1,
          batting_4s_2: this.formUpdatePerformance.batting_4s_2,
          batting_6s_1: this.formUpdatePerformance.batting_6s_1,
          batting_6s_2: this.formUpdatePerformance.batting_6s_2,
        };

        await this.$store.dispatch( 'cricketPerformances2Days/update', params );

        this.$emit( 'performance-updated' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to update batting performance',
        } );
      }

    }, /* onAddPerformances */

    async onDeletePerformance() {

      try {


        await this.$store.dispatch( 'cricketPerformances2Days/delete', this.formUpdatePerformance.id );

        this.$emit( 'performance-updated' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to delete batting performance',
        } );
      }

    },


  },


};


</script>

<style scoped>

</style>
