<template>

  <ModalWindow ref="modal_add" title="Add bowling performance">


    <div class="">

      <div class="mb-3">
        <label class="form-label fw-bold">Match</label>
        <select class="form-select" v-model="formAddPerformance.match">
          <option :value="null" disabled>SELECT ONE OPTION</option>
          <option v-for="item in completedMatches" :value="item" :key="item.id">
            {{ item.match_date }} {{ item.tournament_name }}
          </option>
        </select>
      </div>

      <p class="lead text-center">Innings 1</p>
      <div class="row g-2">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Overs</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_overs_1">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Balls</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_balls_1">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_runs_1">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Wickets</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_wickets_1">
          </div>
        </div>
      </div><!-- row -->

      <div class="row g-2 justify-content-center">
        <div class="col-3">
          <div class="mb-3">
            <label class="form-label">Wides</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_wides_1">
          </div>
        </div>
        <div class="col-3">
          <div class="mb-3">
            <label class="form-label">No balls</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_noballs_1">
          </div>
        </div>
      </div>

      <hr>

      <p class="lead text-center">Innings 2</p>
      <div class="row g-2">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Overs</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_overs_2">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Balls</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_balls_2">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_runs_2">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Wickets</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_wickets_2">
          </div>
        </div>
      </div><!-- row -->

      <div class="row g-2 justify-content-center">
        <div class="col-3">
          <div class="mb-3">
            <label class="form-label">Wides</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_wides_2">
          </div>
        </div>
        <div class="col-3">
          <div class="mb-3">
            <label class="form-label">No balls</label>
            <input type="number" class="form-control" v-model="formAddPerformance.bowling_noballs_2">
          </div>
        </div>
      </div>


      <div class="text-center my-3">
        <button class="btn btn-primary" @click="onAddPerformance()" :disabled="!formAddPerformance.match">Add performance</button>
      </div>

    </div>

  </ModalWindow>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import ModalWindow from '@src/components/ModalWindow.vue';

export default {
  name: 'ModalAddBowlingPerformance2Day',
  components: { ModalWindow },
  props: {
    completedMatches: {
      type: Array,
      required: true,
    },
    student: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {

      /* performance to add */
      formAddPerformance: {
        student_id: this.student.id,
        match: null,
        performance_type: 'BOWLING',

        bowling_overs_1: 0,
        bowling_overs_2: 0,

        bowling_balls_1: 0,
        bowling_balls_2: 0,

        bowling_runs_1: 0,
        bowling_runs_2: 0,

        bowling_wickets_1: 0,
        bowling_wickets_2: 0,

        bowling_wides_1: 0,
        bowling_wides_2: 0,

        bowling_noballs_1: 0,
        bowling_noballs_2: 0,
      },


    };
  },

  computed: {
    //
  },

  mounted() {
    //
  },

  methods: {
    show() {
      this.$refs.modal_add.show();
    }, /* show */

    hide() {
      this.$refs.modal_add.hide();
    }, /* hide */


    async onAddPerformance() {

      try {

        const params = {
          student_id: this.formAddPerformance.student_id,
          match_id: this.formAddPerformance.match.id,
          performance_type: this.formAddPerformance.performance_type,

          bowling_overs_1: this.formAddPerformance.bowling_overs_1,
          bowling_overs_2: this.formAddPerformance.bowling_overs_2,

          bowling_balls_1: this.formAddPerformance.bowling_balls_1,
          bowling_balls_2: this.formAddPerformance.bowling_balls_2,

          bowling_runs_1: this.formAddPerformance.bowling_runs_1,
          bowling_runs_2: this.formAddPerformance.bowling_runs_2,

          bowling_wickets_1: this.formAddPerformance.bowling_wickets_1,
          bowling_wickets_2: this.formAddPerformance.bowling_wickets_2,

          bowling_wides_1: this.formAddPerformance.bowling_wides_1,
          bowling_wides_2: this.formAddPerformance.bowling_wides_2,

          bowling_noballs_1: this.formAddPerformance.bowling_noballs_1,
          bowling_noballs_2: this.formAddPerformance.bowling_noballs_2,
        };

        await this.$store.dispatch( 'cricketPerformances2Days/add', params );

        this.$emit( 'performance-added' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to add the performance',
        } );
      }

    }, /* onAddPerformances */

  },

};
</script>

<style scoped>

</style>
