<template>

  <ModalWindow ref="modal_update" title="Edit bowling performance" @modal-closed="confirmDelete = false">


    <div class="">

      <p class="lead text-center">Innings 1</p>
      <div class="row g-2">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Overs</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_overs_1">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Balls</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_balls_1">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_runs_1">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Wickets</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_wickets_1">
          </div>
        </div>
      </div><!-- row -->

      <div class="row g-2 justify-content-center">
        <div class="col-3">
          <div class="mb-3">
            <label class="form-label">Wides</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_wides_1">
          </div>
        </div>
        <div class="col-3">
          <div class="mb-3">
            <label class="form-label">No balls</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_noballs_1">
          </div>
        </div>
      </div>

      <hr>

      <p class="lead text-center">Innings 2</p>
      <div class="row g-2">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Overs</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_overs_2">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Balls</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_balls_2">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_runs_2">
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Wickets</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_wickets_2">
          </div>
        </div>
      </div><!-- row -->

      <div class="row g-2 justify-content-center">
        <div class="col-3">
          <div class="mb-3">
            <label class="form-label">Wides</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_wides_2">
          </div>
        </div>
        <div class="col-3">
          <div class="mb-3">
            <label class="form-label">No balls</label>
            <input type="number" class="form-control" v-model="formUpdatePerformance.bowling_noballs_2">
          </div>
        </div>
      </div>


      <div class="text-center my-3">
        <button class="btn btn-primary" @click="onUpdatePerformance()">Update performance</button>
      </div>

      <div class="row">
        <div class="col text-center">

          <button class="btn btn-outline-danger mb-2" @click="confirmDelete = !confirmDelete">
            <i class="bi bi-trash-fill"></i>
          </button>

          <div class="alert alert-danger" v-if="confirmDelete">
            <p>Confirm delete to permanently remove the record.</p>
            <button class="btn btn-danger" @click="onDeletePerformance()">Confirm delete</button>
          </div>

        </div>
      </div>

    </div>

  </ModalWindow>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import ModalWindow from '@src/components/ModalWindow.vue';

export default {
  name: 'ModalEditBowlingPerformance2Day',
  components: { ModalWindow },

  data() {
    return {

      /* performance to update */
      formUpdatePerformance: {
        id: 0,
        bowling_overs_1: 0,
        bowling_overs_2: 0,

        bowling_balls_1: 0,
        bowling_balls_2: 0,

        bowling_runs_1: 0,
        bowling_runs_2: 0,

        bowling_wickets_1: 0,
        bowling_wickets_2: 0,

        bowling_wides_1: 0,
        bowling_wides_2: 0,

        bowling_noballs_1: 0,
        bowling_noballs_2: 0,
      },

      /* delete performance */
      confirmDelete: false,


    };
  },


  methods: {

    show( performance ) {

      this.formUpdatePerformance = performance;

      this.$refs.modal_update.show();
    }, /* show */

    hide() {
      this.$refs.modal_update.hide();
    }, /* hide */


    async onUpdatePerformance() {

      try {

        const params = {
          id: this.formUpdatePerformance.id,
          // match_id: this.formUpdatePerformance.match.id,
          // performance_type: this.formUpdatePerformance.performance_type,
          bowling_overs_1: this.formUpdatePerformance.bowling_overs_1,
          bowling_overs_2: this.formUpdatePerformance.bowling_overs_2,

          bowling_balls_1: this.formUpdatePerformance.bowling_balls_1,
          bowling_balls_2: this.formUpdatePerformance.bowling_balls_2,

          bowling_runs_1: this.formUpdatePerformance.bowling_runs_1,
          bowling_runs_2: this.formUpdatePerformance.bowling_runs_2,

          bowling_wickets_1: this.formUpdatePerformance.bowling_wickets_1,
          bowling_wickets_2: this.formUpdatePerformance.bowling_wickets_2,

          bowling_wides_1: this.formUpdatePerformance.bowling_wides_1,
          bowling_wides_2: this.formUpdatePerformance.bowling_wides_2,

          bowling_noballs_1: this.formUpdatePerformance.bowling_noballs_1,
          bowling_noballs_2: this.formUpdatePerformance.bowling_noballs_2,
        };

        await this.$store.dispatch( 'cricketPerformances2Days/update', params );

        this.$emit( 'performance-updated' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to update the bowling performance',
        } );
      }

    }, /* onAddPerformances */

    async onDeletePerformance() {

      try {


        await this.$store.dispatch( 'cricketPerformances2Days/delete', this.formUpdatePerformance.id );

        this.$emit( 'performance-updated' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to delete bowling performance',
        } );
      }

    },

  },

};
</script>

<style scoped>

</style>
