<template>
	<div>
		<TopNavigationBar/>
		
		
		<div class="container">
			<div class="row justify-content-center">
				
				<div class="col-6">
					
					<div class="window purple">
						<div class="window-title">
							Edit Master in-charge
						</div>
						
						<div class="window-body">
							
							<div class="mb-3">
								<label class="form-label">Full name</label>
								<input type="text" class="form-control" v-model.trim="masterInCharge.full_name">
							</div>
							
							<div class="row">
								<div class="col">
									
									<div class="mb-3">
										<label class="form-label">Contact number</label>
										<input type="text" class="form-control" v-model.trim="masterInCharge.contact_number">
									</div>
								
								</div>
								<div class="col">
									
									<div class="mb-3">
										<label class="form-label">Email</label>
										<input type="text" class="form-control" v-model.trim="masterInCharge.email">
									</div>
								
								</div>
							</div>
							
							<div class="mb-3">
								<label class="form-label">Address</label>
								<textarea rows="3" class="form-control" v-model.trim="masterInCharge.address"></textarea>
							</div>
							
							<div class="text-center">
								<button class="btn btn-primary" @click="onEdit()">Update</button>
								<router-link to="/staff/masters-in-charge" class="btn btn-secondary">Cancel</router-link>
							</div>
							
							
							<hr>
							
							<h4 class="text-center">Profile Picture</h4>
							<div class="profile__picture text-center position-relative mb-4">
								<img :src="profilePicUrl" alt="" class="img-fluid img-thumbnail shadow" style="width: 200px">
							</div>
							
							<div class="mb-3">
								<label class="form-label">Upload profile picture</label>
								<input type="file" class="form-control" ref="profilePicField" @change="onChooseFile()">
							</div>
							
							<div class="text-center">
								<button class="btn btn-primary" @click="onUploadProfilePic()">Upload</button>
							</div>
						
						</div>
					
					</div><!-- window -->
				
				</div>
			
			</div>
		</div>
	
	
	</div>
</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import TopNavigationBar from '@src/components/TopNavigationBar';

export default {
	name: 'EditMasterInChargePage',
	components: { TopNavigationBar },
	
	data() {
		return {
			profilePicFile: null,
		};
	},
	
	computed: {
		
		masterInCharge() {
			return this.$store.getters[ 'mastersInCharge/getSelectedMasterInCharge' ];
		},
		
		profilePicUrl() {
			if ( _.isEmpty( this.masterInCharge.profile_pic ) ) {
				return '/images/profile_pic.svg';
			}
			return this.masterInCharge.profile_pic;
		},
		
	}, /* __computed__ */
	
	async mounted() {
		try {
			
			const id = this.$route.params.id;
			await this.$store.dispatch( 'mastersInCharge/fetch', id );
			
		} catch ( e ) {
			errorDialog( { message: 'Failed to fetch staff details' } );
		}
		
	}, /* __mounted__ */
	
	methods: {
		
		async onEdit() {
			
			try {
				
				this.validateForm();
				
			} catch ( e ) {
				errorDialog( { message: e } );
				return;
			}
			
			try {
				
				const params = {
					id: this.masterInCharge.id,
					full_name: this.masterInCharge.full_name,
					email: this.masterInCharge.email,
					contact_number: this.masterInCharge.contact_number,
					address: this.masterInCharge.address,
				};
				
				await this.$store.dispatch( 'mastersInCharge/update', params );
				await this.$router.push( '/staff/masters-in-charge' );
				
				successDialog( { message: 'Staff details updated' } );
				
			} catch ( e ) {
				errorDialog( { message: 'Failed to update staff details' } );
			}
		}, /* edit */
		
		
		validateForm() {
			
			if ( this.masterInCharge.full_name === '' ) {
				throw 'Full name is required';
			} else if ( this.masterInCharge.address === '' ) {
				throw 'Address is required';
			} else if ( this.masterInCharge.contact_number === '' ) {
				throw 'Contact number is required';
			}
			
		}, /* validate form */
		
		onChooseFile() {
			this.profilePicFile = this.$refs.profilePicField.files[ 0 ];
		}, /* choose profile pic */
		
		async onUploadProfilePic() {
			
			try {
				
				const params = {
					id: this.masterInCharge.id,
					profile_pic: this.profilePicFile,
				};
				
				await this.$store.dispatch( 'mastersInCharge/uploadProfilePic', params );
				
				const id = this.$route.params.id;
				await this.$store.dispatch( 'mastersInCharge/fetch', id );
				
			} catch ( e ) {
				errorDialog( { message: 'Failed to upload profile pic' } );
			}
			
		}, /* on upload profile pic */
		
	}, /* __methods__ */
	
};
</script>

<style scoped>

</style>
