<template>

  <div class="container my-5" v-if="loaded">

    <div class="row">
      <div class="col">

        <div class="card shadow">
          <div class="card-header">
            <h3 class="text-center mb-0">Cricket {{ ageGroup.title }} ({{ ageGroup.year }})</h3>
          </div>
          <div class="card-body">

            <table class="table table-bordered mb-3">
              <tbody>
              <tr>
                <td class="w-50">
                  <p class="lead mb-1">Master in-charge</p>
                  <div class="fw-bold">{{ ageGroup.master_in_charge.full_name }}</div>
                  <div class="fw-bold">{{ ageGroup.master_in_charge.contact_number }}</div>
                </td>
              </tr>
              </tbody>
            </table>


            <div class="section__practice_times mb-3">

              <h2>Practice times at {{ ageGroup.practice.place }}</h2>

              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr>
                    <td>
                      <input type="time" class="form-control" v-model="practiceTimes.mon_start">
                      <input type="time" class="form-control" v-model="practiceTimes.mon_end">
                    </td>
                    <td>
                      <input type="time" class="form-control" v-model="practiceTimes.tue_start">
                      <input type="time" class="form-control" v-model="practiceTimes.tue_end">
                    </td>
                    <td>
                      <input type="time" class="form-control" v-model="practiceTimes.wed_start">
                      <input type="time" class="form-control" v-model="practiceTimes.wed_end">
                    </td>
                    <td>
                      <input type="time" class="form-control" v-model="practiceTimes.thu_start">
                      <input type="time" class="form-control" v-model="practiceTimes.thu_end">
                    </td>
                    <td>
                      <input type="time" class="form-control" v-model="practiceTimes.fri_start">
                      <input type="time" class="form-control" v-model="practiceTimes.fri_end">
                    </td>
                    <td>
                      <input type="time" class="form-control" v-model="practiceTimes.sat_start">
                      <input type="time" class="form-control" v-model="practiceTimes.sat_end">
                    </td>
                    <td>
                      <input type="time" class="form-control" v-model="practiceTimes.sun_start">
                      <input type="time" class="form-control" v-model="practiceTimes.sun_end">
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>

            </div> <!-- section: practice times -->


            <div class="section__students mb-3">

              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Student</th>
                  <th>Class</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in studentsList" :key="item.id">
                  <td>{{ item.student.full_name }}</td>
                  <td>{{ item.student.grade }}</td>
                </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="loading position-absolute top-50 start-50 translate-middle" v-else>
    <h1>Loading...</h1>
  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import voca from 'voca';

export default {
  name: 'CricketPracticeDetailsPage',


  data() {
    return {

      loaded: false,

      practiceTimes: {
        sun_start: '',
        sun_end: '',
        mon_start: '',
        mon_end: '',
        tue_start: '',
        tue_end: '',
        wed_start: '',
        wed_end: '',
        thu_start: '',
        thu_end: '',
        fri_start: '',
        fri_end: '',
        sat_start: '',
        sat_end: '',
      },

    };
  },

  computed: {

    ageGroupId: function () {
      return this.$route.params.ageGroupId;
    },

    ageGroup() {
      return this.$store.getters[ 'cricketAgeGroups/getAgeGroup' ];
    },

    studentsList() {
      return this.$store.getters[ 'cricketAgeGroups/getStudentsListInAgeGroup' ];
    },

  },


  mounted: async function () {

    try {

      await this.$store.dispatch( 'cricketAgeGroups/fetch', this.ageGroupId );
      await this.$store.dispatch( 'cricketAgeGroups/fetchAllAgeGroupStudents', this.ageGroupId );

      this._processPracticeTimes( this.ageGroup.practice );

      this.loaded = true;

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch details' } );
    }

    this.$nextTick( () => {
      let timeFields = document.querySelectorAll( 'input[type=time]' );

      timeFields.forEach( element => {
        element.disabled = true;

        element.classList.add( 'mb-1' );

      } );

    } );


  },


  methods: {

    _processPracticeTimes( practiceData ) {

      let day = voca.split( practiceData.monday, ',' );
      this.practiceTimes.mon_start = day[ 0 ];
      this.practiceTimes.mon_end = day[ 1 ];

      day = voca.split( practiceData.tuesday, ',' );
      this.practiceTimes.tue_start = day[ 0 ];
      this.practiceTimes.tue_end = day[ 1 ];

      day = voca.split( practiceData.wednesday, ',' );
      this.practiceTimes.wed_start = day[ 0 ];
      this.practiceTimes.wed_end = day[ 1 ];

      day = voca.split( practiceData.thursday, ',' );
      this.practiceTimes.thu_start = day[ 0 ];
      this.practiceTimes.thu_end = day[ 1 ];

      day = voca.split( practiceData.friday, ',' );
      this.practiceTimes.fri_start = day[ 0 ];
      this.practiceTimes.fri_end = day[ 1 ];

      day = voca.split( practiceData.saturday, ',' );
      this.practiceTimes.sat_start = day[ 0 ];
      this.practiceTimes.sat_end = day[ 1 ];

      day = voca.split( practiceData.sunday, ',' );
      this.practiceTimes.sun_start = day[ 0 ];
      this.practiceTimes.sun_end = day[ 1 ];


    },

  },

};
</script>

<style scoped>

</style>
