<template>

  <div>

    <CardSection class="mb-3">
      <template v-slot:title>

        <div class="d-flex gap-2">
          <button class="btn btn-sm btn-primary" @click="$refs.modal_add_match_1day.show()">
            Add a match
          </button>
          <div class="">
            One Day Matches
          </div>

        </div>

      </template>


      <div id="charts__cricket_performance" class="mb-3">
        <div class="row g-2">

          <div class="col-3">
            <div class="card">
              <div class="card-header">Matches Played</div>
              <div class="card-body">
                <canvas id="chart_pie__match_types" height="250px"></canvas>
              </div>
            </div>
          </div>


          <div class="col-9">
            <div class="card">
              <div class="card-header">Games Scores</div>
              <div class="card-body">
                <canvas id="chart_bar__games_score" height="250px"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="">

        <div class="mb-3">

        </div>


        <!-- Upcoming matches -->
        <div class="" v-if="upcomingMatches">

          <h4>Upcoming matches ({{ upcomingMatches.length }})</h4>
          <table class="table table-sm table-bordered">
            <thead>
            <tr>
              <th>Date</th>
              <th>Tournament</th>
              <th>Ground</th>
              <th>Team B</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in upcomingMatches" :key="item.id">
              <td>
                <div class="pseudo-link text-primary" @click="openEditModal(item)">{{ item.match_date }}</div>
              </td>
              <td>{{ item.tournament_name }}</td>
              <td>{{ item.ground }}</td>
              <td>{{ item.b_team_name }}</td>
            </tr>
            </tbody>
          </table>

        </div>

        <div class="my-3"></div>

        <!-- Completed matches -->
        <div class="" v-if="completedMatches">
          <h4>Completed matches ({{ completedMatches.length }})</h4>
          <table class="table table-sm table-bordered">
            <thead>
            <tr>
              <th>Date</th>
              <th>Tournament</th>
              <th>Ground</th>
              <th>Team B</th>
              <th class="text-center">Score (Runs/Wickets)</th>
              <th class="text-center">Result</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="item in completedMatches" :key="item.id">
              <td>
                <div class="pseudo-link text-primary" @click="openEditModal(item)">{{ item.match_date }}</div>
              </td>
              <td>{{ item.tournament_name }}</td>
              <td>{{ item.ground }}</td>
              <td>{{ item.b_team_name }}</td>
              <td>

                <div class="d-flex gap-2 justify-content-between w-100">
                  <div class="alert m-0 alert-success p-0 px-1">A: {{ item.a_runs }} / {{ item.a_wickets }}</div>
                  <div class="alert m-0 alert-warning p-0 px-1">{{ item.b_runs }} / {{ item.b_wickets }} :B</div>
                </div>

              </td>
              <td class="fw-bold text-center">{{ renderResult( item.result ) }}</td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>

    </CardSection>

    <!--
     # ---------------------------
     # MODAL: add match
     # ---------------------------
     -->

    <ModalWindow id="modal_add_match_1day" ref="modal_add_match_1day" title="Add a 1 day match">

      <div class="row g-2">

        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Match date</label>
            <DateField v-model="matchToAdd.match_date"/>
          </div>
        </div>

        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Tournament name</label>
            <input type="text" class="form-control" v-model.trim="matchToAdd.tournament_name">
          </div>
        </div>

      </div>

      <div class="row g-2">
        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Ground</label>
            <input type="text" class="form-control" v-model.trim="matchToAdd.ground">
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Team B Name</label>
            <input type="text" class="form-control" v-model.trim="matchToAdd.b_team_name">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col text-center">

          <button class="btn btn-primary" @click="onAddMatch()">Add</button>

        </div>
      </div>

    </ModalWindow>

    <!--
     # ---------------------------
     # MODAL: Edit match
     # ---------------------------
     -->

    <ModalWindow id="modal_edit_match_1day" ref="modal_edit_match_1day" title="Edit match details">

      <div class="row g-2">

        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Match date</label>
            <DateField v-model="selectedMatch.match_date"/>
          </div>
        </div>

        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Tournament name</label>
            <input type="text" class="form-control" v-model.trim="selectedMatch.tournament_name">
          </div>
        </div>

      </div>

      <div class="row g-2">
        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Ground</label>
            <input type="text" class="form-control" v-model.trim="selectedMatch.ground">
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Team B Name</label>
            <input type="text" class="form-control" v-model.trim="selectedMatch.b_team_name">
          </div>

        </div>
      </div>


      <div class="row g-2">
        <!-- team A -->
        <div class="col">

          <div class="alert alert-success">

            <p class="lead text-center">Team A (Us)</p>

            <div class="d-flex gap-2">
              <div class="mb-3">
                <label class="form-label">Runs</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.a_runs">
              </div>

              <div class="mb-3">
                <label class="form-label">Wickets</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.a_wickets">
              </div>

            </div>

          </div>

        </div>

        <!-- team B -->
        <div class="col">

          <div class="alert alert-warning">

            <p class="lead text-center">Team B (Them)</p>

            <div class="d-flex gap-2">

              <div class="mb-3">
                <label class="form-label">Runs</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.b_runs">
              </div>

              <div class="mb-3">
                <label class="form-label">Wickets</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.b_wickets">
              </div>

            </div>


          </div>


        </div>

      </div><!-- row -->


      <div class="row justify-content-center">
        <div class="col-4">

          <div class="mb-3 text-center">
            <label class="form-label">Result</label>
            <select class="form-select" v-model="selectedMatch.result">
              <option v-for="(item, key) in results" :value="key" :key="key">{{ item }}</option>
            </select>
          </div>

        </div><!-- col -->

        <div class="col-4">

          <div class="mb-3 text-center">
            <label class="form-label">Status</label>
            <select class="form-select" v-model="selectedMatch.status">
              <option v-for="(item, key) in statuses" :value="key" :key="key">{{ item }}</option>
            </select>
          </div>

        </div><!-- col -->
      </div>

      <div class="row">
        <div class="col text-center">

          <button class="btn btn-primary" @click="onUpdateMatch()">Update</button>

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col">

          <div class="alert alert-danger  text-center">
            <div>Remove this performance details. This action is irreversible. To remove, type 'DELETE' to confirm.</div>

            <input type="text" class="form-control mb-3" v-model="deleteSelectedPerformance.textConfirm">
            <button class="btn btn-sm btn-danger"
                    :disabled="deleteSelectedPerformance.textConfirm !== 'DELETE'"
                    @click="onRemoveMatch()">
              Confirm Delete
            </button>

          </div>
        </div>

      </div>


    </ModalWindow>


  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';
import DateField from '@src/components/fields/DateField';
import ModalWindow from '@src/components/ModalWindow';

import Chart from 'chart.js/auto';

import moment from 'moment';

const _ = require( 'lodash' );

export default {
  name: 'CricketMatch1Day',
  components: { DateField, ModalWindow, CardSection },

  props: {
    ageGroupId: {
      required: true,
      type: Number,
    },
  },

  data() {
    return {

      match_types: {
        '1D': 'One day',
        '2D': 'Two day',
        'T20': 'T20',
      },

      results: {
        'WIN': 'Win',
        'LOSS': 'Loss',
        'TIE': 'Tie',
        'DRAW': 'Draw',
        'NO': 'No result',
      },

      statuses: {
        'COMPLETED': 'Completed',
        'UPCOMING': 'Upcoming',
      },


      /**
       * Performance to add (goes in the add modal)
       */
      matchToAdd: {
        age_group_id: this.ageGroupId,

        tournament_name: '',
        match_date: moment().format( 'YYYY-MM-DD' ),
        match_type: '1D',
        ground: '',

        a_runs: 0,
        a_wickets: 0,

        b_team_name: '',
        b_runs: 0,
        b_wickets: 0,

        result: 'NO',

      },

      /*
      * Selected performance to edit (goes in the edit modal)
      * */
      selectedMatch: {
        age_group_id: this.ageGroupId,

        tournament_name: '',
        match_date: moment().format( 'YYYY-MM-DD' ),
        match_type: '1D',
        ground: '',

        a_runs: 0,
        a_wickets: 0,

        b_team_name: '',
        b_runs: 0,
        b_wickets: 0,

        result: 'WIN',
      },

      /**
       * Delete selected performance
       */
      deleteSelectedPerformance: {
        textConfirm: '',
      },


      /*
      * Chart.js data
      * */
      chartMatches: null,
      chartRuns: null,


    };
  },


  computed: {

    /** @returns {CricketAgeGroupMatch[]} */
    matchesList() {
      return this.$store.getters[ 'cricketMatches1Day/getMatchesList' ];
    },

    matchesListGroupedByStatus() {
      return _.groupBy( this.matchesList, ( item ) => item.status );
    },

    /** @returns {CricketAgeGroupMatch[]} */
    completedMatches() {
      return this.matchesListGroupedByStatus[ 'COMPLETED' ];
    },

    /** @returns {CricketAgeGroupMatch[]} */
    upcomingMatches() {
      return this.matchesListGroupedByStatus[ 'UPCOMING' ];
    },

    /** @returns {CricketGameStats} */
    gameStats() {
      return this.$store.getters[ 'cricketMatches1Day/getStats' ];
    },

  },


  async mounted() {

    await this._fetchAllMatches();
    await this._fetchStats();

  },


  methods: {

    async onAddMatch() {

      try {

        const params = {
          age_group_id: this.matchToAdd.age_group_id,

          tournament_name: this.matchToAdd.tournament_name,
          match_date: this.matchToAdd.match_date,
          ground: this.matchToAdd.ground,

          a_runs: this.matchToAdd.a_runs,
          a_wickets: this.matchToAdd.a_wickets,

          b_team_name: this.matchToAdd.b_team_name,
          b_runs: this.matchToAdd.b_runs,
          b_wickets: this.matchToAdd.b_wickets,

          result: this.matchToAdd.result,

        };

        await this.$store.dispatch( 'cricketMatches1Day/addMatch', params );

        await this._fetchAllMatches();
        await this._fetchStats();


        /* close/hide the modal window once performance is successfully added. */
        this.$refs.modal_add_match_1day.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to add performance details',
        } );
      }

    }, /* on add performance */


    async onUpdateMatch() {
      try {

        const params = {
          id: this.selectedMatch.id,

          tournament_name: this.selectedMatch.tournament_name,
          match_date: this.selectedMatch.match_date,
          ground: this.selectedMatch.ground,

          a_runs: this.selectedMatch.a_runs,
          a_wickets: this.selectedMatch.a_wickets,

          b_team_name: this.selectedMatch.b_team_name,
          b_runs: this.selectedMatch.b_runs,
          b_wickets: this.selectedMatch.b_wickets,

          result: this.selectedMatch.result,
          status: this.selectedMatch.status,
        };

        await this.$store.dispatch( 'cricketMatches1Day/updateMatch', params );

        await this._fetchAllMatches();
        await this._fetchStats();


        /* close/hide the modal window once performance is successfully added. */
        this.$refs.modal_edit_match_1day.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to update performance details',
        } );
      }
    }, /* on update performance */


    async onRemoveMatch() {

      try {

        await this.$store.dispatch( 'cricketMatches1Day/removeMatch', this.selectedMatch.id );

        await this._fetchAllMatches();
        await this._fetchStats();


        /* close/hide the modal window once performance is successfully added. */
        this.$refs.modal_edit_match_1day.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to delete performance details',
        } );
      }

    }, /* onRemoveMatch */

    openEditModal( selected ) {
      this.selectedMatch = selected;
      this.$refs.modal_edit_match_1day.show();
    }, /* on open edit modal window */


    /*
    *
    * PRIVATE METHODS ------------------------------------------------------------------------------------
    *
    * */

    async _fetchAllMatches() {

      try {
        await this.$store.dispatch( 'cricketMatches1Day/fetchAllMatches', this.ageGroupId );
      } catch ( e ) {
        errorDialog( {
          message: 'Unable to fetch performance details',
        } );
      }

    }, /* fetch all performances */

    async _fetchStats() {
      try {

        await this.$store.dispatch( 'cricketMatches1Day/fetchStats', this.ageGroupId );

        this._generateOneDayGamesPieChart();
        this._generateOneDayGamesRunsBarChart();

      } catch ( e ) {
        errorDialog( { message: 'Failed to fetch games stats' } );
      }
    },


    /*
    *
    * RENDER METHODS ---------------------------------------------------------------------------------------
    *
    * */
    renderResult( value ) {
      return this.results[ value ];
    },


    /*
    *
    * Chart JS METHODS --------------------------------------------------------------------------------------
    *
    * */

    _generateOneDayGamesPieChart() {

      /* Chart: Match Types (win, loss, tie ...) */

      if ( this.chartMatches !== null ) {

        this.chartMatches.data.datasets[ 0 ].data = [
          this.gameStats.matches.win,
          this.gameStats.matches.loss,
          this.gameStats.matches.tie,
          this.gameStats.matches.draw,
        ];

        this.chartMatches.update();

      } else {

        this.chartMatches = new Chart( 'chart_pie__match_types', {
          type: 'doughnut',
          data: {
            labels: ['Win', 'Loss', 'Tie', 'Draw', 'No'],
            datasets: [
              {
                data: [
                  this.gameStats.matches.win,
                  this.gameStats.matches.loss,
                  this.gameStats.matches.tie,
                  this.gameStats.matches.draw,
                  this.gameStats.matches.no,
                ],
                backgroundColor: ['#2ecc71', '#e74c3c', '#7f8c8d', '#f1c40f', '#34495e'],
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
          },
        } );

      }

      this.chartMatches.canvas.parentNode.style.height = '250px';

    },

    _generateOneDayGamesRunsBarChart() {

      /* Chart: Runs for games played */

      if ( this.chartRuns !== null ) {
        this.chartRuns.data = {
          labels: this.gameStats.games_runs.games_titles,
          datasets: [
            {
              label: 'Team A',
              data: this.gameStats.games_runs.team_a_runs,
              backgroundColor: ['#1B9CFC'],
            },
            {
              label: 'Team B',
              data: this.gameStats.games_runs.team_b_runs,
              backgroundColor: ['#F97F51'],
            },
          ],
        };
        this.chartRuns.update();


      } else {

        this.chartRuns = new Chart( 'chart_bar__games_score', {
          type: 'bar',
          data: {
            labels: this.gameStats.games_runs.games_titles,
            datasets: [
              {
                label: 'Team A',
                data: this.gameStats.games_runs.team_a_runs,
                backgroundColor: ['#1B9CFC'],
              },
              {
                label: 'Team B',
                data: this.gameStats.games_runs.team_b_runs,
                backgroundColor: ['#F97F51'],
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
            maintainAspectRatio: false,
          },
        } );

      }
      this.chartRuns.canvas.parentNode.style.height = '250px';

    },


  },


};
</script>

<style scoped>

.badge {
  cursor: pointer;
}

</style>
