<template>

  <div>

    <CardSection class="mb-3" :visible="true">
      <template v-slot:title>
        <div class="d-flex gap-2">
          <button class="btn btn-sm btn-primary" @click="$refs.modal_add_match_2days.show()">
            Add a match
          </button>
          <div class="">
            Two Days Matches
          </div>

        </div>

      </template>


      <!-- Start: Charts/ Graphs -->
      <div id="charts__cricket_performance" class="mb-3">
        <div class="row g-2">

          <div class="col-3">
            <div class="card">
              <div class="card-header">Matches Played</div>
              <div class="card-body">
                <canvas id="chart_pie__match_types_2days" height="250px"></canvas>
              </div>
            </div>
          </div>


          <div class="col-9">
            <div class="card">
              <div class="card-header">Games Scores</div>
              <div class="card-body">
                <canvas id="chart_bar__games_score_2days" height="250px"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- End: Charts/Graphs -->


      <!-- upcoming matches -->
      <div class="upcoming_matched" v-if="upcomingMatches">
        <h4>Upcoming matches ({{ upcomingMatches.length }})</h4>

        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th>Date</th>
            <th>Tournament</th>
            <th>Ground</th>
            <th>Team B</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in upcomingMatches" :key="item.id">
            <td>
              <div class="pseudo-link text-primary" @click="openEditModal(item)">{{ item.match_date }}</div>
            </td>
            <td>{{ item.tournament_name }}</td>
            <td>{{ item.ground }}</td>
            <td>{{ item.b_team_name }}</td>
          </tr>
          </tbody>
        </table>

      </div>

      <!-- completed matched -->
      <div class="completed_matched" v-if="completedMatches">
        <h4>Completed matches ({{ completedMatches.length }})</h4>

        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th>Date</th>
            <th>Tournament</th>
            <th>Ground</th>
            <th>Team B</th>
            <th class="text-center">Score (Runs/Wickets)</th>
            <th class="text-center">Result</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in completedMatches" :key="item.id">
            <td>
              <div class="pseudo-link text-primary" @click="openEditModal(item)">{{ item.match_date }}</div>
            </td>
            <td>{{ item.tournament_name }}</td>
            <td>{{ item.ground }}</td>
            <td>{{ item.b_team_name }}</td>
            <td>

              <div class="d-flex gap-2 justify-content-between w-100">
                <div class="alert m-0 alert-success p-1 w-50">
                  <div class="">
                    A1: {{ item.a_runs_1 }} / {{ item.a_wickets_1 }}
                  </div>
                  <div class="">
                    A2: {{ item.a_runs_2 }} / {{ item.a_wickets_2 }}
                  </div>
                </div>
                <div class="alert m-0 alert-warning p-1 w-50">
                  <div class="">
                    B1: {{ item.b_runs_1 }} / {{ item.b_wickets_1 }}
                  </div>
                  <div class="">
                    B2: {{ item.b_runs_2 }} / {{ item.b_wickets_2 }}
                  </div>
                </div>
              </div>

            </td>
            <td class="fw-bold text-center">{{ renderResult( item.result ) }}</td>
          </tr>
          </tbody>
        </table>


      </div>

    </CardSection>

    <!--
     # ---------------------------
     # MODAL: add match
     # ---------------------------
     -->

    <ModalWindow id="modal_add_match_2days" ref="modal_add_match_2days" title="Add a new 2 days match">
      <div class="row g-2">

        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Match date</label>
            <DateField v-model="matchToAdd.match_date"/>
          </div>
        </div>

        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Tournament name</label>
            <input type="text" class="form-control" v-model.trim="matchToAdd.tournament_name">
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Ground</label>
            <input type="text" class="form-control" v-model.trim="matchToAdd.ground">
          </div>
        </div>

      </div><!-- row -->


      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Team B Name</label>
            <input type="text" class="form-control" v-model.trim="matchToAdd.b_team_name">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col text-center">
          <button class="btn btn-primary" @click="onAddMatch()">Add</button>
        </div>
      </div>

    </ModalWindow>


    <!--
     # ---------------------------
     # MODAL: edit match
     # ---------------------------
     -->

    <ModalWindow id="modal_edit_match_2days" ref="modal_edit_match_2days" title="Edit match details" size="lg">

      <div class="row g-2">

        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Match date</label>
            <DateField v-model="selectedMatch.match_date"/>
          </div>
        </div>

        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Tournament name</label>
            <input type="text" class="form-control" v-model.trim="selectedMatch.tournament_name">
          </div>
        </div>

      </div>

      <div class="row g-2">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Ground</label>
            <input type="text" class="form-control" v-model.trim="selectedMatch.ground">
          </div>
        </div>

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Team B Name</label>
            <input type="text" class="form-control" v-model.trim="selectedMatch.b_team_name">
          </div>
        </div>

      </div><!-- row -->


      <div class="row g-2">
        <!-- team A -->
        <div class="col">

          <div class="alert alert-success">

            <p class="lead text-center">Team A (Us)</p>

            <div class="d-flex gap-2">
              <div class="mb-3">
                <label class="form-label">Innings 1: Runs</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.a_runs_1">
              </div>

              <div class="mb-3">
                <label class="form-label">Innings 1: Wickets</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.a_wickets_1">
              </div>

            </div>

            <div class="d-flex gap-2">
              <div class="mb-3">
                <label class="form-label">Innings 2: Runs</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.a_runs_2">
              </div>

              <div class="mb-3">
                <label class="form-label">Innings 2: Wickets</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.a_wickets_2">
              </div>

            </div>

          </div>

        </div>

        <!-- team B -->
        <div class="col">

          <div class="alert alert-warning">

            <p class="lead text-center">Team B (Them)</p>

            <div class="d-flex gap-2">

              <div class="mb-3">
                <label class="form-label">Innings 1: Runs</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.b_runs_1">
              </div>

              <div class="mb-3">
                <label class="form-label">Innings 1: Wickets</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.b_wickets_1">
              </div>

            </div>

            <div class="d-flex gap-2">

              <div class="mb-3">
                <label class="form-label">Innings 2: Runs</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.b_runs_2">
              </div>

              <div class="mb-3">
                <label class="form-label">Innings 2: Wickets</label>
                <input type="number" class="form-control" v-model.number="selectedMatch.b_wickets_2">
              </div>

            </div>


          </div>


        </div>

      </div><!-- row -->


      <div class="row justify-content-center">
        <div class="col-4">

          <div class="mb-3 text-center">
            <label class="form-label">Result</label>
            <select class="form-select" v-model="selectedMatch.result">
              <option v-for="(item, key) in results" :value="key" :key="key">{{ item }}</option>
            </select>
          </div>

        </div>

        <div class="col-4">

          <div class="mb-3 text-center">
            <label class="form-label">Status</label>
            <select class="form-select" v-model="selectedMatch.status">
              <option v-for="(item, key) in statuses" :value="key" :key="key">{{ item }}</option>
            </select>
          </div>

        </div><!-- col -->
      </div>

      <div class="row">
        <div class="col text-center">
          <button class="btn btn-primary" @click="onUpdateMatch()">Update</button>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col">

          <div class="alert alert-danger  text-center">
            <div>Remove this performance details. This action is irreversible. To remove, type 'DELETE' to confirm.</div>

            <input type="text" class="form-control mb-3" v-model="deleteSelectedMatch.textConfirm">
            <button class="btn btn-sm btn-danger"
                    :disabled="deleteSelectedMatch.textConfirm !== 'DELETE'"
                    @click="onRemoveMatch()">
              Confirm Delete
            </button>

          </div>
        </div>

      </div>

    </ModalWindow>


  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';
import DateField from '@src/components/fields/DateField';
import ModalWindow from '@src/components/ModalWindow';

import Chart from 'chart.js/auto';

import moment from 'moment';
import voca from 'voca';

const _ = require( 'lodash' );

export default {
  name: 'CricketMatch2Days',
  components: { DateField, ModalWindow, CardSection },

  props: {
    ageGroupId: {
      required: true,
      type: Number,
    },
  },

  data() {
    return {


      results: {
        'WIN': 'Win',
        'LOSS': 'Loss',
        'TIE': 'Tie',
        'DRAW': 'Draw',
        'NO': 'No result',
      },

      statuses: {
        'COMPLETED': 'Completed',
        'UPCOMING': 'Upcoming',
      },

      /*
      * This goes to add modal
      * */
      matchToAdd: {
        age_group_id: this.ageGroupId,

        tournament_name: '',
        match_date: moment().format( 'YYYY-MM-DD' ),
        ground: '',
        b_team_name: '',
      },

      /*
      * This goes to edit modal
      * */

      selectedMatch: {
        age_group_id: this.ageGroupId,

        tournament_name: '',
        match_date: moment().format( 'YYYY-MM-DD' ),
        match_type: '1D',
        ground: '',

        a_runs_1: 0,
        a_runs_2: 0,
        a_wickets_1: 0,
        a_wickets_2: 0,

        b_team_name: '',
        b_runs_1: 0,
        b_runs_2: 0,
        b_wickets_1: 0,
        b_wickets_2: 0,

        result: 'NO',
        status: 'PENDING',
      },

      /**
       * Delete selected match
       */
      deleteSelectedMatch: {
        textConfirm: '',
      },


      /*
      * Chart.js data
      * */

      chartMatches: null,
      chartRuns: null,


    };
  },


  computed: {

    /** @returns {CricketAgeGroupMatch[]} */
    matchesList() {
      return this.$store.getters[ 'cricketMatches2Days/getMatchesList' ];
    },

    matchesListGroupedByStatus() {
      return _.groupBy( this.matchesList, ( item ) => item.status );
    },

    /** @returns {CricketAgeGroupMatch[]} */
    completedMatches() {
      return this.matchesListGroupedByStatus[ 'COMPLETED' ];
    },

    /** @returns {CricketAgeGroupMatch[]} */
    upcomingMatches() {
      return this.matchesListGroupedByStatus[ 'UPCOMING' ];
    },


    /** @returns {CricketGameStats} */
    gameStats() {
      return this.$store.getters[ 'cricketMatches2Days/getStats' ];
    },

  },


  async mounted() {

    await this._fetchAllMatches();
    await this._fetchStats();

  },


  methods: {

    async onAddMatch() {

      try {

        const params = {
          age_group_id: this.matchToAdd.age_group_id,

          tournament_name: voca.titleCase( this.matchToAdd.tournament_name ),
          match_date: this.matchToAdd.match_date,
          ground: voca.titleCase( this.matchToAdd.ground ),
          b_team_name: voca.titleCase( this.matchToAdd.b_team_name ),
        };

        await this.$store.dispatch( 'cricketMatches2Days/addMatch', params );

        await this._fetchAllMatches();
        await this._fetchStats();


        /* close/hide the modal window once performance is successfully added. */
        this.$refs.modal_add_match_2days.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to add performance details',
        } );
      }

    }, /* onAddMatch */


    async onUpdateMatch() {

      try {

        const params = {
          id: this.selectedMatch.id,

          tournament_name: this.selectedMatch.tournament_name,
          match_date: this.selectedMatch.match_date,
          ground: this.selectedMatch.ground,

          a_runs_1: this.selectedMatch.a_runs_1,
          a_runs_2: this.selectedMatch.a_runs_2,
          a_wickets_1: this.selectedMatch.a_wickets_1,
          a_wickets_2: this.selectedMatch.a_wickets_2,

          b_team_name: this.selectedMatch.b_team_name,
          b_runs_1: this.selectedMatch.b_runs_1,
          b_runs_2: this.selectedMatch.b_runs_2,
          b_wickets_1: this.selectedMatch.b_wickets_1,
          b_wickets_2: this.selectedMatch.b_wickets_2,

          result: this.selectedMatch.result,
          status: this.selectedMatch.status,
        };

        await this.$store.dispatch( 'cricketMatches2Days/updateMatch', params );

        await this._fetchAllMatches();
        await this._fetchStats();

        this.$refs.modal_edit_match_2days.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to add performance details',
        } );
      }

    }, /* onUpdateMatch */

    async onRemoveMatch() {

      try {

        await this.$store.dispatch( 'cricketMatches2Days/removeMatch', this.selectedMatch.id );

        await this._fetchAllMatches();
        await this._fetchStats();


        /* close/hide the modal window once performance is successfully added. */
        this.$refs.modal_edit_match_2days.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to delete performance details',
        } );
      }

    }, /* onRemoveMatch */


    /*
    *
    * PRIVATE METHODS ------------------------------------------------------------------------------------
    *
    * */

    async _fetchAllMatches() {

      try {
        await this.$store.dispatch( 'cricketMatches2Days/fetchAllMatches', this.ageGroupId );
      } catch ( e ) {
        errorDialog( {
          message: 'Unable to fetch match details',
        } );
      }

    }, /* fetch all performances */

    async _fetchStats() {
      try {

        await this.$store.dispatch( 'cricketMatches2Days/fetchStats', this.ageGroupId );

        this._generateGamesPieChart();
        this._generateGamesRunsBarChart();

      } catch ( e ) {
        console.log( e );
        errorDialog( { message: 'Failed to fetch games stats' } );
      }
    },


    openEditModal( item ) {
      this.selectedMatch = item;
      this.$refs.modal_edit_match_2days.show();
    },


    /*
    *
    * RENDER METHODS ---------------------------------------------------------------------------------------
    *
    * */
    renderResult( value ) {
      return this.results[ value ];
    },


    /*
    *
    * Chart JS METHODS --------------------------------------------------------------------------------------
    *
    * */

    _generateGamesPieChart() {

      /* Chart: Match Types (win, loss, tie ...) */

      if ( this.chartMatches !== null ) {

        this.chartMatches.data.datasets[ 0 ].data = [
          this.gameStats.matches.win,
          this.gameStats.matches.loss,
          this.gameStats.matches.tie,
          this.gameStats.matches.draw,
        ];

        this.chartMatches.update();

      } else {

        this.chartMatches = new Chart( 'chart_pie__match_types_2days', {
          type: 'doughnut',
          data: {
            labels: ['Win', 'Loss', 'Tie', 'Draw', 'No'],
            datasets: [
              {
                data: [
                  this.gameStats.matches.win,
                  this.gameStats.matches.loss,
                  this.gameStats.matches.tie,
                  this.gameStats.matches.draw,
                  this.gameStats.matches.no,
                ],
                backgroundColor: ['#2ecc71', '#e74c3c', '#7f8c8d', '#f1c40f', '#34495e'],
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
          },
        } );
      }

      this.chartMatches.canvas.parentNode.style.height = '250px';


    },

    _generateGamesRunsBarChart() {

      /* Chart: Runs for games played */

      if ( this.chartRuns !== null ) {
        this.chartRuns.data = {
          labels: this.gameStats.games_runs.games_titles,
          datasets: [
            {
              label: 'A: Ing 1: ',
              data: this.gameStats.games_runs.team_a_runs_1,
              backgroundColor: ['#1B9CFC'],
            },
            {
              label: 'B: Ing 1',
              data: this.gameStats.games_runs.team_b_runs_1,
              backgroundColor: ['#F97F51'],
            },
            {
              label: 'A: Ing 2: ',
              data: this.gameStats.games_runs.team_a_runs_2,
              backgroundColor: ['#1B9CFC'],
            },
            {
              label: 'B: Ing 2',
              data: this.gameStats.games_runs.team_b_runs_2,
              backgroundColor: ['#F97F51'],
            },
          ],
        };
        this.chartRuns.update();


      } else {

        this.chartRuns = new Chart( 'chart_bar__games_score_2days', {
          type: 'bar',
          data: {
            labels: this.gameStats.games_runs.games_titles,
            datasets: [
              {
                label: 'A: Ing 1: ',
                data: this.gameStats.games_runs.team_a_runs_1,
                backgroundColor: ['#1B9CFC'],
              },
              {
                label: 'B: Ing 1',
                data: this.gameStats.games_runs.team_b_runs_1,
                backgroundColor: ['#F97F51'],
              },
              {
                label: 'A: Ing 2: ',
                data: this.gameStats.games_runs.team_a_runs_2,
                backgroundColor: ['#1B9CFC'],
              },
              {
                label: 'B: Ing 2',
                data: this.gameStats.games_runs.team_b_runs_2,
                backgroundColor: ['#F97F51'],
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
            maintainAspectRatio: false,
          },
        } );

      }


      this.chartRuns.canvas.parentNode.style.height = '250px';

    }, /* generate games runs bar chart */


  },
  /* __ methods __ */


};
</script>

<style scoped>

</style>
