<template>

  <div class="">
    <TopNavigationBar/>


    <div class="container">
      <div class="row justify-content-center mb-5">

        <div class="col-6">

          <div class="window purple">
            <div class="window-title">
              Edit Coach
            </div>

            <div class="window-body">

              <div class="mb-3">
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" v-model.trim="coach.full_name">
              </div>

              <div class="mb-3">
                <label class="form-label">Contact number</label>
                <input type="text" class="form-control" v-model.trim="coach.contact_number">
              </div>

              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" v-model.trim="coach.email">
              </div>

              <div class="mb-3">
                <label class="form-label">License No.</label>
                <input type="text" class="form-control" v-model.trim="coach.coaching_license">
              </div>

              <div class="mb-3">
                <label class="form-label">Address</label>
                <textarea rows="3" class="form-control" v-model.trim="coach.address"></textarea>
              </div>

              <div class="text-center">
                <button class="btn btn-primary" @click="onEdit()">Update</button>
                <router-link to="/staff/coaches" class="btn btn-secondary">Cancel</router-link>
              </div>

              <hr>

              <h4 class="text-center">Profile Picture</h4>
              <div class="profile__picture text-center position-relative mb-4">
                <img :src="profilePicUrl" alt="" class="img-fluid img-thumbnail shadow" style="width: 200px">
              </div>

              <div class="mb-3">
                <label class="form-label">Upload profile picture</label>
                <input type="file" class="form-control" ref="profilePicField" @change="onChooseFile()">
              </div>

              <div class="text-center">
                <button class="btn btn-primary" @click="onUploadProfilePic()">Upload</button>
              </div>

            </div>

          </div><!-- window -->

        </div>

      </div>
    </div><!-- container -->

    <div></div>

  </div>

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import TopNavigationBar from '@src/components/TopNavigationBar';

export default {
  name: 'EditCoachPage',
  components: { TopNavigationBar },

  data() {
    return {
      profilePicFile: null,
    };
  },


  computed: {
    coach() {
      return this.$store.getters[ 'coaches/getSelectedCoach' ];
    },

    profilePicUrl() {
      if ( _.isEmpty( this.coach.profile_pic ) ) {
        return '/images/profile_pic.svg';
      }
      return this.coach.profile_pic;
    },

  },
  /* -- computed -- */

  async mounted() {

    try {

      const id = this.$route.params.id;
      await this.$store.dispatch( 'coaches/fetch', id );

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch staff details' } );
    }

  },
  /* -- mounted -- */

  methods: {

    async onEdit() {

      try {
        this.validateForm();
      } catch ( e ) {
        errorDialog( { message: e } );
        return;
      }

      try {

        const params = {
          id: this.coach.id,
          full_name: this.coach.full_name,
          email: this.coach.email,
          contact_number: this.coach.contact_number,
          address: this.coach.address,
          coaching_license: this.coach.coaching_license,
        };

        await this.$store.dispatch( 'coaches/update', params );
        await this.$router.push( '/staff/coaches' );

        successDialog( { message: 'Staff details updated' } );

      } catch ( e ) {
        errorDialog( { message: 'Failed to update staff details' } );
      }
    }, /* edit */


    validateForm() {

      let hasError = false;
      let errorOutput = '';

      if ( this.coach.full_name === '' ) {
        errorOutput += '<li>Full name is required.</li>';
        hasError = true;
      }
      if ( this.coach.address === '' ) {
        errorOutput += '<li>Address is required.</li>';
        hasError = true;
      }
      if ( this.coach.contact_number === '' ) {
        errorOutput += '<li>Contact number is required.</li>';
        hasError = true;
      }

      if ( hasError ) throw errorOutput;

    }, /* validate the form */


    onChooseFile() {
      this.profilePicFile = this.$refs.profilePicField.files[ 0 ];
    }, /* choose profile pic */

    async onUploadProfilePic() {

      try {

        const params = {
          id: this.coach.id,
          profile_pic: this.profilePicFile,
        };

        await this.$store.dispatch( 'coaches/uploadProfilePic', params );

        const id = this.$route.params.id;
        await this.$store.dispatch( 'coaches/fetch', id );

      } catch ( e ) {
        errorDialog( { message: 'Failed to upload profile pic' } );
      }

    }, /* on upload profile pic */

  },
  /* -- methods -- */

};
</script>

<style scoped>

</style>
