/* custom universal scss */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

@import "~bootstrap/scss/functions";

// scss-docs-start gray-color-variables
$white                  : #fff !default;
$gray-100               : #f8f9fa !default;
$gray-200               : #e9ecef !default;
$gray-300               : #dee2e6 !default;
$gray-400               : #ced4da !default;
$gray-500               : #adb5bd !default;
$gray-600               : #6c757d !default;
$gray-700               : #495057 !default;
$gray-800               : #343a40 !default;
$gray-900               : #212529 !default;
$black                  : #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays                  : (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue                   : #0d6efd !default;
$indigo                 : #6610f2 !default;
$purple                 : #6f42c1 !default;
$pink                   : #d63384 !default;
$red                    : #dc3545 !default;
$orange                 : #fd7e14 !default;
$yellow                 : #ffc107 !default;
$green                  : #198754 !default;
$teal                   : #20c997 !default;
$cyan                   : #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors                 : (
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary                : $blue !default;
$secondary              : $gray-600 !default;
$success                : $green !default;
$info                   : $cyan !default;
$warning                : $yellow !default;
$danger                 : $red !default;
$light                  : $gray-100 !default;
$dark                   : $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors           : (
        "primary": $primary,
        "secondary": $secondary,
        "success": $teal,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark,
        "purple": $purple
) !default;
// scss-docs-end theme-colors-map

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio     : 4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark    : $black !default;
$color-contrast-light   : $white !default;

// fusv-disable
$blue-100               : tint-color($blue, 80%) !default;
$blue-200               : tint-color($blue, 60%) !default;
$blue-300               : tint-color($blue, 40%) !default;
$blue-400               : tint-color($blue, 20%) !default;
$blue-500               : $blue !default;
$blue-600               : shade-color($blue, 20%) !default;
$blue-700               : shade-color($blue, 40%) !default;
$blue-800               : shade-color($blue, 60%) !default;
$blue-900               : shade-color($blue, 80%) !default;

$indigo-100             : tint-color($indigo, 80%) !default;
$indigo-200             : tint-color($indigo, 60%) !default;
$indigo-300             : tint-color($indigo, 40%) !default;
$indigo-400             : tint-color($indigo, 20%) !default;
$indigo-500             : $indigo !default;
$indigo-600             : shade-color($indigo, 20%) !default;
$indigo-700             : shade-color($indigo, 40%) !default;
$indigo-800             : shade-color($indigo, 60%) !default;
$indigo-900             : shade-color($indigo, 80%) !default;

$purple-100             : tint-color($purple, 80%) !default;
$purple-200             : tint-color($purple, 60%) !default;
$purple-300             : tint-color($purple, 40%) !default;
$purple-400             : tint-color($purple, 20%) !default;
$purple-500             : $purple !default;
$purple-600             : shade-color($purple, 20%) !default;
$purple-700             : shade-color($purple, 40%) !default;
$purple-800             : shade-color($purple, 60%) !default;
$purple-900             : shade-color($purple, 80%) !default;

$pink-100               : tint-color($pink, 80%) !default;
$pink-200               : tint-color($pink, 60%) !default;
$pink-300               : tint-color($pink, 40%) !default;
$pink-400               : tint-color($pink, 20%) !default;
$pink-500               : $pink !default;
$pink-600               : shade-color($pink, 20%) !default;
$pink-700               : shade-color($pink, 40%) !default;
$pink-800               : shade-color($pink, 60%) !default;
$pink-900               : shade-color($pink, 80%) !default;

$red-100                : tint-color($red, 80%) !default;
$red-200                : tint-color($red, 60%) !default;
$red-300                : tint-color($red, 40%) !default;
$red-400                : tint-color($red, 20%) !default;
$red-500                : $red !default;
$red-600                : shade-color($red, 20%) !default;
$red-700                : shade-color($red, 40%) !default;
$red-800                : shade-color($red, 60%) !default;
$red-900                : shade-color($red, 80%) !default;

$orange-100             : tint-color($orange, 80%) !default;
$orange-200             : tint-color($orange, 60%) !default;
$orange-300             : tint-color($orange, 40%) !default;
$orange-400             : tint-color($orange, 20%) !default;
$orange-500             : $orange !default;
$orange-600             : shade-color($orange, 20%) !default;
$orange-700             : shade-color($orange, 40%) !default;
$orange-800             : shade-color($orange, 60%) !default;
$orange-900             : shade-color($orange, 80%) !default;

$yellow-100             : tint-color($yellow, 80%) !default;
$yellow-200             : tint-color($yellow, 60%) !default;
$yellow-300             : tint-color($yellow, 40%) !default;
$yellow-400             : tint-color($yellow, 20%) !default;
$yellow-500             : $yellow !default;
$yellow-600             : shade-color($yellow, 20%) !default;
$yellow-700             : shade-color($yellow, 40%) !default;
$yellow-800             : shade-color($yellow, 60%) !default;
$yellow-900             : shade-color($yellow, 80%) !default;

$green-100              : tint-color($green, 80%) !default;
$green-200              : tint-color($green, 60%) !default;
$green-300              : tint-color($green, 40%) !default;
$green-400              : tint-color($green, 20%) !default;
$green-500              : $green !default;
$green-600              : shade-color($green, 20%) !default;
$green-700              : shade-color($green, 40%) !default;
$green-800              : shade-color($green, 60%) !default;
$green-900              : shade-color($green, 80%) !default;

$teal-100               : tint-color($teal, 80%) !default;
$teal-200               : tint-color($teal, 60%) !default;
$teal-300               : tint-color($teal, 40%) !default;
$teal-400               : tint-color($teal, 20%) !default;
$teal-500               : $teal !default;
$teal-600               : shade-color($teal, 20%) !default;
$teal-700               : shade-color($teal, 40%) !default;
$teal-800               : shade-color($teal, 60%) !default;
$teal-900               : shade-color($teal, 80%) !default;

$cyan-100               : tint-color($cyan, 80%) !default;
$cyan-200               : tint-color($cyan, 60%) !default;
$cyan-300               : tint-color($cyan, 40%) !default;
$cyan-400               : tint-color($cyan, 20%) !default;
$cyan-500               : $cyan !default;
$cyan-600               : shade-color($cyan, 20%) !default;
$cyan-700               : shade-color($cyan, 40%) !default;
$cyan-800               : shade-color($cyan, 60%) !default;
$cyan-900               : shade-color($cyan, 80%) !default;
// fusv-enable


$font-family-sans-serif : "Sora", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace  : Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-size-base         : 0.9rem !default;

//$body-bg: $dark !default;
//$body-color: $white !default;
//$input-color: $dark !default;
//$modal-content-color: $dark !default;


@import "~bootstrap/scss/bootstrap";


/*
custom overrides
*/
.daterangepicker {
  font-family : $font-family-sans-serif;
}

.window {
  //padding: 0.5em;
  
  border-radius : 5px;
  
  .window-title {
    border-top-left-radius  : 4px;
    border-top-right-radius : 4px;
  }
  
  .table, tr, td, th {
    background-color : white;
  }
  
}

.window.green {
  background-color : $green-100;
  border           : solid 1px $green-300;
  
  .window-title {
    background-color : $green-400;
  }
}

.window.red {
  background-color : $red-100;
  border           : solid 1px $red-300;
  
  .window-title {
    background-color : $red-400;
  }
}

.window.yellow {
  background-color : $yellow-100;
  border           : solid 1px $yellow-300;
  
  .window-title {
    background-color : $yellow-400;
  }
}


.window.purple {
  background-color : $purple-100;
  border           : solid 1px $purple-300;
  
  .window-title {
    background-color : $purple-400;
  }
}

.window.blue {
  background-color : $blue-100;
  border           : solid 1px $blue-300;
  
  .window-title {
    background-color : $blue-400;
  }
}


.window.gray {
  background-color : $gray-100;
  border           : solid 1px $gray-300;
  
  .window-title {
    background-color : $gray-400;
  }
  
}

.window .window-title {
  font-size      : 1.3em;
  padding        : .2em .5em;
  text-transform : uppercase;
  margin-bottom  : .5em;
}

.window .window-body {
  padding : 0.5em;
}


.icon-16 {
  width : 16px;
}

.icon-24 {
  width : 24px;
}

.icon-32 {
  width : 32px;
}


body, html {
  height : 100%;
  width  : 100%;
}


.pseudo-link {
  cursor : pointer;
}

.pseudo-link:hover {
  text-decoration : underline;
}


.table-column-date {
  width : 100px;
}
