<template>

  <div class="mb-5">

    <TopNavigationBar/>


    <div class="container" v-if="loaded">

      <div class="row">
        <div class="col">

          <StudentHeaderCard :student="ageGroupStudent.student"/>

          <hr>

        </div>
      </div>

      <div class="row mb-3">
        <div class="col">

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="chk_one_day_matches" v-model="chkOneDay">
            <label class="form-check-label" for="chk_one_day_matches">
              One Day Matches
            </label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="chk_two_day_matches" v-model="chkTwoDays">
            <label class="form-check-label" for="chk_two_day_matches">
              Two Day Matches
            </label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="chk_t20_matches" v-model="chkT20">
            <label class="form-check-label" for="chk_t20_matches">
              T-20 Matches
            </label>
          </div>

        </div>
      </div>

      <div class="row mb-5">
        <div class="col">

          <StudentPerformances1Day :student="student" v-if="chkOneDay"/>

          <StudentPerformances2Day :student="student" v-if="chkTwoDays"/>

          <StudentPerformancesT20 :student="student" v-if="chkT20"/>

        </div>
      </div>

    </div><!-- container -->

  </div><!-- template -->

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import StudentHeaderCard from '@src/components/StudentHeaderCard.vue';
import TopNavigationBar from '@src/components/TopNavigationBar.vue';
import StudentPerformances1Day from '@src/views/cricket/age_group_components/student_performances/StudentPerformances1Day.vue';
import StudentPerformances2Day from '@src/views/cricket/age_group_components/student_performances/StudentPerformances2Day.vue';
import StudentPerformancesT20 from '@src/views/cricket/age_group_components/student_performances/StudentPerformancesT20.vue';

export default {
  name: 'CricketAgeGroupStudentPage',
  components: { StudentHeaderCard, StudentPerformances2Day, StudentPerformancesT20, StudentPerformances1Day, TopNavigationBar },


  data() {
    return {
      loaded: false,

      chkOneDay: true,
      chkTwoDays: false,
      chkT20: false,


    };
  },

  computed: {

    ageGroupId() {
      return this.$route.params[ 'ageGroupId' ];
    },

    ageGroupStudentId() {
      return this.$route.params[ 'ageGroupStudentId' ];
    },

    /** @returns {CricketAgeGroupStudent} */
    ageGroupStudent() {
      return this.$store.getters[ 'cricketAgeGroups/getAgeGroupStudent' ];
    },

    /** @returns {Student} */
    student() {
      return this.ageGroupStudent.student;
    },

  },

  async mounted() {

    try {

      await this.$store.dispatch( 'cricketAgeGroups/fetchAgeGroupStudent', this.ageGroupStudentId );

      this.loaded = true;

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch student details' } );
    }

  }, /* mounted */


  methods: {

    renderBackLinkUrl() {
      return {
        name: 'cricketAgeGroupPage',
        params: {
          ageGroupId: this.$route.params[ 'ageGroupId' ],
        },
      };
    },

  }, /* methods */


};
</script>

<style scoped>

</style>
