<template>
	
	<div>
		<TopNavigationBar/>
		
		<div class="container" v-if="loaded">
			
			<div class="row mb-5">
				
				<div class="col">
					
					<EditCricketAgeGroup :age-group-id="ageGroupId"/>
					
					<ListCricketAGStudents :age-group-id="ageGroupId" :age="ageGroup.age"/>
					
					<CricketPractice :practice-data="ageGroup.practice"/>
				
				</div><!-- col -->
			</div><!-- row -->
			
			<div class="row mb-5">
				<div class="col">
					<hr>
					
					<h2 class="text-center">Match Details</h2>
					
					<CricketMatch1Day :age-group-id="ageGroupId"/>
					
					<CricketMatch2Days :age-group-id="ageGroupId"/>
					
					<CricketMatchT20 :age-group-id="ageGroupId"/>
				
				
				</div>
			</div>
		
		</div><!-- container -->
	
	</div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import CardSection from '@src/components/CardSection';
import TopNavigationBar from '@src/components/TopNavigationBar';
import CricketPractice from '@src/views/cricket/age_group_components/CricketPractice.vue';
import EditCricketAgeGroup from '@src/views/cricket/age_group_components/EditCricketAgeGroup';
import ListCricketAGStudents from '@src/views/cricket/age_group_components/ListCricketAGStudents';
import CricketMatch1Day from '@src/views/cricket/age_group_components/matches/CricketMatch1Day.vue';
import CricketMatch2Days from '@src/views/cricket/age_group_components/matches/CricketMatch2Days.vue';
import CricketMatchT20 from '@src/views/cricket/age_group_components/matches/CricketMatchT20.vue';
import EditCoachPage from '@src/views/staff/coaches/EditCoachPage';

const _ = require( 'lodash' );

export default {
	name: 'CricketAgeGroupPage',
	components: {
		CricketMatchT20,
		CricketMatch2Days,
		CricketMatch1Day,
		CricketPractice,
		ListCricketAGStudents,
		EditCricketAgeGroup,
		EditCoachPage,
		CardSection,
		TopNavigationBar,
	},
	
	data() {
		return {
			
			loaded: false,
			
		};
	},
	
	computed: {
		
		ageGroupId() {
			return _.toNumber( this.$route.params.ageGroupId );
		},
		
		ageGroup() {
			return this.$store.getters[ 'cricketAgeGroups/getAgeGroup' ];
		},
		
	},
	
	async mounted() {
		
		try {
			
			
			await this.$store.dispatch( 'cricketAgeGroups/fetch', this.ageGroupId );
			
			this.loaded = true;
			
		} catch ( e ) {
			errorDialog( { message: 'Failed to fetch details' } );
		}
		
	},
	
	methods: {
		//
		
		renderProfilePic( profilePic ) {
			if ( profilePic === '' || profilePic === null ) {
				return '/images/profile_pic.svg';
			}
			return profilePic;
		},
	},
	
};
</script>

<style scoped>

</style>
