<template>
	
	<div class="container-fluid mt-2" v-if="loaded">
		
		
		<div class="row mb-3">
			<div class="col">
				<StudentHeaderCard :student="ageGroupStudent.student"/>
			</div>
		</div>
		
		<div class="d-print-none mb-3">
			<button class="btn btn-primary" @click="openPrint()">Print</button>
		</div>
		
		
		<vue-html2pdf
				:show-layout="true"
				:float-layout="false"
				:enable-download="false"
				:preview-modal="true"
				:paginate-elements-by-height="1400"
				:pdf-quality="2"
				:manual-pagination="false"
				pdf-format="a4"
				pdf-orientation="portrait"
				pdf-content-width="750px"
				ref="html2Pdf"
				:html-to-pdf-options="htmlToPdfOptions"
		>
			<section slot="pdf-content">
				
				<h3>{{ ageGroupStudent.student.full_name }}</h3>
				<p>DoB: {{ ageGroupStudent.student.dob }} | Grade: {{ ageGroupStudent.student.grade }} | House: {{ ageGroupStudent.student.house }}</p>
				
				<!-- section: runs graph -->
				<div class="row mb-3">
					<div class="col">
						
						<div class="border border-2 p-2">
							<div class="chart_runs">
								<canvas height="250px" width="755px" id="chart_line_runs"/>
							</div>
						</div>
					
					</div>
				</div> <!-- graph -->
				
				<!-- section: batting performances -->
				<div class="border border-2 p-2 mb-3">
					
					<h4 class="text-center mb-3">Batting Performance</h4>
					
					<div class="batting_stats mb-3">
						
						<div class="row g-1">
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">Matches</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ battingStats.totalMatches }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">Runs</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ battingStats.totalScore }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">Score</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ battingStats.highestScore }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">100s</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ battingStats.score_100s }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">50s</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ battingStats.score_50s }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">0s</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ battingStats.score_0 }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">S/R</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ battingStats.strikeRate }}</div>
									</div>
								</div>
							</div><!-- col -->
						
						</div><!-- row -->
					
					</div>
					
					<table class="table table-sm table-bordered">
						<thead>
						<tr>
							<th class="table-column-date">Match Date</th>
							<th>Match</th>
							<th class="text-end table-column-numbers">Runs</th>
							<th class="text-end table-column-numbers">Balls Faced</th>
							<th class="text-end table-column-numbers">4s</th>
							<th class="text-end table-column-numbers">6s</th>
							<th class="text-end table-column-numbers">Strike Rate</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="item in battingPerformances" :key="item.id">
							<td>{{ item.ageGroupMatch.match_date }}</td>
							<td>{{ item.ageGroupMatch.tournament_name }}</td>
							<td class="text-end">{{ item.batting_runs }}</td>
							<td class="text-end">{{ item.batting_balls_faced }}</td>
							<td class="text-end">{{ item.batting_4s }}</td>
							<td class="text-end">{{ item.batting_6s }}</td>
							<td class="text-end">{{ calculateStrikeRate( item ) }}</td>
						</tr>
						</tbody>
					</table>
				
				</div>
				<!-- alert -->
				
				
				<!-- section: bowling performances -->
				<div class="border border-2 p-2">
					
					<h4 class="text-center mb-3">Bowling Performance</h4>
					
					<div class="bowling_stats mb-3">
						
						<div class="row g-1">
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">Matches</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ bowlingStats.totalMatches }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">Overs</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ bowlingStats.totalOvers }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">Runs</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ bowlingStats.totalRuns }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">Wickets</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ bowlingStats.totalWickets }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">BBM</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ bowlingStats.bestBowlingInnings }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">S/R</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ bowlingStats.strikeRate }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">Average</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ bowlingStats.average }}</div>
									</div>
								</div>
							</div><!-- col -->
							
							<div class="col">
								<div class="card">
									<div class="card-header text-center">Economy</div>
									<div class="card-body p-1">
										<div class="text-center text-4xl">{{ bowlingStats.averageEconomy }}</div>
									</div>
								</div>
							</div><!-- col -->
						
						</div><!-- row -->
					
					</div>
					
					<table class="table table-sm table-bordered">
						<thead>
						<tr>
							<th class="table-column-date">Match Date</th>
							<th>Match</th>
							<th class="text-end table-column-numbers">Overs</th>
							<th class="text-end table-column-numbers">Balls</th>
							<th class="text-end table-column-numbers">Runs</th>
							<th class="text-end table-column-numbers">Wickets</th>
							<th class="text-end table-column-numbers">Wides</th>
							<th class="text-end table-column-numbers">No Balls</th>
							<th class="text-end table-column-numbers">Economy</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="item in bowlingPerformances" :key="item.id">
							<td>{{ item.ageGroupMatch.match_date }}
							</td>
							<td>{{ item.ageGroupMatch.tournament_name }}</td>
							<td class="text-end">{{ item.bowling_overs }}</td>
							<td class="text-end">{{ item.bowling_balls }}</td>
							<td class="text-end">{{ item.bowling_runs }}</td>
							<td class="text-end">{{ item.bowling_wickets }}</td>
							<td class="text-end">{{ item.bowling_wides }}</td>
							<td class="text-end">{{ item.bowling_noballs }}</td>
							<td class="text-end">{{ calculateEconomyRate( item ) }}</td>
						</tr>
						</tbody>
					</table>
				
				</div>
				<!-- alert -->
			
			</section>
		</vue-html2pdf>
	
	
	</div>


</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import StudentHeaderCard from '@src/components/StudentHeaderCard.vue';
import Chart from 'chart.js/auto';
import _ from 'lodash';
import VueHtml2pdf from 'vue-html2pdf';

export default {
	name: 'PrintStudent1DayPerformancePage',
	components: { StudentHeaderCard, VueHtml2pdf },
	data() {
		return {
			
			loaded: false,
			
			chartRuns: null,
			
			chartRunsLabels: [],
			chartRunsBattingRunsData: [],
			chartRunsBallFacedData: [],
			
			statsCalculated: false,
			
			
			htmlToPdfOptions: {
				margin: 0.2,
				
				filename: 'report.pdf',
				
				image: {
					type: 'jpeg',
					quality: 0.98,
				},
				
				enableLinks: false,
				
				html2canvas: {
					scale: 1,
					useCORS: true,
				},
				
				jsPDF: {
					unit: 'in',
					format: 'a4',
					orientation: 'portrait',
				},
			},
			
		};
	},
	
	computed: {
		
		ageGroupId() {
			return parseInt( this.$route.params[ 'ageGroupId' ] );
		},
		
		ageGroupStudentId() {
			return parseInt( this.$route.params[ 'ageGroupStudentId' ] );
		},
		
		ageGroupStudent() {
			return this.$store.getters[ 'cricketAgeGroups/getAgeGroupStudent' ];
		},
		
		allPerformances() {
			const performances = this.$store.getters[ 'cricketPerformances1Day/getAllPerformances' ];
			
			return _.groupBy( performances, function ( item ) {
				return item.performance_type;
			} );
		},
		
		/** @returns {CricketStudentPerformance[]} */
		battingPerformances() {
			return this.allPerformances[ 'BATTING' ];
		},
		
		/** @returns {CricketStudentPerformance[]} */
		bowlingPerformances() {
			return this.allPerformances[ 'BOWLING' ];
		},
		
		battingStats() {
			
			this.statsCalculated = false;
			
			const stats = {
				totalMatches: 0,
				totalScore: 0,
				totalBallsFaced: 0,
				highestScore: 0,
				score_50s: 0,
				score_100s: 0,
				score_0: 0,
				strikeRate: 0,
			};
			
			if ( !_.isEmpty( this.battingPerformances ) ) {
				
				
				this.chartRunsLabels = [];
				this.chartRunsBallFacedData = [];
				this.chartRunsBattingRunsData = [];
				
				/* total matches */
				stats.totalMatches = this.battingPerformances.length;
				
				/* total score, total balls faced */
				_.forEach( this.battingPerformances, item => {
					stats.totalScore += item[ 'batting_runs' ];
					stats.totalBallsFaced += item[ 'batting_balls_faced' ];
					
					this.chartRunsLabels.push( item[ 'ageGroupMatch' ][ 'tournament_name' ] );
					this.chartRunsBattingRunsData.push( item[ 'batting_runs' ] );
					this.chartRunsBallFacedData.push( item[ 'batting_balls_faced' ] );
					
				} );
				
				/* highest score */
				let f = _.orderBy( this.battingPerformances, ['batting_runs'], ['desc'] );
				stats.highestScore = f[ 0 ][ 'batting_runs' ];
				
				/* score 50s */
				f = _.filter( this.battingPerformances, item => {
					return item[ 'batting_runs' ] >= 50 && item[ 'batting_runs' ] < 100;
				} );
				
				stats.score_50s = f.length;
				
				/* score 100s */
				f = _.filter( this.battingPerformances, item => {
					return item[ 'batting_runs' ] >= 100;
				} );
				
				stats.score_100s = f.length;
				
				stats.strikeRate = ( ( stats.totalScore / stats.totalBallsFaced ) * 100 ).toFixed( 2 );
				
			}
			
			this.statsCalculated = true;
			
			return stats;
		},
		
		bowlingStats() {
			
			const stats = {
				totalMatches: 0,
				totalRuns: 0,
				totalOvers: 0,
				totalWickets: 0,
				totalBalls: 0,
				bestBowlingInnings: '-',
				average: 0,
				averageEconomy: 0,
				strikeRate: 0,
			};
			
			let totalEconomy = 0;
			
			if ( !_.isEmpty( this.bowlingPerformances ) ) {
				
				stats.totalMatches = this.bowlingPerformances.length;
				
				this.bowlingPerformances.forEach( item => {
					stats.totalWickets += item[ 'bowling_wickets' ];
					stats.totalRuns += item[ 'bowling_runs' ];
					stats.totalOvers += item[ 'bowling_overs' ];
					stats.totalBalls += item[ 'bowling_balls' ];
					
					totalEconomy += ( item[ 'bowling_runs' ] / item[ 'bowling_overs' ] );
				} );
				
				
				const o = _.orderBy( this.bowlingPerformances, ['bowling_wickets', 'bowling_runs'], ['desc', 'asc'] )[ 0 ];
				
				stats.bestBowlingInnings = o[ 'bowling_runs' ] + '/' + o[ 'bowling_wickets' ];
				
				
				stats.average = ( stats.totalRuns / stats.totalWickets ).toFixed( 2 );
				stats.strikeRate = ( stats.totalBalls / stats.totalWickets ).toFixed( 2 );
				stats.averageEconomy = ( totalEconomy / stats.totalMatches ).toFixed( 2 );
				
			}
			
			
			return stats;
		},
		
	},
	
	watch: {
		chartRunsBattingRunsData( value ) {
			this._generateRunsChart();
		},
	},
	
	
	async mounted() {
		
		try {
			
			await this._fetchAllPerformances();
			
			this.loaded = true;
			
		} catch ( e ) {
			errorDialog( {
				message: 'Failed to load match details',
			} );
		}
		
	},
	
	methods: {
		
		/**
		 * Calculates the strike rate
		 * @param {CricketStudentPerformance} item
		 */
		calculateStrikeRate( item ) {
			return ( ( item.batting_runs / item.batting_balls_faced ) * 100 ).toFixed( 2 );
		},
		
		/**
		 * Calculates the economy rate
		 * @param {CricketStudentPerformance} item
		 */
		calculateEconomyRate( item ) {
			return ( item.bowling_runs / item.bowling_overs ).toFixed( 2 );
		},
		
		
		/**
		 * Fetch all performances (bowling and batting)
		 * @private
		 */
		async _fetchAllPerformances() {
			
			try {
				
				await this.$store.dispatch( 'cricketAgeGroups/fetchAgeGroupStudent', this.ageGroupStudentId );
				
				await this.$store.dispatch( 'cricketPerformances1Day/fetchAllByStudent', this.ageGroupStudent.student_id );
				
			} catch ( e ) {
				errorDialog( {
					message: 'Failed to fetch student\'s performance details',
				} );
			}
		}, /* fetchAllPerformance */
		
		
		_generateRunsChart() {
			
			
			if ( this.chartRuns !== null ) {
				
				this.chartRuns.data.labels = this.chartRunsLabels;
				this.chartRuns.data.datasets[ 0 ].data = this.chartRunsBattingRunsData;
				this.chartRuns.data.datasets[ 1 ].data = this.chartRunsBallFacedData;
				
				this.chartRuns.update();
				
			} else {
				
				this.chartRuns = new Chart( 'chart_line_runs', {
					
					type: 'line',
					data: {
						labels: this.chartRunsLabels,
						datasets: [
							{
								label: 'Runs',
								data: this.chartRunsBattingRunsData,
								fill: false,
								borderColor: '#0984e3',
								tension: 0.1,
							},
							{
								label: 'Balls faced',
								data: this.chartRunsBallFacedData,
								fill: false,
								borderColor: '#fdcb6e',
								tension: 0.1,
							},
						],
					},
					options: {
						maintainAspectRatio: false,
						responsive: false,
						plugins: {
							legend: {
								labels: {
									font: {
										size: 10,
									},
								},
							},
						},
						scales: {
							x: {
								ticks: {
									font: {
										size: 10,
									},
								},
							},
							y: {
								ticks: {
									font: {
										size: 10,
									},
								},
							},
						},
					},
					
				} );
				
				this.chartRuns.update();
				
			}
			
			
		}, /* generateRunsChart */
		
		
		openPrint() {
			// window.print();
			this.$refs.html2Pdf.generatePdf();
		},
		
	},
};
</script>

<style>

body {
	margin: 0;
	padding: 0;
}

@media print {
	@page {
		size: A4;
		margin: 0.2in;
		
	}
	
	body {
		font-size: 8pt !important;
	}
	
}

</style>
