<template>

  <div class="window purple">
    <div class="window-title">
      Add new coach
    </div>

    <div class="window-body">

      <div class="mb-3">
        <label class="form-label">Full name*</label>
        <input type="text" class="form-control" v-model.trim="coach.full_name">
      </div>

      <div class="mb-3">
        <label class="form-label">Contact number*</label>
        <input type="text" class="form-control" v-model.trim="coach.contact_number">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" v-model.trim="coach.email">
      </div>

      <div class="mb-3">
        <label class="form-label">License No.</label>
        <input type="text" class="form-control" v-model.trim="coach.coaching_license">
      </div>

      <div class="mb-3">
        <label class="form-label">Address*</label>
        <textarea rows="3" class="form-control" v-model.trim="coach.address"></textarea>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" @click="onSave()">Add</button>
        <button class="btn btn-secondary" @click="onClear()">Clear</button>
      </div>

      <div class="text-center my-3">
        Fields marked with * are required.
      </div>

    </div>

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';

export default {
  name: 'CreateCoach',

  data() {
    return {
      coach: {
        full_name: '',
        contact_number: '',
        email: '',
        address: '',
        coaching_license: '',
      },

      validated: {
        fullName: false,
        contactNumber: false,
        address: false,
      },

    };
  },
  /* -- data -- */


  methods: {


    async onSave() {

      try {
        this.validateAddForm();
      } catch ( e ) {
        errorDialog( { message: e } );
        return;
      }

      try {

        const params = {
          full_name: this.coach.full_name,
          contact_number: this.coach.contact_number,
          email: this.coach.email,
          address: this.coach.address,
          coaching_license: this.coach.coaching_license,
        };

        await this.$store.dispatch( 'coaches/create', params );

        this.onClear();

      } catch ( e ) {
        errorDialog( { message: 'Failed to save coach details' } );
      }

      try {
        await this.$store.dispatch( 'coaches/fetchAll' );
      } catch ( e ) {
        errorDialog( { message: 'Failed to fetch coaches details' } );
      }


    }, /* on save */

    onClear() {
      this.coach = {
        full_name: '',
        contact_number: '',
        email: '',
        address: '',
        coaching_license: '',
      };
    }, /* clear the form */

    validateAddForm() {

      let hasError = false;
      let errorOutput = '';

      if ( this.coach.full_name === '' ) {
        errorOutput += '<li>Full name is required.</li>';
        hasError = true;
      }
      if ( this.coach.address === '' ) {
        errorOutput += '<li>Address is required.</li>';
        hasError = true;
      }
      if ( this.coach.contact_number === '' ) {
        errorOutput += '<li>Contact number is required.</li>';
        hasError = true;
      }

      if ( hasError ) throw errorOutput;

    }, /* validate the form */


  },
  /* -- methods -- */

};
</script>

<style scoped>

</style>
