<template>

  <div>

    <TopNavigationBar/>

    <div class="container mt-2">
      <div class="row justify-content-center">
        <div class="col-6">

          <h3 class="text-center">About</h3>
          <p>This page is a protected page. Unless valid login is provided, this page cannot be displayed & will be redirected to login page.</p>
          <hr>


          <h2>File upload example</h2>

          <div class="mb-3">
            <label class="form-label">Upload image</label>
            <input class="form-control" type="file" ref="fileUploadField" @change="onChooseFile()">
          </div>

          <div class="text-center">
            <button class="btn btn-primary" @click="onUploadFile()">Upload</button>
          </div>


          <div>
            <img class="img-fluid" :src="uploadedImage" alt="" v-if="uploadedImage">
          </div>


        </div>
      </div>
    </div>

  </div>

</template>

<script>
import TopNavigationBar from '@src/components/TopNavigationBar';
import axios from 'axios';
import {errorDialog} from '@src/assets/libs/bootloks';

export default {
  name: 'About',
  components: { TopNavigationBar },

  data() {
    return {

      fileToUpload: null,

      uploadedImage: 'uploads/profiles/students/person_6d198b36110689dc5a6c391c91f4127f.jpg',

    };
  },

  mounted() {


  },

  methods: {

    onChooseFile() {
      this.fileToUpload = this.$refs.fileUploadField.files[ 0 ];
    },

    async onUploadFile() {

      try {

        let formData = new FormData();
        formData.append( 'file', this.fileToUpload );

        const response = await axios.post( 'test/upload-image.php', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        } );

        console.log( response.data.payload.data );
        this.uploadedImage = 'uploads/' + response.data.payload.data;

      } catch ( e ) {
        errorDialog( { message: e.response.data.payload.error } );
      }

    },

  },

};
</script>

<style scoped>

</style>
