<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row">

        <div class="col">

          <div class="row">

            <!-- details section -->
            <div class="col-12 justify-content-center text-center mb-4">
              <div class="">
                <h2>St.Michael's College &boxh; Sports Management System</h2>
              </div>
              <div class="text-center">
                <img :src="logo" alt="" style="width: 200px">
              </div>
            </div><!-- col -->

          </div><!-- row -->

          <div class="row">
            <div class="col">

              <div class="border shadow rounded">

                <div class="mb-1 p-2 mb-2 bg-dark text-white rounded-top">
                  Students
                </div>

                <div class="p-2">
                  <router-link class="" to="/students">Search students</router-link>
                </div>
              </div>

            </div><!-- col -->

            <div class="col">
              <div class="border shadow rounded">

                <div class="mb-1 p-2 mb-2 bg-dark text-white rounded-top">
                  Staff
                </div>

                <div class="p-2">
                  <router-link class="d-block" :to="{name: 'manageHpeTeachersPage'}">HPE Teachers</router-link>
                  <router-link class="d-block" :to="{name: 'manageMastersInChargePage'}">Masters In-Charge</router-link>
                  <router-link class="d-block" :to="{name: 'manageCoachesPage'}">Coaches</router-link>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="border shadow rounded">

                <div class="mb-1 p-2 mb-2 bg-dark text-white rounded-top">
                  Games
                </div>

                <div class="p-2">
                  <router-link class="" :to="{name: 'cricketPage'}">Cricket</router-link>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="border shadow rounded">


                <div class="mb-1 p-2 mb-2 bg-dark text-white rounded-top">
                  Events
                </div>
                <div class="p-2">

                  <router-link class="d-block" :to="{name: 'manageRunningGamesPage'}">Running events</router-link>
                  <router-link class="d-block" :to="{name: 'manageEventsPage'}">Other events</router-link>

                </div>
              </div>
            </div><!-- col -->

          </div>


        </div>

      </div>
    </div>

  </div><!-- template -->

</template>

<script>
import StudentsSection from '@src/views/pages/home_components/StudentsSection.vue';
import TopNavigationBar from '../../components/TopNavigationBar';

import logo from '@src/assets/images/logo.svg';

export default {
  name: 'Home',
  components: {StudentsSection, TopNavigationBar},

  data() {
    return {
      logo: logo
    };
  },

  mounted() {


  },

};
</script>

<style scoped>

</style>
