<template>

  <div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Profile</th>
          <th>Admission No.</th>
          <th>Full name</th>
          <th>DoA</th>
          <th>DoB</th>
          <th>BC No.</th>
          <th>Grade</th>
          <th>House</th>
        </tr>
        </thead>

        <tbody>

        <tr v-for="student in studentsList" :key="student.id">
          <td>
            <img :src="renderProfilePic(student.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
          </td>
          <td>
            <router-link :to="{name: 'editStudent', params: {id: student.id}}">{{ student.admission_number }}</router-link>
          </td>
          <td>{{ student.full_name }}</td>
          <td>{{ student.date_of_admission }}</td>
          <td>{{ student.dob }}</td>
          <td>{{ student.bc_number }}</td>
          <td>{{ student.grade }}</td>
          <td>{{ student.house }}</td>
        </tr>

        </tbody>

      </table>
    </div>

    <!-- block: pagination  -->
    <div class="row my-2">
      <div class="col">

        <div class="text-center">
          <button :disabled="!isPreviousEnabled" class="btn btn-primary" @click="onPrevious()">
            <i class="bi bi-arrow-left-short"></i>
          </button>
          <button :disabled="!isNextEnabled" class="btn btn-primary" @click="onNext()">
            <i class="bi bi-arrow-right-short"></i>
          </button>
        </div>

      </div>
    </div>
    <!-- block: pagination -->

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';

export default {
  name: 'ListAllStudentsSubPage',

  data() {
    return {

      studentsList: [],
      LIMIT: 20,
      OFFSET: 0,
    };
  },


  computed: {

    totalStudentsCount() {
      return this.$store.getters['students/getTotalStudentsCount'];
    },

    isNextEnabled() {
      return (this.OFFSET + this.LIMIT) < this.totalStudentsCount;
    },

    isPreviousEnabled() {
      return this.OFFSET > 0;
    },

  },

  async mounted() {

    try {

      const params = {
        limit: this.LIMIT,
        offset: this.OFFSET,
      };

      await this.$store.dispatch('students/fetchAll', params);
      this.studentsList = this.$store.getters['students/getStudentsList'];


    } catch (e) {
      errorDialog({message: 'Failed to fetch students details'});
    }


    this.$nextTick(() => {
      $('.table').DataTable({
        'paging': false,
        'info': false,
      });
    });

  },

  methods: {

    /*
   * on next
   * */
    async onNext() {

      this.OFFSET += this.LIMIT;

      try {
        const params = {
          limit: this.LIMIT,
          offset: this.OFFSET,
        };

        await this.$store.dispatch('students/fetchAll', params);
        this.studentsList = this.$store.getters['students/getStudentsList'];


      } catch (e) {
        console.log(e);
      }

      // this.$nextTick( () => {
      //   $( '.table' ).DataTable( );
      // } );

    },

    /*
    * on previous
    * */
    async onPrevious() {
      this.OFFSET -= this.LIMIT;

      try {
        const params = {
          limit: this.LIMIT,
          offset: this.OFFSET,
        };

        await this.$store.dispatch('students/fetchAll', params);
        this.studentsList = this.$store.getters['students/getStudentsList'];

      } catch (e) {
        console.log(e);
      }


      // this.$nextTick( () => {
      //   $( '.table' ).DataTable( );
      // } );

    },

    renderProfilePic( profilePic ) {
      if ( profilePic === '' || profilePic === null ) {
        return '/images/profile_pic.svg';
      }
      return profilePic;
    },

  },


};
</script>

<style scoped>

</style>
