<template>

  <div class="mb-3">

    <CardSection>

      <template v-slot:title>
        <router-link :to="{name: 'CricketPrintTwoDaysPerformances'}" class="btn btn-outline-primary"><i class="bi bi-printer-fill"></i></router-link>
        Two Days Match Performances
      </template>


      <!-- section: runs graph -->
      <div class="row mb-3">
        <div class="col">
          <div class="chart_runs">
            <canvas height="250px" id="chart_line_runs_two_days"/>
          </div>
        </div>
      </div>

      <!-- section: batting data -->
      <div class="alert alert-primary">

        <h4 class="text-center mb-3">Batting Performance</h4>

        <!-- section: batting performances -->
        <!-- start: stats -->
        <div class="batting_stats mb-3">

          <div class="row g-1">

            <div class="col">
              <div class="card text-white bg-primary">
                <div class="card-header text-center">Matches</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ battingStats.totalMatches }}</div>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">Runs</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ battingStats.totalScore }}</div>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">Score</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ battingStats.highestScore }}</div>
                </div>
              </div>
            </div><!-- col -->


            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">100s</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ battingStats.score_100s }}</div>
                </div>
              </div>
            </div><!-- col -->


            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">50s</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ battingStats.score_50s }}</div>
                </div>
              </div>
            </div><!-- col -->


            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">0s</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ battingStats.score_0 }}</div>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="card text-white bg-success">
                <div class="card-header text-center">Strike Rate</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ battingStats.strikeRate }}</div>
                </div>
              </div>
            </div><!-- col -->

          </div><!-- row -->

        </div>
        <!-- end: stats -->

        <div class="mb-3">
          <button class="btn btn-sm btn-primary" @click="$refs.modal_add_batting_performance.show()">
            <i class="bi bi-plus-circle"></i> Add performance
          </button>
        </div>

        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th class="table-column-date">Match Date</th>
            <th>Match</th>
            <th class="text-end table-column-numbers">Runs</th>
            <th class="text-end table-column-numbers">Balls Faced</th>
            <th class="text-end table-column-numbers">4s</th>
            <th class="text-end table-column-numbers">6s</th>
            <th class="text-end table-column-numbers">Strike Rate</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in battingPerformances" :key="item.id">
            <td>
              <button class="btn btn-sm p-0 m-0 btn-link" @click="onOpenEditBattingModal(item)">
                {{ item.ageGroupMatch.match_date }}
              </button>
            </td>
            <td>{{ item.ageGroupMatch.tournament_name }}</td>
            <td class="text-end">{{ item.batting_runs_1 }} | {{ item.batting_runs_2 }}</td>
            <td class="text-end">{{ item.batting_balls_faced_1 }} | {{ item.batting_balls_faced_2 }}</td>
            <td class="text-end">{{ item.batting_4s_1 }} | {{ item.batting_4s_2 }}</td>
            <td class="text-end">{{ item.batting_6s_1 }} | {{ item.batting_6s_2 }}</td>
            <td class="text-end">{{ calculateStrikeRateDay1( item ) }} | {{ calculateStrikeRateDay2( item ) }}</td>
          </tr>
          </tbody>
        </table>


      </div>

      <hr>

      <!-- section: bowling performances -->

      <div class="alert alert-primary">

        <h4 class="text-center mb-3">Bowling Performance</h4>

        <!-- start: stats -->
        <div class="bowling_stats mb-3">

          <div class="row g-1">

            <div class="col">
              <div class="card text-white bg-primary">
                <div class="card-header text-center">Matches</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ bowlingStats.totalMatches }}</div>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">Overs</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ bowlingStats.totalOvers }}</div>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">Runs</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ bowlingStats.totalRuns }}</div>
                </div>
              </div>
            </div><!-- col -->


            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">Wickets</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ bowlingStats.totalWickets }}</div>
                </div>
              </div>
            </div><!-- col -->


            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">BBM</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ bowlingStats.bestBowlingInnings }}</div>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="card text-white bg-dark">
                <div class="card-header text-center">Strike Rate</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ bowlingStats.strikeRate }}</div>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="card text-white bg-success">
                <div class="card-header text-center">Average</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ bowlingStats.average }}</div>
                </div>
              </div>
            </div><!-- col -->

            <div class="col">
              <div class="card text-white bg-success">
                <div class="card-header text-center">Economy</div>
                <div class="card-body p-1">
                  <div class="text-center text-4xl">{{ bowlingStats.averageEconomy }}</div>
                </div>
              </div>
            </div><!-- col -->

          </div><!-- row -->

        </div>
        <!-- end: stats -->

        <div class="mb-3">
          <button class="btn btn-sm btn-primary" @click="$refs.modal_add_bowling_performance.show()">Add bowling performance</button>
        </div>

        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th class="table-column-date">Match Date</th>
            <th>Match</th>
            <th class="text-end table-column-numbers">Overs</th>
            <th class="text-end table-column-numbers">Balls</th>
            <th class="text-end table-column-numbers">Runs</th>
            <th class="text-end table-column-numbers">Wickets</th>
            <th class="text-end table-column-numbers">Wides</th>
            <th class="text-end table-column-numbers">No Balls</th>
            <th class="text-end table-column-numbers">Economy</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in bowlingPerformances" :key="item.id">
            <td>
              <button class="btn btn-sm p-0 m-0 btn-link" @click="onOpenEditBowlingModal(item)">
                {{ item.ageGroupMatch.match_date }}
              </button>
            </td>
            <td>{{ item.ageGroupMatch.tournament_name }}</td>
            <td class="text-end">{{ item.bowling_overs_1 }} | {{ item.bowling_overs_2 }}</td>
            <td class="text-end">{{ item.bowling_balls_1 }} | {{ item.bowling_balls_2 }}</td>
            <td class="text-end">{{ item.bowling_runs_1 }} | {{ item.bowling_runs_2 }}</td>
            <td class="text-end">{{ item.bowling_wickets_1 }} | {{ item.bowling_wickets_2 }}</td>
            <td class="text-end">{{ item.bowling_wides_1 }} | {{ item.bowling_wides_2 }}</td>
            <td class="text-end">{{ item.bowling_noballs_1 }} | {{ item.bowling_noballs_2 }}</td>
            <td class="text-end">{{ calculateEconomyRateDay1( item ) }} | {{ calculateEconomyRateDay2( item ) }}</td>
          </tr>
          </tbody>
        </table>

      </div>
      <!-- alert -->


    </CardSection>

    <!-- MODAL WINDOWS -->

    <ModalAddBattingPerformance2Day
        ref="modal_add_batting_performance"
        :completed-matches="completedMatches"
        :student="student"
        v-if="completedMatches"
        @performance-added="_fetchAllPerformances()"/>

    <ModalAddBowlingPerformance2Day
        ref="modal_add_bowling_performance"
        :completed-matches="completedMatches"
        :student="student"
        v-if="completedMatches"
        @performance-added="_fetchAllPerformances()"
    />


    <ModalEditBowlingPerformance2Day
        ref="modal_edit_bowling_performance"
        @performance-updated="_fetchAllPerformances()"
    />

    <ModalEditBattingPerformance2Day
        ref="modal_edit_batting_performance"
        @performance-updated="_fetchAllPerformances()"/>

  </div><!-- template -->

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import CardSection from '@src/components/CardSection.vue';
import ModalAddBattingPerformance2Day from '@src/views/cricket/age_group_components/student_performances/components_2day/ModalAddBattingPerformance2Day.vue';
import ModalAddBowlingPerformance2Day from '@src/views/cricket/age_group_components/student_performances/components_2day/ModalAddBowlingPerformance2Day.vue';
import ModalEditBattingPerformance2Day from '@src/views/cricket/age_group_components/student_performances/components_2day/ModalEditBattingPerformance2Day.vue';
import ModalEditBowlingPerformance2Day from '@src/views/cricket/age_group_components/student_performances/components_2day/ModalEditBowlingPerformance2Day.vue';
import Chart from 'chart.js/auto';
import _ from 'lodash';

export default {
  name: 'StudentPerformances2Day',
  components: { ModalEditBattingPerformance2Day, ModalEditBowlingPerformance2Day, ModalAddBowlingPerformance2Day, ModalAddBattingPerformance2Day, CardSection },

  props: {
    student: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {

      selectedBattingPerformance: null,

      chartRuns: null,

      chartRunsLabels: [],

      chartRunsBattingRunsDay1: [],
      chartRunsBattingRunsDay2: [],

      chartRunsBallFacedDay1: [],
      chartRunsBallFacedDay2: [],


    };
  },


  computed: {

    ageGroupId() {
      return parseInt( this.$route.params[ 'ageGroupId' ] );
    },


    /** @returns {CricketAgeGroupMatch[]} */
    completedMatches() {
      const matches = this.$store.getters[ 'cricketMatches2Days/getMatchesList' ];
      const groupedBy = _.groupBy( matches, ( item ) => item.status );
      return groupedBy[ 'COMPLETED' ];
    },


    allPerformances() {
      const performances = this.$store.getters[ 'cricketPerformances2Days/getAllPerformances' ];

      return _.groupBy( performances, function ( item ) {
        return item.performance_type;
      } );
    },

    /** @returns {CricketStudentPerformance[]} */
    battingPerformances() {
      return this.allPerformances[ 'BATTING' ];
    },

    /** @returns {CricketStudentPerformance[]} */
    bowlingPerformances() {
      return this.allPerformances[ 'BOWLING' ];
    },

    battingStats() {
      const stats = {
        totalMatches: 0,
        totalScore: 0,
        totalBallsFaced: 0,
        highestScore: 0,
        score_50s: 0,
        score_100s: 0,
        score_0: 0,
        strikeRate: 0,
      };

      if ( !_.isEmpty( this.battingPerformances ) ) {

        this.chartRunsLabels = [];
        this.chartRunsBallFacedDay1 = [];
        this.chartRunsBallFacedDay2 = [];
        this.chartRunsBattingRunsDay1 = [];
        this.chartRunsBattingRunsDay2 = [];

        /* total matches */
        stats.totalMatches = this.battingPerformances.length;

        /* total score, total balls faced */
        _.forEach( this.battingPerformances, item => {
          stats.totalScore += item[ 'batting_runs_1' ];
          stats.totalScore += item[ 'batting_runs_2' ];

          stats.totalBallsFaced += item[ 'batting_balls_faced_1' ];
          stats.totalBallsFaced += item[ 'batting_balls_faced_2' ];


          this.chartRunsLabels.push( item[ 'ageGroupMatch' ][ 'tournament_name' ] );

          this.chartRunsBattingRunsDay1.push( item[ 'batting_runs_1' ] );
          this.chartRunsBattingRunsDay2.push( item[ 'batting_runs_2' ] );
          this.chartRunsBallFacedDay1.push( item[ 'batting_balls_faced_1' ] );
          this.chartRunsBallFacedDay2.push( item[ 'batting_balls_faced_2' ] );

        } );

        /* highest score */
        let maxRun1 = _.orderBy( this.battingPerformances, ['batting_runs_1'], ['desc'] )[ 0 ];
        let maxRun2 = _.orderBy( this.battingPerformances, ['batting_runs_2'], ['desc'] )[ 0 ];
        stats.highestScore = Math.max( maxRun1[ 'batting_runs_1' ], maxRun2[ 'batting_runs_2' ] );

        /* score 50s */
        let fifties = _.filter( this.battingPerformances, item => {
          return ( item[ 'batting_runs_1' ] >= 50 && item[ 'batting_runs_1' ] < 100 ) ||
              ( item[ 'batting_runs_2' ] >= 50 && item[ 'batting_runs_2' ] < 100 );
        } );

        stats.score_50s = fifties.length;

        /* score 100s */
        let hundreds = _.filter( this.battingPerformances, item => {
          return ( item[ 'batting_runs_1' ] >= 100 ) || ( item[ 'batting_runs_2' ] >= 100 );
        } );

        stats.score_100s = hundreds.length;

        stats.strikeRate = ( ( stats.totalScore / stats.totalBallsFaced ) * 100 ).toFixed( 2 );

      }

      return stats;
    },

    bowlingStats() {

      const stats = {
        totalMatches: 0,
        totalRuns: 0,
        totalOvers: 0,
        totalWickets: 0,
        totalBalls: 0,
        bestBowlingInnings: '-',
        average: 0,
        averageEconomy: 0,
        strikeRate: 0,
      };

      let totalEconomy = 0;

      if ( !_.isEmpty( this.bowlingPerformances ) ) {

        stats.totalMatches = this.bowlingPerformances.length;

        this.bowlingPerformances.forEach( item => {
          stats.totalWickets += item[ 'bowling_wickets_1' ];
          stats.totalWickets += item[ 'bowling_wickets_2' ];


          stats.totalRuns += item[ 'bowling_runs_1' ];
          stats.totalRuns += item[ 'bowling_runs_2' ];

          stats.totalOvers += item[ 'bowling_overs_1' ];
          stats.totalOvers += item[ 'bowling_overs_2' ];

          stats.totalBalls += item[ 'bowling_balls_1' ];
          stats.totalBalls += item[ 'bowling_balls_2' ];

          totalEconomy += ( stats.totalRuns / stats.totalOvers );
        } );


        const wickets1 = _.orderBy(
            this.bowlingPerformances, ['bowling_wickets_1'], ['desc'],
        )[ 0 ];

        const wickets2 = _.orderBy(
            this.bowlingPerformances, ['bowling_wickets_2'], ['desc'],
        )[ 0 ];


        if ( wickets1[ 'bowling_wickets_1' ] > wickets2[ 'bowling_wickets_2' ] ) {
          stats.bestBowlingInnings = wickets1[ 'bowling_runs_1' ] + '/' + wickets1[ 'bowling_wickets_1' ];
        } else {
          stats.bestBowlingInnings = wickets2[ 'bowling_runs_2' ] + '/' + wickets2[ 'bowling_wickets_2' ];
        }

        stats.average = ( stats.totalRuns / stats.totalWickets ).toFixed( 2 );
        stats.strikeRate = ( stats.totalBalls / stats.totalWickets ).toFixed( 2 );
        stats.averageEconomy = ( totalEconomy / stats.totalMatches ).toFixed( 2 );

      }


      return stats;
    },

  },

  watch: {
    chartRunsBattingRunsDay1( value ) {
      this._generateRunsChart();
    },
  },


  async mounted() {
    try {

      await this._fetchAllPerformances();

      await this.$store.dispatch( 'cricketMatches2Days/fetchAllMatches', this.ageGroupId );

    } catch ( e ) {
      errorDialog( {
        message: 'Failed to load match details',
      } );
    }


  }, /* mounted */


  methods: {


    /**
     * Calculates the strike rate
     * @param {CricketStudentPerformance} item
     */
    calculateStrikeRateDay1( item ) {
      return ( ( item.batting_runs_1 / item.batting_balls_faced_1 ) * 100 ).toFixed( 2 );
    },

    /**
     * Calculates the strike rate
     * @param {CricketStudentPerformance} item
     */
    calculateStrikeRateDay2( item ) {
      return ( ( item.batting_runs_2 / item.batting_balls_faced_2 ) * 100 ).toFixed( 2 );
    },

    /**
     * Calculates the economy rate
     * @param {CricketStudentPerformance} item
     */
    calculateEconomyRateDay1( item ) {
      return ( item.bowling_runs_1 / item.bowling_overs_1 ).toFixed( 2 );
    },

    /**
     * Calculates the economy rate
     * @param {CricketStudentPerformance} item
     */
    calculateEconomyRateDay2( item ) {
      return ( item.bowling_runs_2 / item.bowling_overs_2 ).toFixed( 2 );
    },

    /**
     *
     * @param {CricketStudentPerformance} item
     */
    onOpenEditBowlingModal( item ) {
      this.$refs.modal_edit_bowling_performance.show( item );
    },

    /**
     *
     * @param {CricketStudentPerformance} item
     */
    onOpenEditBattingModal( item ) {
      this.$refs.modal_edit_batting_performance.show( item );
    },


    /**
     * Fetch all performances (bowling and batting)
     * @private
     */
    async _fetchAllPerformances() {

      try {

        await this.$store.dispatch( 'cricketPerformances2Days/fetchAllByStudent', this.student.id );

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to fetch student\'s performance details',
        } );
      }
    },

    _generateRunsChart() {


      if ( this.chartRuns !== null ) {

        this.chartRuns.data.labels = this.chartRunsLabels;
        this.chartRuns.data.datasets[ 0 ].data = this.chartRunsBattingRunsDay1;
        this.chartRuns.data.datasets[ 1 ].data = this.chartRunsBattingRunsDay2;
        this.chartRuns.data.datasets[ 2 ].data = this.chartRunsBallFacedDay1;
        this.chartRuns.data.datasets[ 3 ].data = this.chartRunsBallFacedDay2;

        this.chartRuns.update();

      } else {

        this.chartRuns = new Chart( 'chart_line_runs_two_days', {

          type: 'line',
          data: {
            labels: this.chartRunsLabels,
            datasets: [
              {
                label: 'Day 1: Runs',
                data: this.chartRunsBattingRunsDay1,
                fill: false,
                borderColor: '#0984e3',
                tension: 0.1,
              },
              {
                label: 'Day 2: Runs',
                data: this.chartRunsBattingRunsDay2,
                fill: false,
                borderColor: '#6c5ce7',
                tension: 0.1,
              },
              {
                label: 'Day 1: Balls faced',
                data: this.chartRunsBallFacedDay1,
                fill: false,
                borderColor: '#fdcb6e',
                tension: 0.1,
              },
              {
                label: 'Day 2: Balls faced',
                data: this.chartRunsBallFacedDay2,
                fill: false,
                borderColor: '#e17055',
                tension: 0.1,
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
          },

        } );

        this.chartRuns.update();

      }


    }, /* generateRunsChart */


  }, /* methods */


};
</script>

<style scoped>

.table-column-numbers {
  width: 100px;
}

.text-4xl {
  font-size: 2rem;
}

</style>
