<template>

  <ModalWindow ref="modal_add" title="Add bowling performance">


    <div class="">

      <div class="mb-3">
        <label class="form-label fw-bold">Match</label>
        <select class="form-select" v-model="formAddPerformance.match">
          <option :value="null" disabled>SELECT ONE OPTION</option>
          <option v-for="item in completedMatches" :value="item" :key="item.id">
            {{ item.match_date }} {{ item.tournament_name }}
          </option>
        </select>
      </div>

      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Overs</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.bowling_overs">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Balls</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.bowling_balls">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.bowling_runs">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Wickets</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.bowling_wickets">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Wides</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.bowling_wides">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label class="form-label">No balls</label>
            <input type="number" class="form-control" v-model.number="formAddPerformance.bowling_noballs">
          </div>

        </div>
      </div>

      <div class="text-center my-3">
        <button class="btn btn-primary" @click="onAddPerformance()" :disabled="!formAddPerformance.match">Add performance</button>
      </div>

    </div>

  </ModalWindow>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import ModalWindow from '@src/components/ModalWindow.vue';

export default {
  name: 'ModalAddBowlingPerformance1Day',
  components: { ModalWindow },
  props: {
    completedMatches: {
      type: Array,
      required: true,
    },
    student: {
      type: Object,
      required: true,
    },
    matchType:{
      type: String,
      default: '1day'
    }
  },

  data() {
    return {

      /* performance to add */
      formAddPerformance: {
        student_id: this.student.id,
        match: null,
        performance_type: 'BOWLING',
        bowling_overs: 0,
        bowling_balls: 0,
        bowling_runs: 0,
        bowling_wickets: 0,
        bowling_wides: 0,
        bowling_noballs: 0,
      },


    };
  },

  computed: {
    //
  },

  mounted() {
    //
  },

  methods: {
    show() {
      this.$refs.modal_add.show();
    }, /* show */

    hide() {
      this.$refs.modal_add.hide();
    }, /* hide */


    async onAddPerformance() {

      try {

        const params = {
          student_id: this.formAddPerformance.student_id,
          match_id: this.formAddPerformance.match.id,
          performance_type: this.formAddPerformance.performance_type,
          bowling_overs: this.formAddPerformance.bowling_overs,
          bowling_balls: this.formAddPerformance.bowling_balls,
          bowling_runs: this.formAddPerformance.bowling_runs,
          bowling_wickets: this.formAddPerformance.bowling_wickets,
          bowling_wides: this.formAddPerformance.bowling_wides,
          bowling_noballs: this.formAddPerformance.bowling_noballs,
        };

        if(this.matchType === 'T20'){
          await this.$store.dispatch( 'cricketPerformancesT20/add', params );
        }else{
          await this.$store.dispatch( 'cricketPerformances1Day/add', params );
        }

        this.$emit( 'performance-added' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to add the performance',
        } );
      }

    }, /* onAddPerformances */

  },

};
</script>

<style scoped>

</style>
