<template>

  <ModalWindow ref="modal_update" title="Edit bowling performance" @modal-closed="confirmDelete = false">


    <div class="">

      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Overs</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.bowling_overs">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Balls</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.bowling_balls">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.bowling_runs">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Wickets</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.bowling_wickets">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Wides</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.bowling_wides">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label class="form-label">No balls</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.bowling_noballs">
          </div>

        </div>
      </div>

      <div class="text-center my-3">
        <button class="btn btn-primary" @click="onUpdatePerformance()">Update performance</button>
      </div>

      <div class="row">
        <div class="col text-center">

          <button class="btn btn-outline-danger mb-2" @click="confirmDelete = !confirmDelete">
            <i class="bi bi-trash-fill"></i>
          </button>

          <div class="alert alert-danger" v-if="confirmDelete">
            <p>Confirm delete to permanently remove the record.</p>
            <button class="btn btn-danger" @click="onDeletePerformance()">Confirm delete</button>
          </div>

        </div>
      </div>

    </div>

  </ModalWindow>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import ModalWindow from '@src/components/ModalWindow.vue';

export default {
  name: 'ModalEditBowlingPerformance1Day',
  components: { ModalWindow },

  props: {
    matchType: {
      type: String,
      default: '1day',
    },
  },

  data() {
    return {

      /* performance to update */
      formUpdatePerformance: {
        id: 0,
        bowling_overs: 0,
        bowling_balls: 0,
        bowling_runs: 0,
        bowling_wickets: 0,
        bowling_wides: 0,
        bowling_noballs: 0,
      },

      /* delete performance */
      confirmDelete: false,


    };
  },


  methods: {

    show( performance ) {

      this.formUpdatePerformance = performance;

      this.$refs.modal_update.show();
    }, /* show */

    hide() {
      this.$refs.modal_update.hide();
    }, /* hide */


    async onUpdatePerformance() {

      try {

        const params = {
          id: this.formUpdatePerformance.id,
          // match_id: this.formUpdatePerformance.match.id,
          // performance_type: this.formUpdatePerformance.performance_type,
          bowling_overs: this.formUpdatePerformance.bowling_overs,
          bowling_balls: this.formUpdatePerformance.bowling_balls,
          bowling_runs: this.formUpdatePerformance.bowling_runs,
          bowling_wickets: this.formUpdatePerformance.bowling_wickets,
          bowling_wides: this.formUpdatePerformance.bowling_wides,
          bowling_noballs: this.formUpdatePerformance.bowling_noballs,
        };

        if ( this.matchType === 'T20' ) {
          await this.$store.dispatch( 'cricketPerformancesT20/update', params );
        } else {
          await this.$store.dispatch( 'cricketPerformances1Day/update', params );
        }

        this.$emit( 'performance-updated' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to update the bowling performance',
        } );
      }

    }, /* onAddPerformances */

    async onDeletePerformance() {

      try {


        if ( this.matchType === 'T20' ) {
          await this.$store.dispatch( 'cricketPerformancesT20/delete', this.formUpdatePerformance.id );
        } else {
          await this.$store.dispatch( 'cricketPerformances1Day/delete', this.formUpdatePerformance.id );
        }

        this.$emit( 'performance-updated' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to delete batting performance',
        } );
      }

    },

  },

};
</script>

<style scoped>

</style>
