<template>

  <ModalWindow ref="modal_update" title="Update batting performance" @modal-closed="confirmDelete = false">


    <div class="">

      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Runs</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_runs">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Balls faced</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_balls_faced">
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">4s</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_4s">
          </div>

        </div>
        <div class="col">

          <div class="mb-3">
            <label class="form-label">6s</label>
            <input type="number" class="form-control" v-model.number="formUpdatePerformance.batting_6s">
          </div>

        </div>
      </div>

      <div class="text-center my-3">
        <button class="btn btn-primary" @click="onUpdatePerformance()">Update</button>
      </div>

      <hr>

      <div class="row">
        <div class="col text-center">

          <button class="btn btn-outline-danger mb-2" @click="confirmDelete = !confirmDelete">
            <i class="bi bi-trash-fill"></i>
          </button>

          <div class="alert alert-danger" v-if="confirmDelete">
            <p>Confirm delete to permanently remove the record.</p>
            <button class="btn btn-danger" @click="onDeletePerformance()">Confirm delete</button>
          </div>

        </div>
      </div>

    </div>

  </ModalWindow>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import ModalWindow from '@src/components/ModalWindow.vue';

const _ = require( 'lodash' );

export default {
  name: 'ModalEditBattingPerformance1Day',
  components: { ModalWindow },

  props: {
    matchType: {
      type: String,
      default: '1day',
    },
  },

  data() {
    return {

      /* performance to add */
      formUpdatePerformance: {
        id: 0,
        batting_runs: 0,
        batting_balls_faced: 0,
        batting_4s: 0,
        batting_6s: 0,
      },

      /* delete performance */
      confirmDelete: false,

    };
  },


  methods: {

    show( performance ) {
      this.formUpdatePerformance = performance;
      this.$refs.modal_update.show();
    }, /* show */

    hide() {
      this.confirmDelete = false;
      console.log( 'closing invoked from modal batting performance' );

      this.$refs.modal_update.hide();


    }, /* hide */

    async onUpdatePerformance() {

      try {

        const params = {
          id: this.formUpdatePerformance.id,
          batting_runs: this.formUpdatePerformance.batting_runs,
          batting_balls_faced: this.formUpdatePerformance.batting_balls_faced,
          batting_4s: this.formUpdatePerformance.batting_4s,
          batting_6s: this.formUpdatePerformance.batting_6s,
        };

        if ( this.matchType === 'T20' ) {
          await this.$store.dispatch( 'cricketPerformancesT20/update', params );
        } else {
          await this.$store.dispatch( 'cricketPerformances1Day/update', params );
        }

        this.$emit( 'performance-updated' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to update batting performance',
        } );
      }

    }, /* onAddPerformances */


    async onDeletePerformance() {

      try {


        if ( this.matchType === 'T20' ) {
          await this.$store.dispatch( 'cricketPerformancesT20/delete', this.formUpdatePerformance.id );
        } else {
          await this.$store.dispatch( 'cricketPerformances1Day/delete', this.formUpdatePerformance.id );
        }

        this.$emit( 'performance-updated' );

        this.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to delete batting performance',
        } );
      }

    },


  },


};


</script>

<style scoped>

</style>
