<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">


        <!-- START: Profile Pic Area -->
        <div class="col-12 col-md-3">

          <div class="alert alert-secondary">

            <h4 class="text-center">Profile picture</h4>

            <div class="profile__picture text-center position-relative mb-4">
              <img :src="profilePicUrl" :alt="student.full_name" class="img-fluid img-thumbnail shadow" style="max-width: 200px">
              <button class="btn btn-sm btn-danger position-absolute top-100 start-50 translate-middle"
                      v-if="student.profile_pic" @click="onRemoveProfilePic()">Remove
              </button>
            </div>

            <div class="mb-3">
              <label class="form-label">Upload profile pic</label>
              <input type="file" class="form-control" ref="profilePicField" @change="onChooseFile()">
            </div>

            <div class="text-center">
              <button class="btn btn-primary" :disabled="! profilePicFile" @click="onUploadProfilePic()">Upload</button>
            </div>

          </div><!-- alert -->

        </div><!-- col -->
        <!-- END: Profile Pic Area -->

        <!-- START: Student details area -->
        <div class="col-12 col-md-9">


          <section id="student_details">
            <!-- START: Student details -->
            <div class="alert alert-secondary" v-if="!showEdit">

              <div class="d-flex justify-content-between align-items-center">
                <div></div>
                <div>
                  <h2 class="text-center">{{ student.full_name }}</h2>
                </div>
                <div>
                  <button class="btn btn-sm btn-primary" @click="showEdit = true">EDIT</button>
                </div>
              </div>


              <hr>

              <div class="d-flex justify-content-center gap-3 mb-3 mt-4">

                <div class="p-2 bg-secondary d-flex flex-column justify-content-center align-items-center text-white rounded shadow-sm">
                  <div class="card_icon d-flex justify-content-center align-items-center"><i class="bi bi-mortarboard-fill"></i></div>
                  <div class="card_value">{{ student.grade }}</div>
                </div>

                <div class="p-2 d-flex flex-column justify-content-center align-items-center text-white rounded shadow-sm"
                     :class="renderHouseColor(student.house)">
                  <div class="card_icon d-flex justify-content-center align-items-center"><i class="bi bi-house-fill"></i></div>
                  <div class="card_value">{{ student.house }}</div>
                </div>

              </div>

              <div class="d-flex justify-content-center gap-3 mb-3">
                <div class="bg-white p-1 rounded shadow-sm">Ad. No: <span class="fw-bold">{{ student.admission_number }}</span></div>
                <div class="bg-white p-1 rounded shadow-sm">Ad. Date: <span class="fw-bold">{{ student.date_of_admission }}</span></div>
                <div class="bg-white p-1 rounded shadow-sm">DoB: <span class="fw-bold">{{ student.dob }}</span></div>
                <div class="bg-white p-1 rounded shadow-sm">Age: <span class="fw-bold">{{ calculatedAge }}</span></div>
                <div class="bg-white p-1 rounded shadow-sm">BC: <span class="fw-bold">{{ student.bc_number }}</span></div>
              </div>


              <div class="d-flex gap-3 mt-5 justify-content-center">

                <div class="d-flex flex-column align-items-center">
                  <div class="card_icon d-flex justify-content-center align-items-center text-white"><i class="bi bi-mailbox2"></i></div>
                  <div class="">
                    <div v-html="student.address" style="white-space: pre" class="text-center"></div>
                  </div>
                </div>

                <div class="d-flex flex-column align-items-center">
                  <div class="card_icon d-flex justify-content-center align-items-center text-white"><i class="bi bi-people-fill"></i></div>
                  <div class="">
                    {{ student.guardian_name }}
                  </div>
                </div>

                <div class="d-flex flex-column align-items-center">
                  <div class="card_icon d-flex justify-content-center align-items-center text-white"><i class="bi bi-telephone-fill"></i></div>
                  <div class="">
                    {{ student.contact_number }}
                  </div>
                </div>

                <div class="d-flex flex-column align-items-center">
                  <div class="card_icon d-flex justify-content-center align-items-center text-white"><i class="bi bi-envelope-fill"></i></div>
                  <div class="">
                    {{ student.email }}
                  </div>
                </div>

              </div> <!-- d-flex -->


            </div>
            <!-- END: Student details -->

            <!-- START: Edit student details -->
            <div class="alert alert-primary" v-else>

              <h3>Edit {{ student.full_name }}</h3>

              <!-- form edit student -->
              <div id="form-edit-student">

                <div class="row">
                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Admission No.</label>
                      <input type="text" class="form-control" v-model="student.admission_number">
                    </div>

                  </div>
                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Admission Date</label>
                      <DateField v-model="student.date_of_admission"/>
                    </div>

                  </div>
                </div><!-- row -->

                <div class="row">
                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Full Name</label>
                      <input type="text" class="form-control" v-model="student.full_name">
                    </div>

                  </div>
                </div><!-- row -->

                <div class="row">
                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Date of Birth</label>
                      <DateField v-model="student.dob"/>
                    </div>

                  </div>
                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Age</label>
                      <input type="text" class="form-control" :value="calculatedAge" disabled>
                    </div>

                  </div>
                </div><!-- row -->

                <div class="row">
                  <div class="col-6">

                    <div class="mb-3">
                      <label class="form-label">Birth Certificate No.</label>
                      <input type="text" class="form-control" v-model="student.bc_number">
                    </div>

                  </div>
                </div><!-- row -->


                <div class="row">

                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Address</label>
                      <textarea class="form-control" rows="3" v-model="student.address"></textarea>
                    </div>

                  </div>

                </div><!-- row -->

                <div class="row">
                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Grade</label>
                      <input type="text" class="form-control" v-model="student.grade">
                    </div>


                  </div>
                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">House</label>
                      <select v-model="student.house" class="form-select">
                        <option value="Bonel">Bonel</option>
                        <option value="Marian">Marian</option>
                        <option value="Crowther">Crowther</option>
                        <option value="Miller">Miller</option>
                      </select>
                    </div>

                  </div>
                </div>

                <h4>Contact details</h4>

                <div class="row">
                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Guardian Name</label>
                      <input type="text" class="form-control" v-model="student.guardian_name">
                    </div>

                  </div>
                </div><!-- row -->

                <div class="row">
                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Contact No.</label>
                      <input type="text" class="form-control" v-model="student.contact_number">
                    </div>

                  </div>

                  <div class="col">

                    <div class="mb-3">
                      <label class="form-label">Email</label>
                      <input type="text" class="form-control" v-model="student.email">
                    </div>

                  </div>

                </div><!-- row -->

                <div class="text-center">
                  <button class="btn btn-primary" @click="onUpdate()" :disabled="!isFormValid">Update</button>
                  <button class="btn btn-secondary" @click="showEdit = false">Cancel</button>
                </div>


              </div><!-- form -->


            </div><!-- alert -->
            <!-- END: Edit student details -->
          </section>

          <section id="games_participated">
            <CardSection>

              <template v-slot:title>Participated Games & Events</template>

              <ListInCricket/>
              <ListInEvents/>
            </CardSection>
          </section>


        </div><!-- col -->
        <!-- END: Student details area -->


      </div><!-- row -->
    </div><!-- container -->


  </div><!-- template -->

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import DateField from '@src/components/fields/DateField';
import TopNavigationBar from '@src/components/TopNavigationBar';
import ListInCricket from '@src/views/students/components/ListInCricket';
import CardSection from '@src/components/CardSection';
import ListInEvents from '@src/views/students/components/ListInEvents';

const _ = require('lodash');
const moment = require('moment');

export default {
  name: 'EditStudentPage',
  components: {ListInEvents, CardSection, ListInCricket, DateField, TopNavigationBar},

  data() {
    return {

      student: {
        id: undefined,
        admission_number: undefined,
        date_of_admission: undefined,
        full_name: undefined,
        dob: undefined,
        age: undefined,
        bc_number: undefined,
        email: undefined,
        address: undefined,
        guardian_name: undefined,
        contact_number: undefined,
        grade: undefined,
        house: undefined,
        profile_pic: '/images/profile_pic.svg',
      },

      profilePicSrc: '',
      profilePicFile: null,


      showEdit: false,

    };
  },
  /* -- data -- */

  computed: {

    studentId() {
      return this.$route.params.id;
    },

    isFormValid() {

      return !(
          _.isEmpty(this.student.admission_number) ||
          _.isEmpty(this.student.full_name)
      );

    },

    calculatedAge() {
      let dob = moment(this.student.dob);
      let today = moment();
      return Math.round(moment.duration(today.diff(dob)).asYears());
    },

    profilePicUrl() {
      if (_.isEmpty(this.student.profile_pic)) {
        return '/images/profile_pic.svg';
      } else {
        return this.student.profile_pic;
      }
    },


  },
  /* -- computed -- */

  async mounted() {

    try {

      await this.$store.dispatch('students/fetch', this.studentId);
      this.student = this.$store.getters['students/getStudent'];

    } catch (e) {
      alert('Failed to fetch students details');
      await this.$router.push('/students');
    }

  },
  /* -- mounted -- */

  methods: {

    onChooseFile() {
      this.profilePicFile = this.$refs.profilePicField.files[0];
    },

    async onUploadProfilePic() {
      try {

        const params = {
          profilePicFile: this.profilePicFile,
          id: this.studentId,
        };

        await this.$store.dispatch('students/uploadProfilePic', params);

        await this.$store.dispatch('students/fetch', this.studentId);
        this.student = this.$store.getters['students/getStudent'];

      } catch (e) {
        errorDialog({message: 'Failed to upload profile picture'});
      }
    },

    async onRemoveProfilePic() {
      try {

        await this.$store.dispatch('students/removeProfilePic', this.studentId);

        await this.$store.dispatch('students/fetch', this.studentId);
        this.student = this.$store.getters['students/getStudent'];

      } catch (e) {
        errorDialog({message: 'Failed to remove profile picture'});
      }
    },

    async onUpdate() {

      try {

        const params = {
          id: this.student.id,
          admission_number: this.student.admission_number,
          date_of_admission: this.student.date_of_admission,

          full_name: this.student.full_name,
          dob: this.student.dob,
          bc_number: this.student.bc_number,

          grade: this.student.grade,
          house: this.student.house,

          guardian_name: this.student.guardian_name,
          address: this.student.address,
          contact_number: this.student.contact_number,
          email: this.student.email,
        };

        await this.$store.dispatch('students/update', params);

        successDialog({message: 'Student details updated'});

        this.showEdit = false;

      } catch (e) {
        errorDialog({message: 'Failed to update students details'});
      }

    },

    renderHouseColor(house) {
      switch (house) {
        case 'Bonel':
          return 'bg-primary';
        case 'Marian':
          return 'bg-success';
        case 'Crowther':
          return 'bg-danger';
        case 'Miller':
          return 'bg-warning';
      }
    },

  },
  /* -- methods -- */

};
</script>

<style scoped>

/*.profile__picture img {*/
/*  !*width: 200px;*!*/
/*  !*height: 200px;*!*/
/*  !*object-fit: cover;*!*/
/*  !*border-radius: 50%;*!*/
/*}*/

.card_icon {
  font-size: 1.4em;
  background-color: #343a40;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -1.3rem;
}

.card_value {
  font-size: 2em;
}


</style>
