<template>

  <div>

    <TopNavigationBar/>

    <div class="container-fluid pb-5">

      <div class="row">
        <div class="col">

          <!-- block: filters -->
          <div class="alert alert-primary">

            <div class="row">
              <div class="col">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="search students by any keywords..."
                         v-model="search.query" @keyup.enter="onSearch()"
                         @keydown="isSearched = false">

                  <button class="btn btn-primary" @click="onSearch()">Search</button>
                </div>
              </div>
            </div>

          </div><!-- alert -->
          <!-- block: filters -->

        </div><!-- col -->
      </div><!-- row -->

      <router-view/>

    </div><!-- container -->


  </div>

</template>

<script>

import DateRangeField from '@src/components/fields/DateRangeField';
import TopNavigationBar from '@src/components/TopNavigationBar';

const _ = require('lodash');

export default {
  name: 'ListStudentsPage',
  components: {DateRangeField, TopNavigationBar},

  data() {
    return {


      /* -- search fields -- */

      search: {
        query: '',
      },

    };
  },

  computed: {


    searchResultLabel() {

      if (!_.isEmpty(this.search.query)) {
        const count = this.studentsList.length;
        return `Search results for - ${this.search.query} - (${count} results)`;
      }
      return '';
    },

  },


  methods: {


    onSearch() {

      if (this.search.query.length > 0 && this.$route.params.keyword !== this.search.query) {
        this.$router.push('/students/search/' + this.search.query);
      }
    },


  },

};
</script>

<style scoped>

</style>
