<template>

  <div>

    <CardSection>
      <template v-slot:title>Create new age group</template>


      <div class="mb-3">
        <label class="form-label">Title</label>
        <select class="form-select" v-model="ageGroup.title">
          <option v-for="item in titleValues" :value="item">{{ item }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Year</label>
        <input type="number" class="form-control" v-model.number="ageGroup.year">
      </div>

      <div class="mb-3">
        <label class="form-label">Master in-charge</label>
        <select class="form-select" v-model="ageGroup.master_in_charge_id">
          <option value="-1" disabled>CHOOSE ONE</option>
          <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Coach</label>
        <select class="form-select" v-model="ageGroup.coach_id">
          <option value="-1" disabled>CHOOSE ONE</option>
          <option v-for="item in coachesList" :value="item.id">{{ item.full_name }}</option>
        </select>
      </div>

      <div class="text-center mt-2">
        <button class="btn btn-primary" @click="onSave()" :disabled="!formValidated">Save</button>
      </div>

    </CardSection>


  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection.vue';
import moment from 'moment';

let _ = require( 'lodash' );

export default {
  name: 'CreateAgeGroup',
  components: { CardSection },
  data() {
    return {

      titleValues: [
        'Under 12',
        'Under 14',
        'Under 16',
        'Under 18',
        'Under 20',
      ],

      ageGroup: {
        title: 'Under 12',
        master_in_charge_id: -1,
        coach_id: -1,
        year: parseInt( moment().format( 'YYYY' ) ),
      },

    };
  },

  computed: {

    /** @returns {MasterInCharge[]} */
    mastersInChargeList() {
      return this.$store.getters[ 'mastersInCharge/getMastersInChargeList' ];
    },

    /** @returns {Coach[]} */
    coachesList() {
      return this.$store.getters[ 'coaches/getCoachesList' ];
    },

    sportId() {
      return this.$route.params.id;
    },

    formValidated() {
      return this.ageGroup.title !== '' &&
          this.ageGroup.coach_id !== -1 &&
          this.ageGroup.master_in_charge_id !== -1 &&
          _.isNumber( this.ageGroup.year );
    },

  },

  async mounted() {
    try {
      await this.$store.dispatch( 'coaches/fetchAll' );
    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch coaches' } );
    }


  },


  methods: {

    async onSave() {
      try {

        const params = {
          title: this.ageGroup.title,
          sport_id: this.sportId,
          master_in_charge_id: this.ageGroup.master_in_charge_id,
          coach_id: this.ageGroup.coach_id,
          year: this.ageGroup.year,
        };

        await this.$store.dispatch( 'ageGroups_create', params );
        await this.$store.dispatch( 'ageGroups_fetchBySport', this.sportId );

      } catch ( e ) {
        errorDialog( { message: 'Failed to save age group details' } );
      }
    },

  },

};
</script>

<style scoped>

</style>
