<template>

  <div v-if="ageGroupStudentsList">

    <div class="window gray">
      <div class="window-title">Students in {{ ageGroupStudentsList.age_group.title }}</div>
      <div class="window-body">


        <StudentChooser add-to-dispatch="eventsAgeGroups/addAgeGroupStudent" @student-added="fetchStudentsList()" :age="age"/>

        <table class="table table-bordered table-sm dt_studentsTable" v-if="ageGroupStudentsList.students.length > 0">
          <thead>
          <tr>
            <th>Add. No.</th>
            <th>DoB</th>
            <td>Name</td>
            <td>BC No.</td>
            <td>Grade</td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in studentsList">
            <td class="align-middle">
              <router-link :to="_renderAgeGroupStudentPageLink(item)">
                {{ item.student.admission_number }}
              </router-link>
            </td>
            <td class="align-middle">{{ item.student.dob }}</td>
            <td>
              <img :src="renderProfilePic(item.student.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
              {{ item.student.full_name }}
            </td>
            <td class="align-middle">{{ item.student.bc_number }}</td>
            <td class="align-middle">{{ item.student.grade }}</td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import {defaultDTOptions} from '@src/assets/libs/dataTableOptions';
import StudentChooser from '@src/components/StudentChooser.vue';

import _ from 'lodash';

export default {
  name: 'ListAgeGroupStudents',
  components: {StudentChooser},
  data() {
    return {

      studentsDataTable: null,

      ageGroupStudentsList: null,

    };
  },


  computed: {
    ageGroupId() {
      return this.$route.params.ageGroupId;
    },

    studentsList() {
      return this.ageGroupStudentsList.students;
    },

    age() {
      const ageGroup = this.ageGroupStudentsList.age_group;
      const age = _.split(ageGroup['title'], ' ')[1];
      return parseInt(age);
    }

  },

  async mounted() {

    await this.fetchStudentsList();

    /* init data table for the students list */

    this.$nextTick(() => {

      if (this.studentsDataTable == null) {
        this.studentsDataTable = $('.dt_studentsTable').DataTable(defaultDTOptions);
      }

    });


  },


  methods: {


    async fetchStudentsList() {
      try {

        this.ageGroupStudentsList = await this.$store.dispatch('eventsAgeGroups/fetchGroupStudents', this.ageGroupId);

      } catch (e) {
        errorDialog({message: 'Failed to fetch students details'});
      }
    },

    async onRemoveStudent(item) {
      try {

        await this.$store.dispatch('eventsAgeGroups/removeAgeGroupStudent', item.id);
        this.ageGroupStudentsList = await this.$store.dispatch('eventsAgeGroups/fetchGroupStudents', this.ageGroupId);

      } catch (e) {
        errorDialog({message: 'Failed to remove student from the age group'});
      }
    },

    _renderAgeGroupStudentPageLink(ageGroupStudent) {
      return {
        name: 'ageGroupStudentPage',
        params: {
          gameId: this.gameId,
          ageGroupId: this.ageGroupId,
          ageGroupStudentId: ageGroupStudent.id,
        },
      };
    },

    renderProfilePic(profilePic) {
      if (profilePic === '' || profilePic === null) {
        return '/images/profile_pic.svg';
      }
      return profilePic;
    },

  },

};
</script>

<style scoped>

</style>
