<template>
	
	<div>
		
		<CardSection>
			<template v-slot:title>Age groups</template>
			
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>Year</th>
					<th>Title</th>
					<th>Coach</th>
					<th>Master in-charge</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="item in ageGroupsList" :key="item.id">
					<td>{{ item.year }}</td>
					<td>
						<router-link :to="{name: 'ageGroupDetailsPage', params: {eventId: eventId, ageGroupId: item.id}}">{{ item.title }}</router-link>
					</td>
					<td>{{ item.coach.full_name }}</td>
					<td>{{ item.master_in_charge.full_name }}</td>
				</tr>
				</tbody>
			</table>
		
		</CardSection>
	
	
	</div><!-- template -->

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection.vue';

export default {
	name: 'ListAgeGroups',
	components: { CardSection },
	data() {
		return {
			
			/** @type {EventAgeGroup[]} */
			ageGroupsList: [],
			
		};
	},
	
	computed: {
		
		eventId() {
			return this.$route.params.id;
		},
		
		
	},
	
	async mounted() {
		
		try {
			this.ageGroupsList = await this.$store.dispatch( 'eventsAgeGroups/fetchByEvent', this.eventId );
			
		} catch ( e ) {
			errorDialog( { message: 'Failed to fetch age group details' } );
		}
		
		this.$nextTick( () => {
			$( '.table' ).DataTable();
		} );
		
	},
	
	methods: {
		//
	},
};
</script>

<style scoped>

</style>
