<template>
	
	<div>
		<TopNavigationBar/>
		
		
		<!-- sport details -->
		
		<div class="container" v-if="loaded">
			<div class="row">
				<div class="col">
					
					<div class="d-flex justify-content-between align-items-center">
						
						<div class="">
							<h1>{{ selectedEvent.title }}</h1>
							<h4 class="text-black-50">Master In-Charge: {{ selectedEvent.master_in_charge.full_name }}</h4>
							<h4 class="text-black-50">HPE Teacher: {{ selectedEvent.hpe_teacher.full_name }}</h4>
						</div>
						
						<div class="">
							<router-link to="/events" class="btn btn-secondary">
								<i class="bi bi-arrow-left"></i>
							</router-link>
							<button class="btn btn-primary" @click="$refs.modal_edit_sport_details.show()">
								<i class="bi bi-pencil-square"></i>
							</button>
						</div>
					
					</div>
					
					<hr>
				</div>
			</div><!-- row -->
		</div><!-- container -->
		<!-- sport details -->
		
		<!-- age group section -->
		<div class="container">
			<div class="row">
				
				<!-- create new age group -->
				<div class="col-4">
					<CreateAgeGroup/>
				</div><!-- col -->
				
				<div class="col-8">
					<ListAgeGroups/>
				</div>
			
			</div><!-- row -->
		</div><!-- container -->
		<!-- age group section -->
		
		
		<!-- MODAL: Edit Sport Details -->
		<ModalWindow id="modal__edit_sport_detail" ref="modal_edit_sport_details" title="Edit Sport Details" size="md">
			
			<div class="row" v-if="loaded">
				
				<div class="col">
					<div class="mb-3">
						<label class="form-label">Event title</label>
						<input type="text" class="form-control" v-model.trim="selectedEvent.title">
					</div>

					<div class="mb-3">
						<label class="form-label">HPE Teacher</label>
						<select class="form-select" v-model="selectedEvent.hpe_teacher_id">
							<option value="-1" disabled>CHOOSE ONE</option>
							<option v-for="item in hpeTeachersList" :value="item.id">{{ item.full_name }}</option>
						</select>
					</div>
					
					<div class="mb-3">
						<label class="form-label">Master in-charge</label>
						<select class="form-select" v-model="selectedEvent.master_in_charge_id">
							<option value="-1" disabled>CHOOSE ONE</option>
							<option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
						</select>
					</div>
				
				</div>
			
			
			</div><!-- row -->
			
			<div class="row justify-content-center">
				<div class="col-auto">
					<button class="btn btn-primary">Update</button>
				
				</div>
			</div>
		
		</ModalWindow>
	
	</div><!-- template -->

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection.vue';
import ModalWindow from '@src/components/ModalWindow.vue';
import TopNavigationBar from '@src/components/TopNavigationBar';
import CreateAgeGroup from '@src/views/events/age_groups/components/CreateAgeGroup';
import ListAgeGroups from '@src/views/events/age_groups/components/ListAgeGroups';


export default {
	name: 'EventDetailsPage',
	components: { ModalWindow, CardSection, ListAgeGroups, CreateAgeGroup, TopNavigationBar },
	
	data() {
		return {
			
			loaded: false,
			
			/** @type {Event| null} */
			selectedEvent: null,
			
		};
	},
	
	computed: {
		
		/** @returns {HpeTeacher[]} */
		hpeTeachersList() {
			return this.$store.getters[ 'hpeTeachers/getHpeTeachersList' ];
		},
		
		/**
		 *
		 * @returns {MasterInCharge[]}
		 */
		mastersInChargeList() {
			return this.$store.getters[ 'mastersInCharge/getMastersInChargeList' ];
		},
		
		
		eventId() {
			return this.$route.params.id;
		},
		
	},
	
	async mounted() {
		try {
			
			this.selectedEvent = await this.$store.dispatch( 'events/fetch', this.eventId );
			
			await this.$store.dispatch( 'hpeTeachers/fetchAll' );
			await this.$store.dispatch( 'mastersInCharge/fetchAll' );
			
			this.loaded = true;
			
		} catch ( e ) {
			errorDialog( { message: 'Failed to fetch teacher data' } );
		}
	},
	
	methods: {
		//
	},
	
	
};
</script>

<style scoped>

</style>
