<template>
  <div>
    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">
        <!-- section: add sport -->
        <div class="col-3">
          <CreateEvent @event-updated="fetchEvents"/>
        </div>
        <!-- end section: add sport -->

        <!-- section: list sports -->
        <div class="col-9">

          <CardSection color="blue">
            <template v-slot:title>Events List</template>

            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Title</th>
                <th>HPE Teacher</th>
                <th>Master In-Charge</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in eventsList" :key="item.id">
                <td>
                  <router-link :to="{name:'eventDetailsPage', params: {id: item.id}}">
                    {{ item.title }}
                  </router-link>
                </td>
                <td>
                  <img :src="renderProfilePic(item.hpe_teacher.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
                  {{ item.hpe_teacher.full_name }}
                </td>
                <td>
                  <img :src="renderProfilePic(item.master_in_charge.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
                  {{ item.master_in_charge.full_name }}
                </td>
              </tr>
              </tbody>
            </table>

          </CardSection>

        </div>
        <!-- end section: list sports -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';
import TopNavigationBar from '@src/components/TopNavigationBar';
import CreateEvent from '@src/views/events/components/CreateEvent.vue';


export default {
  name: 'ManageEventsPage',
  components: {CreateEvent, CardSection, TopNavigationBar},

  data() {
    return {

      /** @type {Event[]} */
      eventsList: [],

    };
  },

  computed: {},

  async mounted() {
    await this.fetchEvents();
  },

  methods: {

    async fetchEvents() {
      try {
        this.eventsList = await this.$store.dispatch('events/fetchAll');
      } catch (e) {
        errorDialog({message: 'Failed to fetch sports data'});
      }
    },

    renderProfilePic(profilePic) {
      if (profilePic === '' || profilePic === null) {
        return '/images/profile_pic.svg';
      }
      return profilePic;
    },

  },
};
</script>

<style scoped></style>
