<template>

  <CardSection color="purple">

    <template v-slot:title>Create new game</template>

    <div class="mb-3">
      <label class="form-label">Event Title</label>
      <select class="form-select" v-model="formGame.title">
        <option value="-1" disabled>CHOOSE ONE</option>
        <option v-for="(label, value) in runningEvents" :value="value">{{ label }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">HPE Teacher</label>
      <select class="form-select" v-model="formGame.hpe_teacher_id">
        <option value="-1" disabled>CHOOSE ONE</option>
        <option v-for="item in hpeTeachersList" :value="item.id">{{ item.full_name }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Master in-charge</label>
      <select class="form-select" v-model="formGame.master_in_charge_id">
        <option value="-1" disabled>CHOOSE ONE</option>
        <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
      </select>
    </div>

    <div class="d-flex justify-content-center">
      <button class="btn btn-primary" @click="onCreate()">Create</button>
    </div>

  </CardSection>

</template>

<script>
import {successDialog} from '@src/assets/libs/bootloks.js';
import CardSection from '@src/components/CardSection.vue';

export default {
  name: 'CreateRunningGame',
  components: { CardSection },

  data() {
    return {

      runningEvents: {
        '60': '60 meters',
        '100': '100 meters',
        '200': '200 meters',
        '400': '400 meters',
        '800': '800 meters',
        '1500': '1500 meters',
        '5000': '5000 meters',
      },

      formGame: {
        title: -1,
        hpe_teacher_id: -1,
        master_in_charge_id: -1,
      },

    };
  },


  computed: {

    /** @returns {HpeTeacher[]} */
    hpeTeachersList() {
      return this.$store.getters[ 'hpeTeachers/getHpeTeachersList' ];
    },

    /** @returns {MasterInCharge[]} */
    mastersInChargeList() {
      return this.$store.getters[ 'mastersInCharge/getMastersInChargeList' ];
    },


  },

  methods: {

    async onCreate() {

      try {

        await this.$store.dispatch( 'running/create', this.formGame );
        successDialog( { message: 'New running game created' } );

        await this.$store.dispatch( 'running/fetchAll' );


      } catch ( e ) {
        console.log( e );
      }

    }, /* onAdd */


  },

  async mounted() {

    try {

      await this.$store.dispatch( 'hpeTeachers/fetchAll' );
      await this.$store.dispatch( 'mastersInCharge/fetchAll' );

    } catch ( e ) {
      console.log( e );
    }

  },

};
</script>

<style scoped>

</style>
