<template>

  <CardSection>

    <template v-slot:title>Create Age Group</template>

    <div class="mb-3">
      <label class="form-label">Title</label>
      <select class="form-select" v-model="ageGroup.title">
        <option v-for="item in titleValues" :value="item">{{ item }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Year</label>
      <input type="number" class="form-control" v-model.number="ageGroup.year">
    </div>

    <div class="text-center mt-2">
      <button class="btn btn-primary" @click="onSave()" :disabled="!formValidated">Save</button>
    </div>

  </CardSection>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import CardSection from '@src/components/CardSection.vue';
import _ from 'lodash';
import moment from 'moment';

export default {
  name: 'CreateRunningAgeGroup',
  components: { CardSection },

  data() {
    return {

      titleValues: [
        'Under 12',
        'Under 14',
        'Under 16',
        'Under 18',
        'Under 20',
      ],

      ageGroup: {
        running_game_id: parseInt( this.$route.params[ 'gameId' ] ),
        title: 'Under 12',
        year: parseInt( moment().format( 'YYYY' ) ),
      },

    };
  },

  computed: {
    gameId() {
      return this.$route.params[ 'gameId' ];
    },

    formValidated() {
      return this.ageGroup.title !== '' && _.isNumber( this.ageGroup.year );
    },

  },

  async mounted() {
    //
  },

  methods: {

    /**
     * On saving a new running age group
     */
    async onSave() {
      try {

        await this.$store.dispatch( 'running/createAgeGroup', this.ageGroup );

        await this.$store.dispatch( 'running/fetchAllAgeGroupsByGame', this.gameId );

      } catch ( e ) {

        const error = {
          message: 'Failed to insert running age group',
        };

        if ( e.response.data.payload.error === 'Already exist' ) {
          error.message = 'Age group already exist';
        }
        errorDialog( error );
      }
    },

  },

};
</script>

<style scoped>

</style>
