<template>

  <CardSection>
    <template v-slot:title>Age Groups</template>


    <div class="mb-3" v-for="(ageGroupsList, year) in ageGroupByYear">

      <h3>{{ year }}</h3>

      <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr v-for="item in ageGroupsList" :key="item.id">
          <td>
            <router-link :to="{name: 'runningAgeGroupPage', params: {gameId: gameId, ageGroupId: item.id}}">{{ item.title }}</router-link>
          </td>
        </tr>
        </tbody>
      </table>

    </div>


  </CardSection>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import CardSection from '@src/components/CardSection.vue';

const _ = require( 'lodash' );

export default {
  name: 'ListRunningAgeGroups',
  components: { CardSection },

  data() {
    return {
      //
    };
  },

  computed: {

    gameId() {
      return this.$route.params[ 'gameId' ];
    },

    /** @returns {SportAgeGroup[]} */
    ageGroupsList() {
      return this.$store.getters[ 'running/getAgeGroupsList' ];
    },

    ageGroupByYear() {
      return _.groupBy( this.ageGroupsList, 'year' );
    },

  },

  async mounted() {
    try {

      await this.$store.dispatch( 'running/fetchAllAgeGroupsByGame', this.gameId );

    } catch ( e ) {
      errorDialog( {
        message: 'Failed to fetch age group details',
      } );
    }
  },

  methods: {
    //
  },

};
</script>

<style scoped>

</style>
