<template>

  <div class="">

    <CardSection>
      <template v-slot:title>Students</template>

      <div class="">

        <div class="mb-3">
          <button class="btn btn-primary" @click="$refs.modal_running_add_student.show()">
            Add students
          </button>
        </div>


        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Add. No.</th>
            <th>DoB</th>
            <td>Name</td>
            <td>BC No.</td>
            <td>Grade</td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in ageGroupStudents">
            <td class="align-middle">
              <router-link :to="_renderAgeGroupStudentPageLink(item)">
                {{ item.student.admission_number }}
              </router-link>
            </td>
            <td class="align-middle">{{ item.student.dob }}</td>
            <td>
							<img :src="renderProfilePic(item.student.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
							{{ item.student.full_name }}
						</td>
            <td class="align-middle">{{ item.student.bc_number }}</td>
            <td class="align-middle">{{ item.student.grade }}</td>
          </tr>
          </tbody>
        </table>

      </div>

    </CardSection>


    <!-- MODAL: Search and add student to the current age group -->
    <ModalWindow id="mdl_rad" ref="modal_running_add_student" size="lg" title="Add students" :backdrop="true">
      <div class="mb-3">
        <div class="input-group">
          <input type="text" class="form-control" v-model="searchKeyword" @keydown.enter="onSearchStudents()"
                 placeholder="Search for students by keywords Eg. Name, house, admission number...">
          <button class="btn btn-primary" @click="onSearchStudents()">Search</button>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Add. No.</th>
          <th>DoB</th>
          <td>Name</td>
          <td>BC No.</td>
          <td>Grade</td>
          <td style="width: 10px"></td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="student in studentsList">
          <td class="align-middle">{{ student.admission_number }}</td>
          <td class="align-middle">{{ student.dob }}</td>
          <td>
						<img :src="renderProfilePic(student.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
						{{ student.full_name }}
					</td>
          <td class="align-middle">{{ student.bc_number }}</td>
          <td class="align-middle">{{ student.grade }}</td>
          <td class="align-middle">
            <button class="btn btn-sm btn-outline-success" @click="onAddStudent(student)">
              <i class="bi bi-person-plus-fill"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>


    </ModalWindow>


  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import CardSection from '@src/components/CardSection.vue';
import ModalWindow from '@src/components/ModalWindow.vue';

export default {
  name: 'ListRunningAgeGroupStudents',
  components: { ModalWindow, CardSection },

  data() {
    return {

      searchKeyword: 'bonel',

      /** @type {RunningAgeGroupStudent[]} */
      ageGroupStudents: [],

    };
  },

  computed: {

    ageGroupId() {
      return this.$route.params[ 'ageGroupId' ];
    },

    gameId() {
      return this.$route.params[ 'gameId' ];
    },

    /** @returns {Student[]} */
    studentsList() {
      return this.$store.getters[ 'students/getStudentsList' ];
    },

  },

  async mounted() {

    try {

      this.ageGroupStudents = await this.$store.dispatch( 'running/fetchStudentsByAgeGroup', this.ageGroupId );

    } catch ( e ) {
      errorDialog( {
        message: 'Failed to fetch age group\'s students list',
      } );
    }

  },

  methods: {

    async onSearchStudents() {
      try {
        await this.$store.dispatch( 'students/search', this.searchKeyword );
      } catch ( e ) {
        errorDialog( { message: 'Failed to fetch students' } );
      }
    }, /* on search students */


    async onAddStudent( student ) {
      try {

        const params = {
          age_group_id: this.ageGroupId,
          student_id: student.id,
        };

        await this.$store.dispatch( 'running/insertAgeGroupStudent', params );
        this.ageGroupStudents = await this.$store.dispatch( 'running/fetchStudentsByAgeGroup', this.ageGroupId );

      } catch ( e ) {
        errorDialog( { message: 'Failed to add student' } );
      }
    },


    _renderAgeGroupStudentPageLink( ageGroupStudent ) {
      return {
        name: 'runningAgeGroupStudentPage',
        params: {
          gameId: this.gameId,
          ageGroupId: this.ageGroupId,
          ageGroupStudentId: ageGroupStudent.id,
        },
      };
    },
	
		renderProfilePic( profilePic ) {
			if ( profilePic === '' || profilePic === null ) {
				return '/images/profile_pic.svg';
			}
			return profilePic;
		},

  },

};
</script>

<style scoped>

</style>
