<template>

  <div class="">

    <TopNavigationBar/>

    <!-- start: game details -->
    <div class="container" v-if="loaded">

      <div class="row">
        <div class="col">

          <div class="d-flex justify-content-between align-items-center">

            <div class="">
              <h1>{{ runningGame.title }} Meters Running</h1>
              <h4 class="text-black-50">Master In-Charge: {{ runningGame.master_in_charge.full_name }}</h4>
              <h4 class="text-black-50">HPE Teacher: {{ runningGame.hpe_teacher.full_name }}</h4>
            </div>

            <div class="">
              <router-link :to="{name: 'manageRunningGamesPage'}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i>
              </router-link>
              <button class="btn btn-primary" @click="$refs.modal_edit_game_details.show()">
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>

          </div>

          <hr>
        </div>
      </div><!-- row -->

    </div><!-- container -->
    <!-- end: game details -->


    <!-- start: age group section -->
    <div class="container">
      <div class="row">
        <div class="col-4">
          <CreateRunningAgeGroup/>
        </div><!-- col -->

        <div class="col-8">
          <ListRunningAgeGroups/>
        </div><!-- col -->

      </div><!-- row -->
    </div><!-- container -->


    <!-- MODAL: edit game details -->

    <ModalWindow id="mdl_edit_running_game_details" ref="modal_edit_game_details" title="Edit Game Details" size="md">

      <div class="row">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Event Title</label>
            <select class="form-select" v-model="runningGame.title">
              <option value="-1" disabled>CHOOSE ONE</option>
              <option v-for="(label, value) in runningEvents" :value="value">{{ label }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">HPE Teacher</label>
            <select class="form-select" v-model="runningGame.hpe_teacher_id">
              <option value="-1" disabled>CHOOSE ONE</option>
              <option v-for="item in hpeTeachersList" :value="item.id">{{ item.full_name }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Master in-charge</label>
            <select class="form-select" v-model="runningGame.master_in_charge_id">
              <option value="-1" disabled>CHOOSE ONE</option>
              <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
            </select>
          </div>

        </div>


      </div><!-- row -->

      <div class="row justify-content-center">
        <div class="col-auto">
          <button class="btn btn-primary">Update</button>

        </div>
      </div>

    </ModalWindow>


  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import ModalWindow from '@src/components/ModalWindow.vue';
import TopNavigationBar from '@src/components/TopNavigationBar.vue';
import CreateRunningAgeGroup from '@src/views/athletics/running/components/CreateRunningAgeGroup.vue';
import ListRunningAgeGroups from '@src/views/athletics/running/components/ListRunningAgeGroups.vue';

export default {
  name: 'ManageRunningAgeGroupsPage',
  components: { ListRunningAgeGroups, CreateRunningAgeGroup, ModalWindow, TopNavigationBar },

  data() {
    return {

      loaded: false,

      runningEvents: {
        '60': '60 meters',
        '100': '100 meters',
        '200': '200 meters',
        '400': '400 meters',
        '800': '800 meters',
        '1500': '1500 meters',
        '5000': '5000 meters',
      },

    };
  },

  computed: {
    gameId() {
      return this.$route.params[ 'gameId' ];
    },

    /** @returns {HpeTeacher[]} */
    hpeTeachersList() {
      return this.$store.getters[ 'hpeTeachers/getHpeTeachersList' ];
    },

    /**
     *
     * @returns {MasterInCharge[]}
     */
    mastersInChargeList() {
      return this.$store.getters[ 'mastersInCharge/getMastersInChargeList' ];
    },


    runningGame() {
      return this.$store.getters[ 'running/getSelectedGame' ];
    },

  },

  async mounted() {

    try {

      await this.$store.dispatch( 'running/fetch', this.gameId );

      await this.$store.dispatch( 'hpeTeachers/fetchAll' );
      await this.$store.dispatch( 'mastersInCharge/fetchAll' );

      this.loaded = true;

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch game data' } );
    }

  },

  methods: {
    //
  },

};
</script>

<style scoped>

</style>
