<template>
	
	<div class="">
		<TopNavigationBar/>
		
		<div class="container">
			<div class="row justify-content-center">
				
				<div class="col-4">
					<CreateRunningGame/>
				</div><!-- col -->
				
				<div class="col-8">
					<CardSection>
						<template v-slot:title>Running games</template>
						
						<div class="">
							
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th>Title</th>
									<th>HPE Teacher</th>
									<th>Master In-Charge</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="item in gamesList">
									<td class="align-middle">
										<router-link :to="{name: 'manageRunningAgeGroupsPage', params: {gameId: item.id}}">{{ item.title }} meters</router-link>
									</td>
									<td>
										<img :src="renderProfilePic(item.hpe_teacher.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
										{{ item.hpe_teacher.full_name }}
									</td>
									<td>
										<img :src="renderProfilePic(item.master_in_charge.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
										{{ item.master_in_charge.full_name }}
									</td>
								</tr>
								</tbody>
							</table>
						
						</div>
					
					</CardSection>
				</div>
			
			</div><!-- row -->
		</div><!-- container -->
	
	</div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import CardSection from '@src/components/CardSection.vue';
import TopNavigationBar from '@src/components/TopNavigationBar.vue';
import CreateRunningGame from '@src/views/athletics/running/components/CreateRunningGame.vue';

export default {
	name: 'ManageRunningGamesPage',
	components: { CardSection, CreateRunningGame, TopNavigationBar },
	
	data() {
		return {
			//
		};
	},
	
	computed: {
		
		
		/** @returns {RunningGame[]} */
		gamesList() {
			return this.$store.getters[ 'running/getGamesList' ];
		},
	},
	
	async mounted() {
		
		try {
			await this.$store.dispatch( 'running/fetchAll' );
		} catch ( e ) {
			errorDialog( { message: 'Failed to fetch running games' } );
		}
		
	},
	
	methods: {
		//
		
		
		renderProfilePic( profilePic ) {
			if ( profilePic === '' || profilePic === null ) {
				return '/images/profile_pic.svg';
			}
			return profilePic;
		},
		
		
	},
	
};
</script>

<style scoped>

</style>
