<template>

  <div class="">
    <TopNavigationBar/>

    <div class="container" v-if="loaded">

      <div class="row">
        <div class="col">

          <div class="">
            <h2>{{ ageGroup.running_game.title }} Meters {{ ageGroup.title }} ({{ ageGroup.year }})</h2>
            <p class="lead">Master In-Charge: {{ ageGroup.running_game.master_in_charge.full_name }}</p>
          </div>

        </div><!-- col -->
      </div><!-- row -->


      <!-- age group students list -->
      <div class="row mb-3">
        <div class="col">
          <ListRunningAgeGroupStudents/>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <RunningPractice :practice-data="ageGroup.practice"/>
        </div>
      </div>

    </div><!-- container -->

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import TopNavigationBar from '@src/components/TopNavigationBar.vue';
import ListRunningAgeGroupStudents from '@src/views/athletics/running/components/ListRunningAgeGroupStudents.vue';
import RunningPractice from '@src/views/athletics/running/components/RunningPractice.vue';

export default {
  name: 'RunningAgeGroupPage',
  components: { RunningPractice, ListRunningAgeGroupStudents, TopNavigationBar },

  data() {
    return {

      loaded: false,

      /** @type {RunningAgeGroup|null} */
      ageGroup: null,

    };
  },

  computed: {

    ageGroupId() {
      return this.$route.params[ 'ageGroupId' ];
    },

    gameId() {
      return this.$route.params[ 'gameId' ];
    },


  },

  async mounted() {

    try {

      this.ageGroup = await this.$store.dispatch( 'running/fetchAgeGroup', this.ageGroupId );

      this.loaded = true;

    } catch ( e ) {
      errorDialog( {
        message: 'Failed to fetch age group details',
      } );
    }

  },

  methods: {
    //
  },

};
</script>

<style scoped>

</style>
