<template>
	
	<div class="">
		<TopNavigationBar/>
		
		
		<div class="container" v-if="loaded">
			
			
			<div class="row">
				<div class="col">
					
					<StudentHeaderCard :student="ageGroupStudent.student"/>
					
					<hr>
				
				</div>
			</div><!-- div -->
			
			<div class="row">
				
				<div class="col">
					
					<CardSection>
						
						<template v-slot:title>
							<div class="d-flex gap-2">
								<div class="">
									<button class="btn btn-sm btn-primary" @click="$refs.html2Pdf.generatePdf()"><i class="bi bi-printer-fill"></i></button>
								</div>
							</div>
							<div>Performances</div>
						</template>
						
						
						<!-- section: runs graph -->
						<div class="row mb-3">
							<div class="col">
								<div class="chart_timing">
									<canvas height="250px" class="chart_line_timing"/>
								</div>
							</div>
						</div>
						
						
						<div class="">
							
							<div class="mb-3">
								<button class="btn btn-primary btn-sm" @click="$refs.modal_add_performance.show()">Add a performance</button>
							</div>
							
							<table class="table table-bordered table-hover table-striped">
								<thead>
								<tr>
									<th style="width: 120px">Date</th>
									<th>Title</th>
									<th>Venue</th>
									<th>Place</th>
									<th style="width: 100px">Timing</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="item in studentPerformances" :key="item.id">
									<td>
										<button class="btn btn-link p-0" @click="onOpenUpdatePerformance(item)">{{ item.meet_date }}</button>
									</td>
									<td>{{ renderMeetTitle( item.meet_title ) }}</td>
									<td>{{ item.meet_venue }}</td>
									<td>{{ renderMeetPlace( item.place ) }}</td>
									<td>{{ item.timing }} sec</td>
								</tr>
								</tbody>
							</table>
						
						
						</div>
					</CardSection>
				
				
				</div><!-- col -->
			</div><!-- row -->
			
			
			<!-- PRINT REPORT -->
			<vue-html2pdf
					:show-layout="false"
					:float-layout="true"
					:enable-download="false"
					:preview-modal="true"
					:paginate-elements-by-height="1400"
					:pdf-quality="2"
					:manual-pagination="false"
					pdf-format="a4"
					pdf-orientation="portrait"
					pdf-content-width="750px"
					ref="html2Pdf"
					:html-to-pdf-options="htmlToPdfOptions"
			>
				<section slot="pdf-content">
					
					<h3>{{ ageGroupStudent.student.full_name }}</h3>
					<p>DoB: {{ ageGroupStudent.student.dob }} | Grade: {{ ageGroupStudent.student.grade }} | House: {{ ageGroupStudent.student.house }}</p>
					
					<!-- section: runs graph -->
					<div class="row mb-3">
						<div class="col">
							<div class="chart_timing">
								<canvas height="250px" class="chart_line_timing"/>
							</div>
						</div>
					</div>
					
					
					<table class="table table-bordered table-hover table-striped">
						<thead>
						<tr>
							<th style="width: 120px">Date</th>
							<th>Title</th>
							<th>Venue</th>
							<th>Place</th>
							<th style="width: 100px">Timing</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="item in studentPerformances" :key="item.id">
							<td>
								{{ item.meet_date }}
							</td>
							<td>{{ renderMeetTitle( item.meet_title ) }}</td>
							<td>{{ item.meet_venue }}</td>
							<td>{{ renderMeetPlace( item.place ) }}</td>
							<td>{{ item.timing }} sec</td>
						</tr>
						</tbody>
					</table>
				
				</section>
			</vue-html2pdf>
			
		</div><!-- container -->
		
		
		
		
		
		<ModalWindow id="mdl_add_perf" ref="modal_add_performance" title="Add performance">
			
			<div class="mb-3">
				<label class="form-label">Meet Date</label>
				<DateField v-model="formAddPerformance.meet_date"/>
			</div>
			
			<div class="mb-3">
				<label class="form-label">Meet Title</label>
				<select class="form-select" v-model="formAddPerformance.meet_title">
					<option value="" disabled>SELECT</option>
					<option v-for="(item, key) in meetTitles" :value="key">{{ item }}</option>
				</select>
			</div>
			
			<div class="mb-3">
				<label class="form-label">Meet Venue</label>
				<input type="text" class="form-control" v-model="formAddPerformance.meet_venue">
			</div>
			
			<div class="mb-3">
				<label class="form-label">Timing</label>
				<input type="number" class="form-control" v-model="formAddPerformance.timing">
			</div>
			
			<div class="mb-3">
				<label class="form-label">Place</label>
				<select class="form-select" v-model="formAddPerformance.place">
					<option value="" disabled>SELECT</option>
					<option v-for="(item, key) in places" :value="key">{{ item }}</option>
				</select>
			</div>
			
			<div class="text-center">
				<button class="btn btn-success" @click="onAddPerformance()">Add</button>
			</div>
		
		</ModalWindow>
		
		
		<!-- MODAL: Update performance -->
		<ModalWindow id="mdl_update_perf" ref="modal_update_performance" title="Update performance">
			
			<div class="mb-3">
				<label class="form-label">Meet Date</label>
				<DateField v-model="formUpdatePerformance.meet_date"/>
			</div>
			
			<div class="mb-3">
				<label class="form-label">Meet Title</label>
				<select class="form-select" v-model="formUpdatePerformance.meet_title">
					<option value="" disabled>SELECT</option>
					<option v-for="(item, key) in meetTitles" :value="key">{{ item }}</option>
				</select>
			</div>
			
			<div class="mb-3">
				<label class="form-label">Meet Venue</label>
				<input type="text" class="form-control" v-model="formUpdatePerformance.meet_venue">
			</div>
			
			<div class="mb-3">
				<label class="form-label">Timing</label>
				<input type="number" class="form-control" v-model="formUpdatePerformance.timing">
			</div>
			
			<div class="mb-3">
				<label class="form-label">Place</label>
				<select class="form-select" v-model="formUpdatePerformance.place">
					<option value="" disabled>SELECT</option>
					<option v-for="(item, key) in places" :value="key">{{ item }}</option>
				</select>
			</div>
			
			<div class="text-center">
				<button class="btn btn-success" @click="onUpdatePerformance()">Update</button>
			</div>
		
		</ModalWindow>
	
	
	</div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import CardSection from '@src/components/CardSection.vue';
import DateField from '@src/components/fields/DateField.vue';
import ModalWindow from '@src/components/ModalWindow.vue';
import StudentHeaderCard from '@src/components/StudentHeaderCard.vue';
import TopNavigationBar from '@src/components/TopNavigationBar.vue';
import Chart from 'chart.js/auto';
import moment from 'moment';
import VueHtml2pdf from 'vue-html2pdf';

export default {
	name: 'RunningAgeGroupStudentPage',
	components: { StudentHeaderCard, DateField, ModalWindow, CardSection, TopNavigationBar, VueHtml2pdf },
	
	data() {
		return {
			loaded: false,
			ageGroupStudent: null,
			
			/** @type {RunningStudentPerformance[]} */
			studentPerformances: [],
			
			
			meetTitles: {
				'SCHOOL': 'School level',
				'DIVISIONAL': 'Divisional level',
				'ZONAL': 'Zonal level',
				'PROVINCIAL': 'Provincial level',
				'NATIONAL': 'National level',
			},
			
			places: {
				'1ST': 'First',
				'2ND': 'Second',
				'3RD': 'Third',
				'OTHER': 'Other',
			},
			
			formAddPerformance: {
				student_id: null,
				meet_date: moment().format( 'YYYY-MM-DD' ),
				meet_title: '',
				meet_venue: '',
				place: '',
				timing: 0.0,
			},
			
			
			formUpdatePerformance: {
				id: null,
				meet_date: '',
				meet_title: '',
				meet_venue: '',
				place: '',
				timing: 0.0,
			},
			
			/* charts */
			
			chartTiming: null,
			
			
			htmlToPdfOptions: {
				margin: 0.2,
				
				filename: 'report.pdf',
				
				image: {
					type: 'jpeg',
					quality: 0.98,
				},
				
				enableLinks: false,
				
				html2canvas: {
					scale: 1,
					useCORS: true,
				},
				
				jsPDF: {
					unit: 'in',
					format: 'a4',
					orientation: 'portrait',
				},
			},
			
			
		};
	},
	
	computed: {
		
		ageGroupId() {
			return this.$route.params[ 'ageGroupId' ];
		},
		
		ageGroupStudentId() {
			return this.$route.params[ 'ageGroupStudentId' ];
		},
		
		gameId() {
			return this.$route.params[ 'gameId' ];
		},
		
		chartTimingData() {
			
			const chartData = {
				labels: [],
				timings: [],
			};
			
			if ( this.studentPerformances.length > 0 ) {
				
				this.studentPerformances.forEach( item => {
					chartData.labels.push( item[ 'meet_date' ] );
					chartData.timings.push( item[ 'timing' ] );
				} );
				
			}
			
			return chartData;
			
		},
		
		
	},
	
	async mounted() {
		
		try {
			
			this.ageGroupStudent = await this.$store.dispatch( 'running/fetchAgeGroupStudent', this.ageGroupStudentId );
			
			this.studentPerformances = await this.$store.dispatch( 'running/fetchAllStudentPerformances', this.ageGroupStudent.student_id );
			
			this.loaded = true;
			
		} catch ( e ) {
			errorDialog( {
				message: 'Failed to fetch student details',
			} );
		}
		
		
		this.$nextTick( () => {
			this._generateTimingChart();
		} );
		
		
	},
	
	methods: {
		
		
		async onAddPerformance() {
			
			try {
				
				this.formAddPerformance.student_id = this.ageGroupStudent.student_id;
				
				await this.$store.dispatch( 'running/addStudentPerformance', this.formAddPerformance );
				
				this.studentPerformances = await this.$store.dispatch( 'running/fetchAllStudentPerformances', this.ageGroupStudent.student_id );
				
				this.$refs.modal_add_performance.hide();
				
			} catch ( e ) {
				errorDialog( {
					message: 'Failed to add student performance',
				} );
			}
			
			this.$nextTick( () => {
				this._generateTimingChart();
			} );
			
			
		}, /* onAddPerformance */
		
		
		async onUpdatePerformance() {
			
			try {
				
				await this.$store.dispatch( 'running/updateStudentPerformance', this.formUpdatePerformance );
				
				this.studentPerformances = await this.$store.dispatch( 'running/fetchAllStudentPerformances', this.ageGroupStudent.student_id );
				
				this.$refs.modal_update_performance.hide();
				
			} catch ( e ) {
				errorDialog( {
					message: 'Failed to update student performance details',
				} );
			}
			
		},
		
		
		onOpenUpdatePerformance( item ) {
			
			this.formUpdatePerformance.id = item.id;
			this.formUpdatePerformance.meet_date = item.meet_date;
			this.formUpdatePerformance.meet_venue = item.meet_venue;
			this.formUpdatePerformance.meet_title = item.meet_title;
			this.formUpdatePerformance.place = item.place;
			this.formUpdatePerformance.timing = item.timing;
			
			this.$refs.modal_update_performance.show();
			
		},
		
		
		renderBackLinkUrl() {
			return {
				name: 'runningAgeGroupPage',
				params: {
					ageGroupId: this.ageGroupId,
					gameId: this.gameId,
				},
			};
		}, /* renderBackLinkUrl */
		
		
		renderMeetTitle( title ) {
			return this.meetTitles[ title ];
		}, /* renderMeetTitle */
		
		
		renderMeetPlace( place ) {
			return this.places[ place ];
		},
		
		
		_generateTimingChart() {
			
			if ( this.chartTiming !== null ) {
				
				this.chartTiming.data.labels = this.chartTimingData[ 'labels' ];
				this.chartTiming.data.datasets[ 0 ].data = this.chartTimingData[ 'timings' ];
				
				this.chartTiming.update();
				
			} else {
				
				
				document.querySelectorAll( '.chart_line_timing' ).forEach( item => {
					this.chartTiming = new Chart( item.getContext( '2d' ), {
						type: 'line',
						data: {
							labels: this.chartTimingData[ 'labels' ],
							datasets: [{
								label: 'Timing',
								data: this.chartTimingData[ 'timings' ],
								fill: false,
								borderColor: '#0984e3',
								tension: 0.1,
							}],
						},
						options: {
							maintainAspectRatio: false,
						},
					} );
				} );
				
				
			}
			
		}, /* _generateTimingChart */
		
	},
	
};
</script>

<style scoped>

</style>
