<template>

  <div class="bg-gray h-100">

    <div class="text-center login-container mx-auto">

      <img :src="logo" alt="" style="width: 200px">
      <h2 class="mb-5">School Sports Management System</h2>

      <form @submit.prevent="onLogin" class="mx-auto">
        <div class="mb-3">
          <label for="txt-username" class="form-label">Username</label>
          <input id="txt-username" type="text" class="form-control" v-model="username">
        </div>

        <div class="mb-3">
          <label for="txt-password" class="form-label">Password</label>
          <input id="txt-password" type="password" class="form-control" v-model="password">
        </div>

        <div class="text-center">
          <button class="btn btn-success" type="submit">Login</button>
        </div>
      </form>

      <div v-if="error" class="mt-3">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>

    </div>

  </div>

</template>

<script>

import logo from '@src/assets/images/logo.svg';

export default {
  name: 'Login',

  data() {
    return {

      logo: logo,

      username: '',
      password: '',

      error: '',

    };
  },

  methods: {

    onLogin: async function () {

      const userParams = {
        username: this.username,
        password: this.password,
      };

      try {

        await this.$store.dispatch( 'auth_login', userParams );
        await this.$router.push( '/' );

      } catch ( e ) {
        console.log( e );
        this.error = 'Login failed. Please check your username and password';
      }


    },

  },

};
</script>

<style scoped>

.login-container {
  width: 640px;
}

form {
  width: 320px;
}

.bg-gray {
  background-color: #F4F8FF;
}

</style>
