<template>

  <div>
    <TopNavigationBar/>

    <h1>Manage all staff</h1>

  </div>

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";
export default {
  name: "ManageStaff",
  components: {TopNavigationBar}
}
</script>

<style scoped>

</style>
