<template>

  <div>
    <TopNavigationBar/>

    <div class="container" v-if="loaded">
      <div class="row">
        <div class="col">


          <div class="d-flex justify-content-between align-items-center">

            <div class="">
              <h2>{{ selectedAgeGroup.event.title }} - {{ selectedAgeGroup.title }} ({{ selectedAgeGroup.year }})</h2>
              <p class="lead">Master In-Charge: {{ selectedAgeGroup.master_in_charge.full_name }}</p>
            </div>

            <div class="">
              <router-link :to="{name: 'eventDetailsPage', params: {id: selectedEvent.id}}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i>
              </router-link>
              <button class="btn btn-primary" @click="$refs.modal_edit_event_age_group.show()">
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>

          </div>

        </div><!-- col -->
      </div><!-- row -->

      <div class="row mb-3">
        <div class="col">
          <ListAgeGroupStudents/>
        </div>
      </div><!-- row -->

      <!-- scheduling of sports practices -->
      <div class="row mb-3">
        <div class="col">
          <SportPractice :practice-data="selectedAgeGroup.event_practice"/>
        </div>
      </div>


    </div><!-- container -->

    <div class="container" v-else>
      <div class="row">
        <div class="col">
          <h1 class="my-5 text-center">Loading...</h1>
        </div>
      </div>
    </div>


    <ModalWindow id="mdl_ed_ev_ag_de" ref="modal_edit_event_age_group" title="Edit Event Age Group Details" size="md">
      <div v-if="loaded">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Event title</label>
            <select class="form-select" v-model="selectedAgeGroup.title">
              <option v-for="item in titleValues" :value="item">{{ item }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Year</label>
            <input type="text" class="form-control" v-model.trim="selectedAgeGroup.year">
          </div>

          <div class="mb-3">
            <label class="form-label">Coach</label>
            <select class="form-select" v-model="selectedAgeGroup.coach_id">
              <option value="-1" disabled>CHOOSE ONE</option>
              <option v-for="item in coachesList" :value="item.id">{{ item.full_name }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Master in-charge</label>
            <select class="form-select" v-model="selectedAgeGroup.master_in_charge_id">
              <option value="-1" disabled>CHOOSE ONE</option>
              <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
            </select>
          </div>

        </div>


        <div class="text-center">
          <button class="btn btn-primary" @click="onUpdate">Update</button>
        </div>

      </div>
    </ModalWindow>


  </div><!-- template -->

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import TopNavigationBar from '@src/components/TopNavigationBar';
import ListAgeGroupStudents from '@src/views/events/age_groups/components/ListAgeGroupStudents';
import SportPractice from '@src/views/events/age_groups/components/SportPractice';
import ModalWindow from '@src/components/ModalWindow';

const _ = require('lodash');

export default {
  name: 'AgeGroupDetailsPage',
  components: {ModalWindow, SportPractice, ListAgeGroupStudents, TopNavigationBar},


  data() {
    return {
      loaded: false,

      /** @type {EventAgeGroup|null} */
      selectedAgeGroup: null,


      titleValues: [
        'Under 12',
        'Under 14',
        'Under 16',
        'Under 18',
        'Under 20',
      ],

    };
  },

  computed: {
    /** @returns {MasterInCharge[]} */
    mastersInChargeList: function () {
      return this.$store.getters['mastersInCharge/getMastersInChargeList'];
    },

    /** @returns {Coach[]} */
    coachesList: function () {
      return this.$store.getters['coaches/getCoachesList'];
    },

    /** @returns {number} */
    sportId: function () {
      return _.toNumber(this.$route.params.sportId);
    },

    /** @returns {number} */
    ageGroupId: function () {
      return _.toNumber(this.$route.params.ageGroupId);
    },

    /** @returns {Event} */
    selectedEvent: function () {
      return this.selectedAgeGroup.event;
    },

  },

  mounted: async function () {
    try {

      await this.$store.dispatch('coaches/fetchAll');
      await this.$store.dispatch('mastersInCharge/fetchAll');

      this.selectedAgeGroup = await this.$store.dispatch('eventsAgeGroups/fetch', this.ageGroupId);

      this.loaded = true;

    } catch (e) {
      errorDialog({message: 'Failed to fetch details'});
    }
  },

  methods: {

    async onUpdate() {
      try {

        const params = {
          id: this.selectedAgeGroup.id,
          title: this.selectedAgeGroup.title,
          coach_id: this.selectedAgeGroup.coach_id,
          master_in_charge_id: this.selectedAgeGroup.master_in_charge_id,
          year: this.selectedAgeGroup.year,
        };

        await this.$store.dispatch('eventsAgeGroups/update', params);

        this.$refs.modal_edit_event_age_group.hide();

      } catch (e) {
        console.log(e);
      }
    }

  },

};
</script>

<style scoped>

</style>
