<template>

  <div id="app" class="h-100">
    <router-view/>

    <div class="py-5">
      <div class="border-top">
        <div class="container mt-2">
          <div class="row">
            <div class="col">

              &copy; 2021. All rights reserved. BIT Project.

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>

<script>

export default {
  name: 'App',
};
</script>

<style scoped>

</style>
