<template>
	
	<div class="d-flex justify-content-between gap-2 bg-success rounded p-2">
		<div class="left">
			
			<div class="d-flex gap-2">
				
				<div class="">
					<img :src="renderProfilePic(student.profile_pic)" class="profile_pic img-thumbnail shadow-sm" alt="">
				</div>
				
				<div class="">
					<h3>{{ student.full_name }} ({{ student.admission_number }})</h3>
					<h5 class="text-white">
						<i class="bi bi-house-fill"></i> {{ student.house }} |
						<i class="bi bi-mortarboard-fill"></i> {{ student.grade }}
					</h5>
				</div>
			
			</div>
		
		
		</div><!-- left -->
		
		<div class="right">
			<router-link :to="{name:'editStudent', params: {id: student.id}}" class="btn btn-dark d-print-none">
				<i class="bi bi-box-arrow-in-up-right"></i>
			</router-link>
		</div><!-- right -->
	</div><!-- student details -->

</template>

<script>
export default {
	name: 'StudentHeaderCard',
	
	props: {
		student: {
			require: true,
			type: Object,
		},
	},
	
	methods: {
		renderProfilePic( profilePic ) {
			if ( profilePic === '' || profilePic === null ) {
				return '/images/profile_pic.svg';
			}
			return profilePic;
		},
	},
	
	
};
</script>

<style scoped>

.profile_pic {
	width: 100px;
}

</style>
