<template>

  <div>

    <button class="btn btn-primary" @click="$refs.modal_running_add_student.show()">Add students to this group</button>

    <!-- MODAL: Search and add student to the current age group -->
    <ModalWindow id="mdl_rad" ref="modal_running_add_student" size="lg" title="Add students" :backdrop="true">
      <div class="mb-3">
        <div class="input-group">
          <input type="text" class="form-control" v-model="searchKeyword" @keydown.enter="onSearchStudents()"
                 placeholder="Search for students by keywords Eg. Name, house, admission number...">
          <button class="btn btn-primary" @click="onSearchStudents()">Search</button>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Add. No.</th>
          <th>DoB</th>
          <td>Name</td>
          <td>BC No.</td>
          <td>Grade</td>
          <td style="width: 10px"></td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="student in studentsList">
          <td class="align-middle">{{ student.admission_number }}</td>
          <td class="align-middle">{{ student.dob }}</td>
          <td>
            <img :src="renderProfilePic(student.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
            {{ student.full_name }}
          </td>
          <td class="align-middle">{{ student.bc_number }}</td>
          <td class="align-middle">{{ student.grade }}</td>
          <td class="align-middle">
            <button class="btn btn-sm btn-outline-success" @click="onAddStudent(student)">
              <i class="bi bi-person-plus-fill"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>


    </ModalWindow>

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks.js';
import ModalWindow from '@src/components/ModalWindow.vue';

export default {
  name: 'StudentChooser',
  components: {ModalWindow},

  props: {
    addToDispatch: {
      required: true,
    },

    age: {
      type: Number,
      required: true,
    }

  },

  data() {
    return {
      keyword: '',

      searchKeyword: 'bonel',

      /** @type {RunningAgeGroupStudent[]} */
      ageGroupStudents: [],

    };
  },


  computed: {

    studentsList() {
      return this.$store.getters['students/getStudentsList'];
    },

    ageGroupId() {
      return this.$route.params.ageGroupId;
    },

  },


  mounted() {


  },


  methods: {

    async onSearchStudents() {
      try {

        const params = {
          q: this.searchKeyword,
          age: this.age
        };

        await this.$store.dispatch('students/search', params);
      } catch (e) {
        errorDialog({message: 'Failed to fetch students'});
      }
    }, /* on search students */


    async onAddStudent(student) {
      try {

        const params = {
          age_group_id: this.ageGroupId,
          student_id: student.id,
        };

        await this.$store.dispatch(this.addToDispatch, params);

        this.$emit('student-added');

      } catch (e) {
        errorDialog({message: 'Failed to add student'});
      }
    },

    renderProfilePic(profilePic) {
      if (profilePic === '' || profilePic === null) {
        return '/images/profile_pic.svg';
      }
      return profilePic;
    },

  },
};
</script>

<style scoped>

</style>
