<template>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
		<div class="container-fluid">
			<router-link to="/" class="navbar-brand">
				<img :src="logo" alt="" height="24px">
			</router-link>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false"
							aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- left side -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<router-link to="/" class="nav-link">Home</router-link>
					</li>
					
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Students
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li>
								<router-link class="dropdown-item" to="/students">Manage Students</router-link>
							</li>
							<li>
								<router-link class="dropdown-item" to="/students/create">Create Student</router-link>
							</li>
						</ul>
					</li>
					
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" id="navbar-dropdown-staff" role="button" data-bs-toggle="dropdown">
							Staffs
						</a>
						<ul class="dropdown-menu">
							<li>
								<router-link class="dropdown-item" to="/staff/hpe-teachers">HPE Teachers</router-link>
							</li>
							<li>
								<router-link class="dropdown-item" to="/staff/masters-in-charge">Masters In-Charge</router-link>
							</li>
							<li>
								<router-link class="dropdown-item" to="/staff/coaches">Coaches</router-link>
							</li>
						</ul>
					</li>
					
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" id="navbar-dropdown-sports" role="button" data-bs-toggle="dropdown">
							Sports
						</a>
						<ul class="dropdown-menu">
							<li>
								<router-link to="/cricket" class="dropdown-item">Manage Cricket</router-link>
							</li>
							<li>
							</li>
						</ul>
					</li>
					
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" id="navbar-dropdown-athletics" role="button" data-bs-toggle="dropdown">
							Athletics
						</a>
						<ul class="dropdown-menu">
							<li>
								<router-link :to="{name: 'manageRunningGamesPage'}" class="dropdown-item">Running Events</router-link>
							</li>
							<li>
								<router-link class="dropdown-item" :to="{name:'manageEventsPage'}">Other Events</router-link>
							</li>
						</ul>
					</li>
				
				</ul>
				
				<!-- right side -->
				<div class="d-flex align-items-center">
          <span v-if="loginState" class="me-2">
            <span class="navbar-text">Welcome {{ loggedInUser.full_name }}</span>
          </span>
					<router-link to="/login" class="btn btn-success btn-sm me-2" v-if="!loginState">Login</router-link>
					
					<router-link to="/users" class="btn btn-outline-success btn-sm me-2" v-if="loginState && userType === 'ADMIN'"><i class="bi bi-people-fill"></i>Manage
						users
					</router-link>
					
					<button class="btn btn-danger btn-sm" @click="logout" v-if="loginState">Logout</button>
				</div>
			</div>
		</div>
	</nav>

</template>

<script>

import logo from '@src/assets/images/logo.svg';

export default {
	name: 'TopNavigationBar',
	
	data() {
		return {
			logo,
		};
	},
	
	computed: {
		
		loginState: function () {
			return this.$store.getters.getLoginStatus;
		},
		
		loggedInUser: function () {
			return this.$store.getters.getLoggedInUser;
		},
		
		userType: function () {
			return this.$store.getters.getUserType;
		},
		
	},
	
	methods: {
		
		async logout() {
			
			try {
				await this.$store.dispatch( 'auth_logout' );
				await this.$router.push( '/login' );
				
			} catch ( e ) {
				console.log( e );
				alert( 'Failed to logout' );
			}
			
		},
		
	},
	
};
</script>

<style scoped>

</style>
