<template>

  <div class="mb-3">

    <h3>Students Details</h3>

    <div class="d-flex justify-content-between">
      <div class="left d-flex flex-row gap-4">

        <div class="block border rounded house-blue d-flex flex-column align-items-center">
          <span class="text-medium">Bonel</span>
          <span class="text-large">123</span>
        </div>

        <div class="block border rounded house-green d-flex flex-column align-items-center">
          <span class="text-medium">Marian</span>
          <span class="text-large">130</span>
        </div>

        <div class="block border rounded house-yellow d-flex flex-column align-items-center">
          <span class="text-medium">Miller</span>
          <span class="text-large">151</span>
        </div>

        <div class="block border rounded house-red d-flex flex-column align-items-center">
          <span class="text-medium">Crother</span>
          <span class="text-large">142</span>
        </div>

      </div>
      <div class="right">
        <div class="block border rounded bg-gray student_total d-flex flex-column align-items-center">
          <span class="text-medium">Total students</span>
          <span class="text-large">750</span>
        </div>
      </div>
    </div>

    <hr>

  </div><!-- template -->

</template>

<script>
export default {
  name: 'StudentsSection',
};
</script>

<style scoped>

.text-large {
  font-size: 3.5em;
}

.text-medium {
  font-size: 1.2em;
}

.block {
  border: solid 1px #6c757d;
  padding: 0.125em 0.25rem;
}

.house-blue {
  background-color: rgba(9, 132, 227, 0.5);
  border: solid 2px rgba(9, 132, 227, 1) !important;
}

.house-red {
  background-color: rgba(214, 48, 49, 0.5);
  border: solid 2px rgba(214, 48, 49, 1) !important;
}

.house-green {
  background-color: rgba(0, 184, 148, 0.5);
  border: solid 2px rgba(0, 184, 148, 1) !important;
}

.house-yellow {
  background-color: rgba(253, 203, 110, 0.5);
  border: solid 2px rgba(253, 203, 110, 1) !important;
}

.bg-gray {
  background-color: rga(223, 230, 233, 0.5);
  border: solid 2px rgb(223, 230, 233) !important;
}

</style>
