<template>

  <CardSection class="mb-3" color="blue">

    <template v-slot:title>Practice Times</template>

    <div class="mb-3">
      <label class="form-label">Practice place</label>
      <textarea rows="3" class="form-control" v-model.trim="place"></textarea>
    </div>

    <div class="row justify-content-center g-2">

      <div class="col">
        <div class="mb-1">
          <label class="form-label">Monday</label>
          <input type="time" class="form-control" v-model="practiceTimes.mon_start">
          <input type="time" class="form-control" v-model="practiceTimes.mon_end">
        </div>
      </div><!-- col -->

      <div class="col">
        <div class="mb-1">
          <label class="form-label">Tuesday</label>
          <input type="time" class="form-control" v-model="practiceTimes.tue_start">
          <input type="time" class="form-control" v-model="practiceTimes.tue_end">
        </div>
      </div><!-- col -->

      <div class="col">
        <div class="mb-1">
          <label class="form-label">Wednesday</label>
          <input type="time" class="form-control" v-model="practiceTimes.wed_start">
          <input type="time" class="form-control" v-model="practiceTimes.wed_end">
        </div>
      </div><!-- col -->

      <div class="col">
        <div class="mb-1">
          <label class="form-label">Thursday</label>
          <input type="time" class="form-control" v-model="practiceTimes.thu_start">
          <input type="time" class="form-control" v-model="practiceTimes.thu_end">
        </div>
      </div><!-- col -->


      <div class="col">
        <div class="mb-1">
          <label class="form-label">Friday</label>
          <input type="time" class="form-control" v-model="practiceTimes.fri_start">
          <input type="time" class="form-control" v-model="practiceTimes.fri_end">
        </div>
      </div><!-- col -->

      <div class="col">
        <div class="mb-1">
          <label class="form-label">Saturday</label>
          <input type="time" class="form-control" v-model="practiceTimes.sat_start">
          <input type="time" class="form-control" v-model="practiceTimes.sat_end">
        </div>
      </div><!-- col -->

      <div class="col">
        <div class="mb-1">
          <label class="form-label">Sunday</label>
          <input type="time" class="form-control" v-model="practiceTimes.sun_start">
          <input type="time" class="form-control" v-model="practiceTimes.sun_end">
        </div>
      </div><!-- col -->


      <div class="text-center">
        <button class="btn btn-primary" @click="onUpdate()">Update practice times</button>
        <router-link :to="{name: 'publicCricketPractice'}"
                     class="btn btn-outline-secondary"
                     target="_blank"><i class="bi bi-link-45deg"></i> Get public sharing link
        </router-link>
      </div>

    </div>

  </CardSection>

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks.js';
import CardSection from '@src/components/CardSection.vue';
import voca from 'voca';

export default {
  name: 'CricketPractice',
  components: { CardSection },

  props: {
    practiceData: {
      // type: Object,
      required: true,
    },
  },


  data() {
    return {

      practiceTimes: {
        sun_start: '',
        sun_end: '',
        mon_start: '',
        mon_end: '',
        tue_start: '',
        tue_end: '',
        wed_start: '',
        wed_end: '',
        thu_start: '',
        thu_end: '',
        fri_start: '',
        fri_end: '',
        sat_start: '',
        sat_end: '',
      },

      place: '',

    };
  },

  computed: {
    monday() {
      return this.practiceTimes.mon_start + ',' + this.practiceTimes.mon_end;
    },

    tuesday() {
      return this.practiceTimes.tue_start + ',' + this.practiceTimes.tue_end;
    },

    wednesday() {
      return this.practiceTimes.wed_start + ',' + this.practiceTimes.wed_end;
    },

    thursday() {
      return this.practiceTimes.thu_start + ',' + this.practiceTimes.thu_end;
    },

    friday() {
      return this.practiceTimes.fri_start + ',' + this.practiceTimes.fri_end;
    },

    saturday() {
      return this.practiceTimes.sat_start + ',' + this.practiceTimes.sat_end;
    },

    sunday() {
      return this.practiceTimes.sun_start + ',' + this.practiceTimes.sun_end;
    },
  },

  mounted() {

    if ( this.practiceData !== null ) {
      this.place = this.practiceData.place;

      let day = voca.split( this.practiceData.monday, ',' );
      this.practiceTimes.mon_start = day[ 0 ];
      this.practiceTimes.mon_end = day[ 1 ];

      day = voca.split( this.practiceData.tuesday, ',' );
      this.practiceTimes.tue_start = day[ 0 ];
      this.practiceTimes.tue_end = day[ 1 ];

      day = voca.split( this.practiceData.wednesday, ',' );
      this.practiceTimes.wed_start = day[ 0 ];
      this.practiceTimes.wed_end = day[ 1 ];

      day = voca.split( this.practiceData.thursday, ',' );
      this.practiceTimes.thu_start = day[ 0 ];
      this.practiceTimes.thu_end = day[ 1 ];

      day = voca.split( this.practiceData.friday, ',' );
      this.practiceTimes.fri_start = day[ 0 ];
      this.practiceTimes.fri_end = day[ 1 ];

      day = voca.split( this.practiceData.saturday, ',' );
      this.practiceTimes.sat_start = day[ 0 ];
      this.practiceTimes.sat_end = day[ 1 ];

      day = voca.split( this.practiceData.sunday, ',' );
      this.practiceTimes.sun_start = day[ 0 ];
      this.practiceTimes.sun_end = day[ 1 ];
    }

  },

  methods: {

    async onUpdate() {

      const params = {
        id: this.practiceData.id,
        place: this.place,
        monday: this.monday,
        tuesday: this.tuesday,
        wednesday: this.wednesday,
        thursday: this.thursday,
        friday: this.friday,
        saturday: this.saturday,
        sunday: this.sunday,
      };

      try {

        await this.$store.dispatch( 'cricketAgeGroups/updatePractice', params );

        successDialog( {
          message: 'Practice details updated',
        } );

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to update practice details',
        } );
      }

    },

  },

};
</script>

<style scoped>

</style>
