<template>

  <div class="mb-3" v-if="loaded">

    <div class="row">
      <div class="col">

        <div class="d-flex justify-content-between align-items-center">

          <div class="left">
            <h1>{{ formAgeGroup.title }} ({{ formAgeGroup.year }})</h1>
            <h4 class="text-black-50">Master In-Charge: {{ formAgeGroup.master_in_charge.full_name }}</h4>
            <h4 class="text-black-50">Coach: {{ formAgeGroup.coach.full_name }}</h4>
          </div>

          <div class="right">
            <router-link to="/cricket" class="btn btn-secondary">
              <i class="bi bi-arrow-left"></i>
            </router-link>
            <button class="btn btn-primary" @click="$refs.modal__edit_age_group_details.show()">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>

        </div><!-- d-flex -->

      </div><!-- col -->
    </div><!-- row -->


    <!-- MODAL: Edit Cricket Age Group Details -->
    <ModalWindow id="modal__ecad" ref="modal__edit_age_group_details" size="md" title="Edit age group details">

      <div class="row">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Year</label>
            <input type="number" class="form-control" v-model="formAgeGroup.year">
          </div>

          <div class="mb-3">
            <label class="form-label">Title</label>
            <select class="form-select" v-model="formAgeGroup.title">
              <option v-for="item in titleValues" :value="item">{{ item }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Max age</label>
            <input type="number" class="form-control" v-model.number="formAgeGroup.age">
          </div>

          <div class="mb-3">
            <label class="form-label">Coach</label>
            <select class="form-select" v-model="formAgeGroup.coach_id">
              <option value="-1" disabled>CHOOSE ONE</option>
              <option v-for="item in coachesList" :value="item.id">{{ item.full_name }}</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Master in-charge</label>
            <select class="form-select" v-model="formAgeGroup.master_in_charge_id">
              <option value="-1" disabled>CHOOSE ONE</option>
              <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
            </select>
          </div>

          <div class="text-center">
            <button class="btn btn-primary" @click="onUpdate()">Update</button>
          </div>

          <hr>

        </div><!-- col -->
      </div><!-- row -->

      <div class="row">
        <!-- Delete age group section -->
        <div class="col text-center">

          <button class="btn btn-sm btn-outline-danger mb-3" @click="toggleDeleteSection = !toggleDeleteSection">Delete this age group</button>


          <div class="row" v-if="toggleDeleteSection">
            <div class="col text-center">

              <div class="mb-3">
                <label class="form-label">Type 'DELETE' to confirm delete this age group.</label>
                <input type="text" class="form-control" v-model="textConfirmDelete">
              </div>

              <button class="btn btn-danger" :disabled="!confirmDelete" @click="onDelete()">Confirm delete</button>

            </div>
          </div>

        </div><!-- col: delete age group -->
      </div>

    </ModalWindow>


  </div>

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';
import ModalWindow from '@src/components/ModalWindow.vue';
import moment from 'moment';

const _ = require('lodash');

export default {
  name: 'EditCricketAgeGroup',
  components: {ModalWindow, CardSection},

  props: {
    ageGroupId: {
      required: true,
      type: Number,
    },
  },


  data() {
    return {

      loaded: false,

      titleValues: [
        'Under 12',
        'Under 14',
        'Under 16',
        'Under 18',
        'Under 20',
      ],

      /** @type {CricketAgeGroup} */
      formAgeGroup: {
        id: undefined,
        title: '',
        age: 0,
        year: _.toNumber(moment().format('YYYY')),
        coach_id: -1,
        master_in_charge_id: -1,
        coach: undefined,
        master_in_charge: undefined,
        practice: undefined,
      },

      /* delete age group */

      toggleDeleteSection: false,
      textConfirmDelete: '',

    };
  },

  computed: {
    /** @returns {MasterInCharge[]} */
    mastersInChargeList() {
      return this.$store.getters['mastersInCharge/getMastersInChargeList'];
    },

    /** @returns {Coach[]} */
    coachesList() {
      return this.$store.getters['coaches/getCoachesList'];
    },


    confirmDelete() {
      return this.textConfirmDelete === 'DELETE';
    },


  },

  async mounted() {

    try {

      await this.$store.dispatch('coaches/fetchAll');
      await this.$store.dispatch('mastersInCharge/fetchAll');

      await this.$store.dispatch('cricketAgeGroups/fetch', this.ageGroupId);

      this.formAgeGroup = this.$store.getters['cricketAgeGroups/getAgeGroup'];

      this.loaded = true;

    } catch (e) {
      errorDialog({message: 'Failed to fetch details'});
    }


  },

  methods: {

    async onUpdate() {

      try {

        const params = {
          id: this.formAgeGroup.id,
          title: this.formAgeGroup.title,
          year: this.formAgeGroup.year,
          age: this.formAgeGroup.age,
          master_in_charge_id: this.formAgeGroup.master_in_charge_id,
          coach_id: this.formAgeGroup.coach_id,
        };

        await this.$store.dispatch('cricketAgeGroups/update', params);

        successDialog({
          message: 'Details updated',
        });

      } catch (e) {
        errorDialog({
          message: 'Failed to update age group details',
        });
      }

    }, /* onUpdate */

    async onDelete() {

      try {

        await this.$store.dispatch('cricketAgeGroups/delete', this.ageGroupId);

        this.$refs.modal__edit_age_group_details.hide();

        await this.$router.push('/cricket');

      } catch (e) {
        errorDialog({
          message: 'Failed to delete the age group',
        });
      }

    },/* onDelete */


  },

};
</script>

<style scoped>

</style>
