<template>

  <div>

    <CardSection class="mb-3" color="blue">
      <template v-slot:title>Students</template>

      <div class="">

        <div class="mb-3">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal__cricket_ag_add_students">
            Add students
          </button>
        </div>

        <table class="table table-bordered" v-if="cricketAgeGroupStudentsList.length > 0">
          <thead>
          <tr>
            <th>Add. No.</th>
            <th>DoB</th>
            <td>Name</td>
            <td>BC No.</td>
            <td>Grade</td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in cricketAgeGroupStudentsList">
            <td class="align-middle">
              <router-link :to="_renderAgeGroupStudentPageLink(item)">
                {{ item.student.admission_number }}
              </router-link>
            </td>
            <td class="align-middle">{{ item.student.dob }}</td>
            <td class="align-middle">
              <img :src="renderProfilePic(item.student.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
              {{ item.student.full_name }}
            </td>
            <td class="align-middle">{{ item.student.bc_number }}</td>
            <td class="align-middle">{{ item.student.grade }}</td>
          </tr>
          </tbody>
        </table>

        <div v-else>
          No students in this age group. Start adding new students.
        </div>


      </div>

    </CardSection>


    <!-- MODAL: Search and add student to the current age group -->
    <ModalWindow id="modal__cricket_ag_add_students" size="lg" title="Add students" :backdrop="true">

      <div class="mb-3">
        <div class="input-group">
          <input type="text" class="form-control" v-model="searchKeyword" @keydown.enter="onSearchStudents()"
                 placeholder="Search for students by keywords Eg. Name, house, admission number...">
          <button class="btn btn-primary" @click="onSearchStudents()">Search</button>
        </div>
      </div>

      <table class="table table-bordered" v-if="studentsList.length > 0">
        <thead>
        <tr>
          <th>Add. No.</th>
          <th>DoB</th>
          <td>Name</td>
          <td>BC No.</td>
          <td>Grade</td>
          <td style="width: 10px"></td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="student in studentsList">
          <td class="align-middle">{{ student.admission_number }}</td>
          <td class="align-middle">{{ student.dob }}</td>
          <td>
            <img :src="renderProfilePic(student.profile_pic)" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
            {{ student.full_name }}
          </td>
          <td class="align-middle">{{ student.bc_number }}</td>
          <td class="align-middle">{{ student.grade }}</td>
          <td class="align-middle">
            <button class="btn btn-sm btn-outline-success" @click="onAddStudent(student)">
              <i class="bi bi-person-plus-fill"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div v-else>No results found.</div>


    </ModalWindow>

  </div><!-- template -->


</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';
import ModalWindow from '@src/components/ModalWindow';

export default {
  name: 'ListCricketAGStudents',
  components: {ModalWindow, CardSection},

  props: {
    ageGroupId: {
      required: true,
      type: Number,
    },
    age: {
      required: true,
      type: Number
    }
  },

  data() {
    return {
      searchKeyword: 'bonel',
    };
  },

  computed: {

    /** @returns {Student[]} */
    studentsList() {
      return this.$store.getters['students/getStudentsList'];
    },

    /** @returns {CricketAgeGroupStudent[]} */
    cricketAgeGroupStudentsList() {
      return this.$store.getters['cricketAgeGroups/getStudentsListInAgeGroup'];
    },

  },

  async mounted() {

    try {
      await this.$store.dispatch('cricketAgeGroups/fetchAllAgeGroupStudents', this.ageGroupId);
    } catch (e) {
      errorDialog({message: 'Failed to fetch students in the age group'});
    }

  },

  methods: {

    async onSearchStudents() {
      try {

        const params = {
          q: this.searchKeyword,
          age: this.age,
        };

        await this.$store.dispatch('students/search', params);
      } catch (e) {
        errorDialog({message: 'Failed to fetch students'});
      }
    }, /* on search students */


    async onAddStudent(student) {
      try {

        const params = {
          cricket_age_group_id: this.ageGroupId,
          student_id: student.id,
        };

        await this.$store.dispatch('cricketAgeGroups/addStudent', params);
        await this.$store.dispatch('cricketAgeGroups/fetchAllAgeGroupStudents', this.ageGroupId);

      } catch (e) {
        errorDialog({message: 'Failed to add student'});
      }
    },


    _renderAgeGroupStudentPageLink(ageGroupStudent) {
      return {
        name: 'CricketAgeGroupStudentPage',
        params: {
          ageGroupId: this.ageGroupId,
          ageGroupStudentId: ageGroupStudent.id,
        },
      };
    },

    renderProfilePic(profilePic) {
      if (profilePic === '' || profilePic === null) {
        return '/images/profile_pic.svg';
      }
      return profilePic;
    },


  },


};
</script>

<style scoped>

</style>
